{% extends "layouts/content.html" %}
{% load i18n %}


{% block title %}
{{ block.super }} | {% trans "XML-RPC" %}
{% endblock %}


{% block navigation %}
<div id="lava-server-extension-navigation">
  <ul>
    <li><a class="lava-back" href="{% url lava.home %}"
      >{% trans "Back to LAVA" %}</a></li>
    <li><a href="{% url lava.api_help %}">{% trans "API Help" %}</a></li>
    <li><a href="{% url linaro_django_xmlrpc.views.tokens %}">{% trans "Authentication Tokens" %}</a></li>
  </ul>
</div>
{% endblock %}


{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url lava.api_help %}">{% trans "Available Methods" %}</a></li>
{% endblock %}
