{% extends "layouts/content.html" %}
{% load i18n %}


{% block title %}
{{ block.super }} | {% trans "XML-RPC" %}
{% endblock %}


{% block extension_navigation %}
<div id="lava-server-extension-navigation" class="lava-server-sub-toolbar">
  <ul>
    <li><a href="{% url linaro_django_xmlrpc.views.default_handler %}">{% trans "XML-RPC Handler" %}</a></li>
    <li><a href="{% url linaro_django_xmlrpc.views.tokens %}">{% trans "Authentication Tokens" %}</a></li>
  </ul>
</div>
{% endblock %}


{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url linaro_django_xmlrpc.views.handler %}">{% trans "XML-RPC Handler" %}</a></li>
{% endblock %}
