{% extends "layouts/content.html" %}
{% load markup %}
{% load i18n %}


{% block title %}
{{ block.super }} | {% trans "XML-RPC" %}
{% endblock %}


{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url lava.home %}">{% trans "LAVA" %}</a></li>
<li>{% trans "API" %}</li>
<li><a href="{% url lava.api_help %}">{% trans "Available Methods" %}</a></li>
{% endblock %}


{% block navigation %}
<div id="lava-extension-navigation">
  <ul>
    <li><a class="lava-back" href="{% url lava.home %}"
      >{% trans "Back to LAVA" %}</a></li>
    <li><a href="{% url lava.api_help %}">{% trans "API Help" %}</a></li>
    <li><a href="{% url linaro_django_xmlrpc.views.tokens %}">{% trans "Authentication Tokens" %}</a></li>
  </ul>
</div>
{% endblock %}


{% block content %}
<h2>About XML-RPC API</h2>
<p>LAVA Server offers API services as an XML-RPC server. You can interact with it using any XML-RPC
client. For example, in python you can do this:</p>
<pre>
import xmlrpclib
server = xmlrpclib.ServerProxy("{{ site_url }}{% url lava.api_handler %}")
print server.system.listMethods()
</pre>

<h2>Available functions</h2>
<div id="accordion">
  {% for method in methods %}
  <h3><a href="#{{method.name}}">{{ method.name }}</a></h3>
  <div>{{ method.help|restructuredtext }}</div>
  {% endfor %}
</div>
<script type="text/javascript">
  $(function(){ $('#accordion').accordion({ navigation: true, active: false, collapsible: true}) });
</script>
{% endblock %}
