{% extends "linaro_django_xmlrpc/_base.html" %}
{% load markup %}
{% load i18n %}


{% block title %}{{ block.super }} | {% trans "XML-RPC Handler" %}{% endblock %}


{% block breadcrumbs %}
{{ block.super }}
{% endblock %}


{% block content %}
<h2>About XML-RPC API</h2>
<p>LAVA Server offers API services as an XML-RPC server. You can interact with it using any XML-RPC
client. For example, in python you can do this:</p>
<pre>
import xmlrpclib
server = xmlrpclib.ServerProxy("{{ site_url }}{% url lava.api_handler %}")
print server.system.listMethods()
</pre>

<h2>Available functions</h2>
<div id="accordion">
  {% for method in methods %}
  <h3><a href="#{{method.name}}">{{ method.name }}</a></h3>
  <div>{{ method.help|restructuredtext }}</div>
  {% endfor %}
</div>
<script type="text/javascript">
  $(function(){ $('#accordion').accordion({ navigation: true, active: false, collapsible: true}) });
</script>
{% endblock %}
