{% extends "layouts/form.html" %}
{% load i18n %}

{% block title %}
{{ block.super }}
| {% trans "API" %}
| {% trans "Authentication Tokens" %}
| {% trans "Delete Token" %} {{ token.pk }}
{% endblock %}


{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'lava.home' %}">{% trans "LAVA" %}</a></li>
<li>{% trans "API" %}</li>
<li><a
  href="{% url 'linaro_django_xmlrpc.views.tokens' %}"
  >{% trans "Authentication Tokens" %}</a></li>
<li><a 
  href="{% url 'linaro_django_xmlrpc.views.delete_token' token.pk %}"
  >{% trans "Delete Token" %} {{ token.pk }}</a></li>
{% endblock %}


{% block form_header %}
<p>Would you like to delete {{ token }} 
{% if token.description %}
with description &ldquo;{{ token.description }}&rdquo;?
{% else %}
with no description?
{% endif %}
</p>
{% endblock %}


{% block form_footer %}
<h2>Continue</h2>
<input type="submit" value="Delete"/>
or <a
  href="{% url 'linaro_django_xmlrpc.views.tokens' %}"
  >cancel</a>
{% endblock %}
