{% extends "layouts/form.html" %}
{% load i18n %}

{% block title %}
{{ block.super }}
| {% trans "API" %}
| {% trans "Authentication Tokens" %}
| {% trans "Edit Token" %} {{ token.pk }}
{% endblock %}


{% block breadcrumbs %}
{{ block.super }}
<li><a
  href="{% url 'lava.home' %}"
  >{% trans "LAVA" %}</a></li>
<li>{% trans "API" %}</li>
<li><a
  href="{% url 'linaro_django_xmlrpc.views.tokens' %}"
  >{% trans "Authentication Tokens" %}</a></li>
<li><a
  href="{% url 'linaro_django_xmlrpc.views.edit_token' token.pk%}"
  >{% trans "Edit Token" %} {{ token.pk }}</a></li>
{% endblock %}


{% block form_header %}
<h1>Edit token {{ token.pk }}</h1>
{% endblock %}


{% block form_footer %}
{{ block.super }}
or <a
  href="{% url 'linaro_django_xmlrpc.views.tokens' %}"
  >cancel</a>
{% endblock %}
