{% extends "linaro_django_xmlrpc/_base.html" %}
{% load i18n %}


{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lava-server/css/demo_table_jui.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}lava-server/js/jquery.dataTables.min.js"></script> 
{% endblock %}


{% block title %}{{ block.super }} | {% trans "API Tokens" %}{% endblock %}


{% block breadcrumbs %}
{{ block.super }}
<li><a
  href="{% url linaro_django_xmlrpc.views.tokens %}"
  >{% trans "Authentication Tokens" %}</a></li>
{% endblock %}


{% block content %}
<script type="text/javascript" charset="utf-8"> 
  $(document).ready(function() {
    $('#tokens').dataTable({
      bJQueryUI: true,
      sPaginationType: "full_numbers",
      aaSorting: [[1, "desc"]],
    });
    $('#tokens tbody td a').button();
    $('button').button();
  });
</script> 
<table id="tokens" class="demo_jui display">
  <caption>
    Available authentication tokens for {{ request.user.username }}
  </caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>{% trans "Description" %}</th>
      <th>{% trans "Created On" %}</th>
      <th>{% trans "Last Used On" %}</th>
      <th style="width: 128ex">{% trans "Secret" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for token in token_list %}
    <tr>
      <td>{{ token.pk }}</td>
      <td>{{ token.description|default:"empty" }}</td>
      <td>{{ token.created_on|date }}</td>
      <td>{{ token.last_used_on|default_if_none:"Never" }}</td>
      <td>
        <code style="display:none; overflow:auto;" id="secret_{{ forloop.counter }}">{{ token.secret }}</code>
      </td>
      <td>
        <a href="{% url linaro_django_xmlrpc.views.delete_token token.pk %}">{% trans "Delete" %}</a>
        <a href="{% url linaro_django_xmlrpc.views.edit_token token.pk %}">{% trans "Edit" %}</a>
        <button id="button_{{ forloop.counter }}">{% trans "Toggle" %}</button>
        <script type="text/javascript">
          $("#button_{{ forloop.counter }}").click(function() {
            $("#secret_{{ forloop.counter }}").toggle();
          });
        </script>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}


{% block sidebar %}
<p>
  Authentication tokens allow scripts
  using <a href="https://launchpad.net/lava-tool">lava-tool</a> to
  securely access LAVA resources.
</p>
<p>You can <a href="{% url linaro_django_xmlrpc.views.create_token %}">create a new authentication token</a>.</p>
{% endblock %}
