{% extends "base.html" %}

{% block title %}
| Alpha software notice
{% endblock %}

{% block alpha_notice %}
{% endblock %}

{% block content %}
<h2>Alpha Software Notice</h2>

<p>This is a snapshot of the development version of Launch Control.</p>
<p>Launch Control is an implementation of the <a href="https://blueprints.launchpad.net/ubuntu/+spec/arm-m-validation-dashboard"> validation dashboard blueprint</a>.</p>
<p>The project is tracked using <a href="http://launchpad.net/launch-control">Launchpad</a>. All bugs should be reported there.</p>

<p>Work focus:</p>
<ul>
  <li style="font-weight:bold">Merge development branch to stable branch</li>
</ul>
{% endblock %}       
