{% extends "base.html" %}

{% block content %}
<h1>Home page view</h1>
<p>Content needed:</p>
<dl>
  <dt>Header</dt>
  <dd>Context information (bread crumbs, sign in/sign out links, etc)</dd>
  <dt>Find existing project widget</dt>
  <dd>A AJAX-powered search box</dd>
  <dd>A grid of icons showing most interesting projects (by default) or interactive search results</dd>
  <dd>A <q>start a new project</q> link
  <dt>Learn more widget</dt>
  <dd>A short video clip that explains what the dashboard is and how it can be used</dd>
  <dd>Several paragraphs of text that describe the video and encourage people to see it</dd>
</dl>
{% endblock %}
