[run]
source =
    lava
    lava_common
    lava_dispatcher
    lava_dispatcher_host
    lava_results_app
    lava_rest_app
    lava_scheduler_app
    lava_server
    linaro_django_xmlrpc

omit =
    */tests/*
    */tests.py

[report]
precision = 2

[html]
title = LAVA coverage report
