*~
*.db
*.e4p
*.egg-info
*.egg
*.log
*.min.js
*.pyc
*.swp
.cache
.eggs
.eric6project
.idea
_build
_trial_temp
bin
dist
django.log
doc/html
lava_server/precious
tags
testrepository/
tmp*/
versiontools-*egg
.pytest_cache/
