include COPYING.AGPL-3 
include HACKING
include INSTALL 
include NEWS 
include README 
recursive-include lava_server *.gif *.png *.js *.css *.svg *.ico *.woff
recursive-include lava_server/templates *.html
recursive-include lava_results_app/templates *.html
recursive-include lava_results_app/tests *.yaml
recursive-include lava_results_app/static *.png *.js *.css *.gif
recursive-include google_analytics/templates *.html
include google_analytics/LICENSE
include google_analytics/USAGE
include setup-dev-env.sh
recursive-include dashboard_app/fixtures *.json
recursive-include dashboard_app/templates *.html *.txt
recursive-include dashboard_app/tests/regressions *.json
recursive-include dashboard_app/static *.png *.js *.css *.gif
recursive-include dashboard_app/templates *.html
recursive-include examples *.xml *.json *html *.conf
recursive-include lava_scheduler_app/templates *.html *.txt
recursive-include lava_scheduler_app/tests *.yaml *.json
recursive-include lava_scheduler_app/tests/device-types *.jinja2
recursive-include lava_scheduler_app/tests/devices *.jinja2
recursive-include lava_scheduler_app/static *.js *.css *.gif *.png
recursive-include doc/images *.gif *.png *.jpg *.jpeg *.bmp *.svg *.odg
recursive-include doc/v1/images *.gif *.png *.jpg *.jpeg *.bmp *.svg *.odg
recursive-include doc/v2/images *.gif *.png *.jpg *.jpeg *.bmp *.svg *.odg
recursive-include doc/v2/examples *.yaml *.txt *.py
recursive-include doc/v2/_templates *.html
include instance.template
include doc/*
include doc/deprecated/*
include doc/v1/*
include doc/v2/*
include doc/_static/*
include doc/v1/_static/*
include doc/v2/_static/*
include doc/v1/linaro_dashboard_bundle/*
include man/*
include etc/lava-master
include etc/lava-master.init
include etc/lava-master.service
include etc/lava-publisher.init
include etc/lava-publisher.service
include etc/lava-server.init
include etc/lava-server.conf
include etc/lava-server.gunicorn
include etc/lava-server-gunicorn.init
include etc/lava-server-gunicorn.service
include etc/env.yaml
include etc/logrotate.d/*
include etc/settings.conf
include fake-dispatcher
include version.py
recursive-include etc/dispatcher-config README
include share/*
include share/zmq/*
include lava_server/templates/robots.txt
