PyYAML
dateutil
django-auth-ldap>=1.2.12
django-restricted-resource>=2016.8
django-tables2>=1.14.2
django>=1.10
docutils>=0.6
jinja2
markdown>=2.0.3
nose
psycopg2
pytz
pyzmq
requests
simplejson
voluptuous>=0.8.8
