{% if attachments.all %}
<ul class="attachments">
  {% for attachment in attachments.all %}
  {% if attachment.is_archived %}
  <div class="alert alert-warning" id="archive-warning">
    <p><strong>An attachment was archived.</strong>
      Please contact the administrator for the attachment.</p>
  </div>
  {% else %}
  <li>
    <b>{{ attachment }}</b> ({{attachment.mime_type}})
    {% if attachment.content %}
    ({{ attachment.get_content_size }})
    <br />
    <a href="{{ attachment.get_download_url }}">download</a>
    {% if attachment.is_viewable %}
    &nbsp;<a href="{{ attachment.get_view_url }}">view</a>
    {% endif %}
    {% endif %}
    {% if attachment.public_url %}
    <br />
    <a href="{{ attachment.public_url }}">{{ attachment.public_url }}</a>
    {% endif %}
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% else %}
<i>none</i>
{% endif %}
