{% extends "dashboard_app/_content_with_sidebar.html" %}
{% load i18n %}
{% load stylize %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lava-server/css/demo_table_jui.css"/>
{% endblock %}

{% block sidebar %}
<h3>Actions</h3>
<ul>
  <li><a href="{% url 'dashboard_app.views.test_definition' %}">
      List test definitions</a></li>
  <li><a href="{% url 'dashboard_app.views.add_test_definition' %}">
      Add test definition</a></li>
</ul>
{% endblock %}

{% block content %}
<form method="post" action="">
  {% csrf_token %}
  <table>{{ form.as_table }}</table>
  <input type="submit" value="Save"/>
</form>
{% endblock %}
