{% extends "layouts/base.html" %}

{% block extrahead %}
<style type="text/css">
body { background: white; color: black; padding: 0.5em; }
pre:target { background: rgb(255, 128, 128); }
pre { margin: 0; }
p.footer {
  background: rgba(32, 32, 32);
  background: rgba(32, 32, 32, 0.8);
  color: #eee;
  margin:0;
  padding: 1em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
</style>
{% endblock %}

{% block body %}
<p class="footer">
Attachment &ldquo;{{ attachment.content_filename }}&rdquo; of <a href="{{ attachment.content_object.get_absolute_url }}">{{ attachment.content_object }}</a>
</p>
{% for line in attachment.content %}<pre id="L{{forloop.counter}}">{{line}}</pre>{% endfor %}
{% endblock %}
