{% extends "dashboard_app/_content_with_sidebar.html" %}
{% load i18n %}
{% load humanize %}


{% block content %}
<div id="master-toolbar-splice" >
  <span
    class="length"
    style="float:left; display:inline-block; text-align:left;"></span>
  <span
    class="view-as"
    style="text-align:center; display: inline-block; width:auto">
    <input name="radio" checked type="radio" id="as_bundles"/>
    <label for="as_bundles">
      <a
        id="as_bundles_link"
        href="{% url dashboard_app.views.bundle_list bundle_stream.pathname %}"
        >{% trans "Bundles" %}</a>
    </label>
    <input name="radio" type="radio" id="as_test_runs"/>
    <label for="as_test_runs">
      <a
        id="as_test_runs_link"
        href="{% url dashboard_app.views.test_run_list bundle_stream.pathname %}"
        >{% trans "Test Runs" %}</a>
    </label>
  </span>
  <span
    class="search"
    style="float:right; display:inline-block; text-align:right"></span>
</div>
<script type="text/javascript" charset="utf-8"> 
  $(document).ready(function() {
    oTable = $('#bundles').dataTable({
      bJQueryUI: true,
      sPaginationType: "full_numbers",
      aaSorting: [[4, "desc"]],
      iDisplayLength: 25,
      aLengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
      sDom: 'lfr<"#master-toolbar">t<"F"ip>'
    });
    // Try hard to make our radio boxes behave as links
    $("#master-toolbar-splice span.view-as").buttonset();
    $("#master-toolbar-splice span.view-as input").change(function(event) {
      var link = $("#" + event.target.id + "_link");
      location.href=link.attr("href");
    });
    // Insane splicing below
    $("div.dataTables_length").children().appendTo("#master-toolbar-splice span.length");
    $("div.dataTables_filter").children().appendTo("#master-toolbar-splice span.search");
    $("#master-toolbar-splice").children().appendTo($("#master-toolbar"));
    $("div.dataTables_length").remove();
    $("div.dataTables_filter").remove();
    $("#master-toolbar-splice").remove();
    $("#master-toolbar").addClass("ui-widget-header ui-corner-tl ui-corner-tr").css(
      "padding", "5pt").css("text-align", "center");
  });
</script> 
<table class="demo_jui display" id="bundles">
  <thead>
    <tr>
      <th>{% trans "Bundle Name" %}</th>
      <th>{% trans "Passes" %}</th>
      <th>{% trans "Fails " %}</th>
      <th>{% trans "Total Results" %}</th>
      <th>{% trans "Uploaded On" %}</th>
      <th>{% trans "Uploaded By" %}</th>
      <th>{% trans "Deserialized?" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for bundle in bundle_list %}
    <tr>
      <td><a href="{{ bundle.get_absolute_url }}"><code>{{ bundle.content_filename }}</code></a></td>
      <td>{{ bundle.get_summary_results.pass }}</td>
      <td>{{ bundle.get_summary_results.fail }}</td>
      <td>{{ bundle.get_summary_results.total }}</td>
      <td>{{ bundle.uploaded_on|date:"Y-m-d H:i:s"}}</td>
      <td>
        {% if bundle.uploaded_by %}
        {{ bundle.uploaded_by }}
        {% else %}
        <em>{% trans "anonymous user" %}</em>
        {% endif %}
      </td>
      <td>{{ bundle.is_deserialized|yesno }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}


{% block sidebar %}
{% include "dashboard_app/_bundle_stream_sidebar.html" %}
{% endblock %}
