{% extends "layouts/content-bootstrap.html" %}

{% load django_tables2 %}
{% load i18n %}
{% load humanize %}

{% block content %}
{% include "dashboard_app/_bundle_stream_sidebar.html" %}

<div class="modal-header">
  <ul class="nav nav-pills">
    <li><a href="{% url 'dashboard_app.views.bundle_list' bundle_stream.pathname %}"
        class="btn btn-primary btn-sm">{% trans "Bundles" %}</a></li>
    <li><a href="{% url 'dashboard_app.views.test_run_list' bundle_stream.pathname %}"
        class="btn btn-default btn-sm">{% trans "Test Runs" %}</a></li>
  </ul>
</div>

{% render_table bundle_list %}

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}lava_scheduler_app/js/tables.js"></script>
{% endblock %}
