{% extends "dashboard_app/_content.html" %}

{% load django_tables2 %}

{% block extrahead %}
{{ block.super }}
<style type="text/css">
  th.orderable.sortable a {
    color: rgb(0, 136, 204);
    text-decoration: underline;
  }
</style>
{% endblock %}

{% block content %}
{% for table in tables %}
<h3>{{ table.key }} results</h3>
{% if table.only %}
<p style="text-align: {{ table.only }}">
  Results were only present in <a href="{{ tr.get_absolute_url }}">build {{ table.tag }}</a>.
</p>
{% elif table.table %}
{% render_table table.table %}
{% else %}
<p>No difference in {{ table.key }} results{% if table.cases %} for {{ table.cases }}{% endif %}.</p>
{% endif %}
{% endfor %}
{% endblock %}
