{% extends "dashboard_app/_content.html" %}
{% load i18n %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}lava-server/js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lava-server/js/jquery-ui-1.8.12.custom.min.js"></script>
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block content %}
{% if form.instance.pk %}
<h1>Edit filter &ldquo;{{ form.instance.name }}&rdquo;…</h1>
{% else %}
<h1>Add new filter…</h1>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {% include "dashboard_app/filter_form.html" %}
{% if form.instance.pk %}
    <input class="btn btn-primary" type="submit" value="Preview changes">
{% else %}
    <input class="btn btn-primary" type="submit" value="Preview">
{% endif %}
</form>

{% endblock %}
