{% extends "dashboard_app/_content.html" %}
{% load i18n %}
{% load django_tables2 %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css" />
{{ block.super }}
<style type="text/css">
div.selector span.helptext { display: none; }
div.selector h2 { margin: 0; font-size: 11pt; }
div.selector a { text-decoration: none; }
div.selector select { height: 10em; }
div.selector ul.selector-chooser { margin-top: 5.5em; }
div.selector .selector-chosen select {
  border: 1px solid rgb(204, 204, 204);
  border-top: none;
}
</style>
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript">
var django = {};
django.jQuery = $;
</script>
{{ form.media }}
{% endblock %}

{% block content %}
<h1>Add new filter…</h1>

<form action="" method="post">
    {% csrf_token %}
    <p>
      A filter matches test runs by a number of criteria.
    </p>
    <table>
      <tr>
        <th>
          {{ form.name.label_tag }}:
        </th>
        <td>
          {{ form.name }}
          <br /><span class="helptext">{{ form.name.help_text|safe }}</span>
        </td>
      </tr>
      <tr>
        <th>
          {{ form.bundle_streams.label_tag }}:
        </th>
        <td>
          <div>{{ form.bundle_streams }}</div>
          <div style="clear:left">A filter only matches tests within the given <b>bundle streams</b>.</div>
        </td>
      </tr>
      <tr>
        <th>
          Test and test case:
        </th>
        <td>
          {{ form.test }} <select disabled="disabled"><option>&lt;any&gt;</option></select>
          <br /><span class="helptext">{{ form.test.help_text|safe }}</span>
        </td>
      </tr>
      <tr>
        <th>
          {{ form.notification_level.label_tag }}:
        </th>
        <td>
          {{ form.notification_level }}
          <br /><span class="helptext">{{ form.notification_level.help_text|safe }}</span>
        </td>
      </tr>
    </table>
    <input type="submit" value="Create">
</form>

{% endblock %}
