{% extends "dashboard_app/_content.html" %}
{% load i18n %}
{% load django_tables2 %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard_app/css/filter-detail.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}dashboard_app/js/filter-detail.js"></script>
{% endblock %}

{% block content %}

<h1>Filter {{ filter.name }}</h1>

{% include "dashboard_app/filter_summary.html" with filter_data=filter.as_data %}

{% if filter.owner == request.user or request.user.is_superuser %}
<p>
  You can <a href="{{ filter.get_absolute_url }}/+edit">edit</a>
  or <a href="{{ filter.get_absolute_url }}/+delete">delete</a> this filter.
</p>
{% endif %}

{% if subscription %}
<p>
  <a href="{% url dashboard_app.views.filters.views.filter_subscribe username=filter.owner.username name=filter.name %}">Manage</a> your subscription to this filter.
</p>
{% else %}
<p>
  <a href="{% url dashboard_app.views.filters.views.filter_subscribe username=filter.owner.username name=filter.name %}">Subscribe</a> to this filter.
</p>
{% endif %}

{% render_table filter_table %}

<p>
  <button id="compare-button">Compare builds</button>
  <span id="first-prompt" style="display:none">
    Click a build to compare.
  </span>
  <span id="second-prompt" style="display:none">
    Click build to compare with build <span id="p2-build">XXX</span>.
  </span>
  <span id="third-prompt" style="display:none">
    Click <a href="#">here</a> to compare with build <span id="p3-build-1">XXX</span> with build <span id="p3-build-2">XXX</span>.
  </span>
</p>

{% endblock %}
