<dl class="dl-horizontal">
    <dt>Bundle streams</dt>
    <dd>
    {% for stream in filter_data.bundle_streams %}
        {{stream.pathname}}{% if not forloop.last %}, {% endif %}
    {% endfor %}
    </dd>
{% if filter_data.attributes %}
    <dt>Attributes</dt>
    <dd>
    {% for a in filter_data.attributes %}
    {{ a.0 }} == {{ a.1 }} <br />
    {% endfor %}
    </dd>
{% endif %}
{% if filter_data.build_number_attribute %}
    <dt>Build Number Attribute</dt>
    <dd>
    {{ filter_data.build_number_attribute }}
    </dd>
{% endif %}
    <dt>Test cases</dt>
    <dd>
    {% if filter_data.tests %}
        <ul>
        {% for test in filter_data.tests %}
            <li>{{ test.test }}
            {% if test.test_cases %}
                <ul>
                {% for test_case in test.test_cases %}
                    <li>{{ test_case }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <i>any</i>
            {% endif %}</li>
        {% endfor %}
        </ul>
    {% else %}
        <i>any</i>
    {% endif %}
    </dd>
</dl>
