{% extends "layouts/content-bootstrap.html" %}
{% load i18n %}
{% load django_tables2 %}

{% block content %}
<h1>Filters</h1>

<p>A filter matches test runs by a number of criteria.</p>

{% if user_filters_table %}

<h2>Your Filters <small><a href="{% url 'dashboard_app.views.filters.views.filter_add' %}" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-plus-sign"></span> Create</a></small></h2>

{% render_table user_filters_table %}

{% else %}

<p>Please log in to see and manage your filters.</p>

{% endif %}

<h2>Public Filters</h2>

{% render_table public_filters_table %}

{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}lava_scheduler_app/js/tables.js"></script>
{% endblock %}
