{% extends "layouts/content-bootstrap.html" %}

{% load django_tables2 %}

{% block styles %}
<style>
  th.orderable.sortable a {
    color: rgb(0, 136, 204);
    text-decoration: underline;
  }
</style>
{% endblock %}

{% block content %}
{% for trinfo in test_run_info %}
<h3>{{ trinfo.key }} results</h3>
{% if trinfo.only %}
<p style="text-align: {{ trinfo.only }}">
  Results were only present in <a href="{{ trinfo.tr.get_absolute_url }}">build {{ trinfo.tag }}</a>.
</p>
{% elif trinfo.table %}
{% render_table trinfo.table %}
{% else %}
<p>No difference in {{ trinfo.key }} results{% if trinfo.cases %} for {{ trinfo.cases }}{% endif %}.</p>
{% endif %}
{% endfor %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}lava_scheduler_app/js/tables.js"></script>
{% endblock %}
