{% extends "layouts/content-bootstrap.html" %}
{% load i18n %}

{% block content %}

<h2>Subscribe to filter {{ filter.name }}</h2>

<form action="" method="POST">
  {% csrf_token %}
  <p>
    {{ form.level.help_text|safe }}
    {{ form.level.label_tag }}:
    {{ form.level }}
  </p>
  <p>
    {% if form.instance.pk %}
    <input class="btn btn-primary btn-sm" type="submit" name="update" value="Update"/>
    <input class="btn btn-warning btn-sm" type="submit" name="unsubscribe" value="Unsubscribe"/>
    {% else %}
    <input class="btn btn-primary btn-sm" type="submit" name="subscribe" value="Subscribe"/>
    {% endif %}
  </p>
</form>

{% endblock %}
