{% extends "dashboard_app/_content.html" %}
{% load i18n %}
{% load django_tables2 %}

{% block content %}

<h1>Filter {{ filter.name }}</h1>

<table>
  <tr>
    <th>
      Bundle streams
    </th>
    <td>
    {% for r in filter.bundle_streams.all %}
        {{r.pathname}}{% if not forloop.last %}, {% endif %}
    {% endfor %}
    </td>
  </tr>
  <tr>
    <th>
      Attributes
    </th>
    <td>
    {% for a in filter.attributes.all %}
    {{ a }}  <br />
    {% empty %}
    No attribute matches required
    {% endfor %}
    </td>
  </tr>
  <tr>
    <th>
      Test case
    </th>
    <td>
    {% if filter.test_case %}
        {{ filter.test }}:{{ filter.test_case }}
    {% elif filter.test %}
        {{ filter.test }}:&lt;any&gt;
    {% else %}
        &lt;any&gt;:&lt;any&gt;
    {% endif %}
    </td>
  </tr>
</table>

<p>
  You can <a href="{{ filter.get_absolute_url }}/+edit">edit</a>
  or <a href="{{ filter.get_absolute_url }}/+delete">delete</a> this filter.
</p>


{% render_table filter_table %}

{% endblock %}
