{% extends "dashboard_app/_content.html" %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard_app/css/image-report.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}dashboard_app/js/image-report.js"></script>
{% endblock %}

{% block content %}
<h1>Image Report: {{ image.name }}</h1>



<script language="javascript">
  chart_data = $.parseJSON($('<div/>').html("{{chart_data}}").text());
  test_names = $.parseJSON($('<div/>').html("{{test_names}}").text());
  columns = $.parseJSON($('<div/>').html("{{columns}}").text());
</script>

<div id="options">
  Select start and end build number:
  <span id="build_number_start_container">
    <select id="build_number_start" onchange='update_table(columns, chart_data, test_names)'>
    </select>
  </span>

  <span id="build_number_end_container">
    <select id="build_number_end" onchange='update_table(columns, chart_data, test_names)'>
    </select>
  </span>
</div>

<div id="test_selection">
  Filter tests:
  <span id="test_select_container">
    <select id="test_select" onchange='update_table(columns, chart_data, test_names)' multiple>
    </select>
  </span>
</div>



<table id="outer-table">
  <tr>
    <td>
      <table id="test-run-names" class="inner-table">
        <thead>
          <tr>
            <th>
              Build Number
            </th>
          </tr>
        </thead>
        <tbody>
	</tbody>
      </table>
    </td>
    <td>
      <div id="scroller">
        <table id="results-table" class="inner-table">
          <thead>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
      </div>
    </td>
  </tr>
</table>

<form method="POST"
      action="{% url dashboard_app.views.images.link_bug_to_testrun %}"
      id="add-bug-dialog" style="display: none">
  {% csrf_token %}
  <input type="hidden" name="back" value="{{ request.path }}"/>
  <input type="hidden" name="uuid"/>
  <div class="prev" style="display:none">
    XXX
  </div>
  <input name="bug" style="width: 100%"/>
</form>

<form method="POST"
      action="{% url dashboard_app.views.images.unlink_bug_and_testrun %}"
      id="go-to-bug-dialog" style="display: none">
  {% csrf_token %}
  <input type="hidden" name="back" value="{{ request.path }}"/>
  <input type="hidden" name="bug"/>
  <input type="hidden" name="uuid"/>
  <a href="">View bug XXX</a>
</form>

{% endblock %}
