{% extends "dashboard_app/_content.html" %}

{% block content %}
<h1>Add Image Reports 2.0</h1>

{% block content_form %}
<form action="{% url dashboard_app.views.image_reports.views.image_report_add %}" method="post">{% csrf_token %}
<div class="form_field">
  {{ form.name.label_tag }}&#58;&nbsp;{{ form.name }}
</div>
<div class="form_field">
  {{ form.description.label_tag }}&#58;&nbsp;{{ form.description }}
</div>

<div><input type="submit" value="Continue" /></div>
</form>

{% endblock content_form %}


{% endblock %}
