{% extends "dashboard_app/_content.html" %}
{% load i18n %}
{% load keep_spacing %}
{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard_app/css/image-charts.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}lava_scheduler_app/js/jquery.jeditable.mini.js"></script>
{% endblock %}

{% block content %}

<h1>Image Report {{ image_report.name }}</h1>

<div class="fields-container">
  <div class="form-field">
    Status&#58;&nbsp;
    {% if image_report.is_published %}
    <span style="font-weight: bold; color: green;">
      Published
    </span>
    {% else %}
    <span style="font-weight: bold; color: orange;">
      Not Published
    </span>
    {% endif %}
  </div>
  <div class="form-field">
    Description&#58;&nbsp;{{ image_report.description|keep_spacing|linebreaks }}
  </div>
  <div class="form-field">
    <a href="{{ image_report.get_absolute_url }}/+edit">Edit</a> this image report.
  </div>
  <div class="form-field">
    <a href="{{ image_report.get_absolute_url }}">Preview</a> this image report.
  </div>
  <div class="form-field">
    {% if image_report.is_published %}
    <a href="{{ image_report.get_absolute_url }}/+unpublish">Unpublish</a> this image report.
    {% else %}
    <a href="{{ image_report.get_absolute_url }}/+publish">Publish</a> this image report.
    {% endif %}
  </div>

  {% if image_report.is_published %}
  <div class="form-field" style="font-size: 16px; float: left;">
    Image Report Group:&nbsp;&nbsp;
  </div>
  <div id="image_report_group" style="font-size: 16px; float: left;">
{{ image_report.image_report_group|default:"Click here to select"}}</div>
  <div style="clear: both;"></div>

  {% endif %}

</div>

{% if image_report.is_published %}
<script type="text/javascript">

  $("#image_report_group").editable(
  "{% url 'dashboard_app.views.image_reports.views.image_report_add_group' name=image_report.name %}",
  {
    onblur: "submit",
    width: 200,
    submitdata : {"csrfmiddlewaretoken": '{{csrf_token}}'},
  });

  $("#image_report_group").focus(function(event) {
      {% if not image_report.image_report_group %}
        $(event.target).val("");
      {% endif %}
      $(event.target).autocomplete({
        source: '{% url 'dashboard_app.views.image_reports.views.image_report_group_list' %}',
        minLength: 2,
      });
  });

</script>
{% endif %}

<h3>Charts</h3>

<div class="fields-container">
  <a href="{% url 'dashboard_app.views.image_reports.views.image_chart_add' image_report.name %}">
    Add new chart
  </a>
</div>

<div class="list-container">
  {% for image_chart in image_report.imagereportchart_set.all %}
  <div class="chart-title">
    {{ image_chart.name }}
    <a style="font-size: 13px;" href="{{ image_chart.get_absolute_url }}/+delete">
      remove
    </a>
    <a style="font-size: 13px;" href="{{ image_chart.get_absolute_url }}">
      details
    </a>
  </div>
  <div>
    Description: {{ image_chart.description }}
  </div>
  <div>
    Chart type: {{ image_chart.chart_type }}
  </div>
  <div>
    Target goal: {{ image_chart.target_goal|floatformat:"-2" }}
  </div>
  <hr/>
  {% empty %}
  <div>
    <li>No charts added yet.</li>
  </div>
  {% endfor %}
</div>

{% endblock %}
