{% extends "layouts/content-bootstrap.html" %}
{% load i18n %}
{% load keep_spacing %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard_app/css/image-charts.css"/>
{% endblock %}

{% block content %}

<h1>Image Report {{ image_report.name }}</h1>

<div class="fields-container">
  <div class="form-field">
    Status&#58;&nbsp;
    {% if image_report.is_published %}
    <span style="font-weight: bold; color: green;">
      Published
    </span>
    {% else %}
    <span style="font-weight: bold; color: orange;">
      Not Published
    </span>
    {% endif %}
  </div>
  <div class="form-field">
    Description&#58;&nbsp;{{ image_report.description|keep_spacing|linebreaks }}
  </div>
   <h4>Manage</h4>
  <div class="form-field">
    <a href="{{ image_report.get_absolute_url }}/+edit">Edit</a> this image report.
  </div>
  <div class="form-field">
    <a href="{{ image_report.get_absolute_url }}">Preview</a> this image report.
  </div>
  <div class="form-field">
    {% if image_report.is_published %}
    <a href="{{ image_report.get_absolute_url }}/+unpublish">Unpublish</a> this image report.&nbsp;&nbsp;
    <button class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="right" title="Forbid other users from viewing this report.">?</button>
    {% else %}
    <a href="{{ image_report.get_absolute_url }}/+publish">Publish</a> this image report.&nbsp;&nbsp;
    <button class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="right" title="Let other users view this report.">?</button>
    {% endif %}
  </div>

  {% if image_report.is_published %}
  <h4>Organise</h4>
  <div class="form-field" style="float: left;">
    Image Report Group label:&nbsp;&nbsp;
  </div>
  <a href="#">
    <div id="image_report_group" style="float: left;">{{ image_report.image_report_group|default:"Click here to select"}}</div>
  </a>

  {% if image_report.image_report_group %}
  <div id="group_link" class="group-link">
    <a href="{% url 'dashboard_app.views.image_reports.views.image_report_list' %}#{{ image_report.image_report_group|iriencode }}">Group link</a>
  </div>
  {% else %}
  <div id="group_link" class="group-link" style="display: none;">
    <a href="{% url 'dashboard_app.views.image_reports.views.image_report_list' %}#">Group link</a>
  </div>
  {% endif %}
  &nbsp;&nbsp;
  <button class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="right" title="Collect similar reports into a single table on the image reports list.">?</button>

  <div style="clear: both;"></div>

  <h4>Ownership</h4>
  <div class="form-field">
    Maintainer:&nbsp;{{ image_report.user }}
    &nbsp;&nbsp;
    <button class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="right" title="User who created the report.">?</button>
  </div>

  <div class="form-field" style="float: left;">
    Group edit permission:&nbsp;&nbsp;
  </div>
  <a href="#">
    <div id="group" style="float: left;">{{ image_report.group|default:"Click here to select"}}</div>
  </a>
  &nbsp;&nbsp;
  <button class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="right" title="A group of users already listed on the Profile page.">?</button>
  <div style="clear: both;"></div>
  {% endif %}

</div>

<h3>Charts</h3>

<div class="fields-container">
  <a href="{% url 'dashboard_app.views.image_reports.views.image_chart_add' image_report.name %}">
    Add new chart
  </a>
</div>

<div class="list-container" id="charts">
  {% for image_chart in image_report.imagereportchart_set.all %}
  <div id="{{ image_chart.id }}" class="sortable-placeholder">
    <div class="chart-title">
      {{ image_chart.name }}
      <a style="font-size: 13px;" href="{{ image_chart.get_absolute_url }}/+delete" onclick="return confirm('Are you sure you want to delete this chart?');">
        remove
      </a>
      <a style="font-size: 13px;" href="{{ image_chart.get_absolute_url }}">
        details
      </a>
    </div>
    <div>
      Description: {{ image_chart.description }}
    </div>
    <div>
      Chart type: {{ image_chart.chart_type }}
    </div>
    <div>
      Target goal: {{ image_chart.target_goal|floatformat:"-2" }}
    </div>
    {% if image_chart.chart_type == "pass/fail" %}
    <div>
      Percentage: {{ image_chart.is_percentage|yesno:"Yes,No" }}
    </div>
    {% endif %}
  </div>

  {% empty %}
  <div>
    <li>No charts added yet.</li>
  </div>
  {% endfor %}
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}lava_scheduler_app/js/jquery.jeditable.min.js"></script>
<script>
  $("#charts").sortable({
    cursor: "move",
    placeholder: "sortable-placeholder",
    forcePlaceholderSize: true
  });
  $("#charts").disableSelection();

  $("#charts").on("sortstop", function(event, ui) {
  var chart_id_order = $("#charts").sortable("toArray").join();
    $.ajax({
      url: "{% url 'dashboard_app.views.image_reports.views.image_report_order_update' name=image_report.name %}",
      type: "POST",
      data: {
        csrfmiddlewaretoken: '{{csrf_token}}',
        chart_id_order: chart_id_order,
      },
    });
  });
</script>

{% if image_report.is_published %}
<script>
  $("#image_report_group").editable(
  "{% url 'dashboard_app.views.image_reports.views.image_report_add_group' name=image_report.name %}",
  {
    onblur: "submit",
    width: 200,
    submitdata : {"csrfmiddlewaretoken": '{{csrf_token}}'},
    callback: function(data) {
      if(data != "") {
        $("#group_link").show();
        href = $("#group_link a:first-child").attr("href").split("#")[0] + "#";
        $("#group_link a:first-child").attr("href", href + data);
      } else {
        $("#group_link").hide();
      }
    }
  });

  $("#image_report_group").on("click", function(event) {
      var field = $(this).find("input");
      {% if not image_report.image_report_group %}
        field.val("");
      {% endif %}
      field.select();
      field.autocomplete({
        source: '{% url 'dashboard_app.views.image_reports.views.image_report_group_list' %}',
        minLength: 2,
      });
  });


  $("#group").editable(
  "{% url 'dashboard_app.views.image_reports.views.image_report_select_group' name=image_report.name %}",
  {
    onblur: "submit",
    width: 200,
    submitdata : {"csrfmiddlewaretoken": '{{csrf_token}}'},
  });

  $("#group").on("click", function(event) {
      var field = $(this).find("input");
      {% if not image_report.group %}
        field.val("");
      {% endif %}
      field.select();
      field.autocomplete({
        source: '{% url 'dashboard_app.views.image_reports.views.get_group_names' %}',
        minLength: 1,
      });
  });


</script>
{% endif %}
{% endblock %}
