{% extends "dashboard_app/_content.html" %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard_app/css/image-charts.css"/>
{% endblock %}

{% block content %}
<h1>Image Reports 2.0</h1>

<p style="margin-left: 10px;">
  <a href="{% url dashboard_app.views.image_reports.views.image_report_add %}">
    Add new Image Report
  </a>
</p>

{% for image_report in image_reports %}
<div class="list-container">
  <div style="float: left;">
    <a href="{{ image_report.get_absolute_url }}">{{ image_report.name }}</a>
    &nbsp;&nbsp;
  </div>
  {% if image_report.is_published %}
  <div style="font-weight: bold; float: right; color: green;">
    Published
  </div>
  {% else %}
  <div style="font-weight: bold; float: right; color: orange;">
    Not Published
  </div>
  {% endif %}
  <div style="clear: both;">
    {{ image_report.description }}
  </div>
</div>
{% endfor %}
{% endblock %}
