{% extends "dashboard_app/_content.html" %}
{% load i18n %}
{% load django_tables2 %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard_app/css/image-charts.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}dashboard_app/js/image-report-editor.js"></script>

{% endblock %}


{% block content %}
<h1>Image Chart Filter</h1>

{% block content_form %}
<form action="" method="post">{% csrf_token %}

  {% if form.errors %}
  <div class="errors">
    <div>
      {{ form.non_field_errors }}
      <ul>
	{% for field in form %}
	{% if field.errors %}
        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
        {% endif %}
	{% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <div id="filters_div">
    <div id="add_filter_link">
      <a href="#" onclick="add_filter()">Select filter</a>
      {{ form.filter }}
      {{ form.image_chart }}
      <input type="hidden" id="id_chart_type" value="{{ image_chart.chart_type }}"/>
      {{ form.image_chart_tests }}
      {{ form.image_chart_test_cases }}
    </div>

    <div>
      {{ form.representation.label_tag }}
      {{ form.representation }}
    </div>
  </div>

  <div class="submit-button">
    <input type="submit" value="Save" />
  </div>
</form>

{% endblock content_form %}

{% render_table filters_table %}

<div id="loading_dialog">
<img src="{{ STATIC_URL }}dashboard_app/images/ajax-progress.gif" alt="Loading..." />
</div>

{% endblock %}
