{% extends "layouts/content-bootstrap.html" %}
{% load i18n %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard_app/css/image-charts.css"/>
{% endblock %}


{% block content %}
<h1>Image Chart Filter</h1>

{% block content_form %}
<form action="" method="post">{% csrf_token %}

  {% if form.errors %}
  <div class="errors">
    <div>
      {{ form.non_field_errors }}
      <ul>
	{% for field in form %}
	{% if field.errors %}
        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
        {% endif %}
	{% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <div id="filters_div">
    <div id="add_filter_link">

      <div class="form-field" style="font-size: 16px; float: left;">
        Filter:&nbsp;&nbsp;
      </div>
      <div id="image_chart_filter" style="font-size: 16px; float: left;">
{{ instance.filter.owner_name|default:"Click here to select"}}</div>
      <div style="clear: both;"></div>

      {{ form.filter }}
      {{ form.image_chart }}
      <input type="hidden" id="id_chart_type" value="{{ image_chart.chart_type }}"/>
      {{ form.image_chart_tests }}
      {{ form.image_chart_test_cases }}
    </div>

    <div>
      {{ form.representation.label_tag }}
      {{ form.representation }}
    </div>
  </div>

  <div class="submit-button">
    <input type="submit" value="Save" />
  </div>
</form>

{% endblock content_form %}

<div id="loading_dialog">
<img src="{{ STATIC_URL }}dashboard_app/images/ajax-progress.gif" alt="Loading..." />
</div>
{% endblock %}

{% block scripts %}
<script language="javascript">
  csrf_token = '{{csrf_token}}';
</script>
<script type="text/javascript" src="{{ STATIC_URL }}dashboard_app/js/image-report-editor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lava_scheduler_app/js/jquery.jeditable.mini.js"></script>
<script>
  csrf_token = '{{csrf_token}}';
  $().ready(function () {

    $("#image_chart_filter").editable(function(value, settings){
      return value;
    }, {onblur: "submit"});

    $("#image_chart_filter").on("click", function() {
        var field = $(this).find("input");
        {% if not instance.filter %}
        field.val("");
        {% endif %}
        field.autocomplete({
            source: '{% url 'dashboard_app.views.filters.views.filter_name_list_json' %}',
            minLength: 1,
            select: function(event, ui) {
              filter_select_callback(ui.item, '{{ image_chart.id }}');
            }
        });
    });

    init_loading_dialog();

    $('form').submit(function() {
        add_selected_options();
    });

    {% if form.filter.value %}
      filters_callback('{{ image_chart.id }}',
                       '{{ instance.filter.id }}',
                       '{{ instance.filter.name }}');

      if ($('#id_chart_type').val() != "measurement") {
      {% for test in instance.imagecharttest_set.all %}
        $('#available_tests option[value="{{ test.test_id }}"]').attr('selected', 'selected');
      {% endfor %}
        move_options('available_tests', 'chosen_tests');
      } else {
      {% for imagecharttestcase in instance.imagecharttestcase_set.all %}
        $('#chosen_tests').append($('<option>', {
          value: {{ imagecharttestcase.test_case.id }},
          text: '{{ imagecharttestcase.test_case.test_case_id|escapejs }}'
        }));
      {% endfor %}
      }

    {% endif %}
  });
</script>
{% endblock %}
