{% extends "layouts/content-bootstrap.html" %}

{% load i18n %}
{% load keep_spacing %}
{% load make_safe %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard_app/css/image-charts.css"/>
{% endblock %}

{% block content %}

<h1>Image Report {{ image_report.name }}</h1>

{% if image_report.image_report_group %}
Report Group:&nbsp;&nbsp;<a href="{% url 'dashboard_app.views.image_reports.views.image_report_list' %}#{{ image_report.image_report_group|iriencode }}">{{ image_report.image_report_group }}</a>
{% endif %}
{{ image_report.description|keep_spacing|linebreaks }}

<div id="main_container">
</div>

<div id="add-bug-dialog" style="display: none">
  <input type="hidden" name="uuid"/>
  <input type="hidden" name="relative_index"/>
  <div class="linked" style="display:none"></div>
  <div class="prev" style="display:none">
    XXX
  </div>
  <input name="bug_link" style="width: 100%"/>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}dashboard_app/js/image-chart.min.js"></script>
<script src="{{ STATIC_URL }}dashboard_app/js/jquery.flot.min.js"></script>
<script src="{{ STATIC_URL }}dashboard_app/js/jquery.flot.canvas.min.js"></script>
<script src="{{ STATIC_URL }}dashboard_app/js/jquery.flot.dashes.min.js"></script>
<script src="{{ STATIC_URL }}dashboard_app/js/jquery.flot.axislabels.min.js"></script>
<script src="{{ STATIC_URL }}dashboard_app/js/jquery.flot.navigate.js"></script>
<script src="{{ STATIC_URL }}dashboard_app/js/jquery.flot.time.js"></script>
<script src="{{ STATIC_URL }}dashboard_app/js/jquery.flot.labels.min.js"></script>

<script>
  chart_data = $.parseJSON($('<div/>').html('{{chart_data|make_jquery_safe|escapejs}}').text());
  csrf_token = '{{csrf_token}}';
  image_url = '{{ STATIC_URL }}dashboard_app/images/';
  testrun_unlink_bug_url = '{% url 'lava_dashboard_unlink_bug_and_testrun' %}';
  testrun_link_bug_url = '{% url 'lava_dashboard_link_bug_to_testrun' %}';
  testresult_unlink_bug_url = '{% url 'lava_dashboard_unlink_bug_and_testresult' %}';
  testresult_link_bug_url = '{% url 'lava_dashboard_link_bug_to_testresult' %}';
</script>

{% endblock %}
