{% extends "dashboard_app/_content.html" %}
{% load i18n %}
{% load django_tables2 %}

{% block content %}

<h2> User Notification Definition </h2>
<div style="display:inline-block; padding-left:20px; width:500px">

<h3>Please select stream bundle you like</h3>
<script type="text/javascript" charset="utf-8"> 
  $(document).ready(function() {
    oTable = $('#tests').dataTable({
      "bJQueryUI": true,
      "bPaginate": false,
    });
  });
</script>

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Apply">
</form>

<table class="demo_jui display" id="tests">
  <thead>
    <tr>
      <th>Bundle Stream Name</th>
      <th>Notify or Not</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="checkbox" value="/stream/" name="stream" /> stream
      </td>
      <td> {{ value }} </td>
    </tr>
  </tbody>
</table>


</div>


{% endblock %}
