{% extends "dashboard_app/_content.html" %}

{% block content %}
<h1>PMQA view</h1>

<table>
  <thead>
    <tr>
      <th>
        Test prefix
      </th>
      {% for device_type in device_types_with_results %}
      <th>
        {{ device_type.device_type }}
      </th>
      {% endfor %}
    </tr>
    <tr>
      <th>
      </th>
      {% for device_type in device_types_with_results %}
      <th>
        {{ device_type.date }} (build {{device_type.build}})
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for prefix, board_results in results %}
    <tr>
      <td>
        {{ prefix }}
      </td>
      {% for board_result in board_results %}
      <td>
        {{ board_result.pass }} / {{ board_result.total }}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
