{% extends "layouts/content-bootstrap.html" %}
{% load i18n %}

{% block content %}
{% for hardware_device in test_run.devices.all %}
{% if forloop.counter|divisibleby:2 %}
<div class="row">
{% endif %}
  <div class="col-md-6">
    <h4 class="modal-header">{{ hardware_device.description }} <small>({{ hardware_device.get_device_type_display }})</small></h4>
    {% if hardware_device.attributes.all %}
    <dl class="dl-horizontal">
    {% for attribute in hardware_device.attributes.all %}
      <dt>{{ attribute.name }}</dt>
      <dd>{{ attribute.value }}</dd>
    {% endfor %}
    </dl>
    {% else %}
    <p>{% trans "No details available." %}</p>
    {% endif %}
  </div>
{% if forloop.counter|divisibleby:2 %}
</div>
{% endif %}
{% endfor %}

{% endblock %}
