{% extends "dashboard_app/_content_with_sidebar.html" %}
{% load i18n %}
{% load stylize %}
{% load django_tables2 %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lava-server/css/demo_table_jui.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}lava-server/js/jquery.dataTables.min.js"></script> 
{% endblock %}

{% block sidebar %}
<h3>Actions</h3>
<ul>
  <li><a href="{% url 'dashboard_app.views.test_definition' %}">
      List test definitions</a></li>
  <li><a href="{% url 'dashboard_app.views.add_test_definition' %}">
      Add test definition</a></li>
</ul>
{% endblock %}

{% block content %}
    {% render_table testdefinition_table %}
{% endblock %}
