{% extends "dashboard_app/_content.html" %}
{% load i18n %}


{% block title %}
{{ block.super }} | {% trans "Test Runs" %} | {{ test_run }} | {% trans "Software Context" %}
{% endblock %}


{% block breadcrumbs %}
<li><a href="{% url dashboard_app.views.bundle_stream_list %}">{% trans "Bundle Streams" %}</a></li>
<li><a href="{{ test_run.bundle.bundle_stream.get_absolute_url }}">{{ test_run.bundle.bundle_stream }}</a></li>
<li><a href="{{ test_run.get_absolute_url }}">{{ test_run }}</a></li>
<li><a href="{% url dashboard_app.views.test_run_software_context test_run.analyzer_assigned_uuid %}">{% trans "Software Context" %}</a></li>
{% endblock %}


{% block content %}
<div id="tabs">
  <ul>
    {% if test_run.packages.count > 0 %}
    <li><a href="#tab-software-packages">Software Packages</a></li>
    {% endif %}
    {% if test_run.sources.count > 0 %}
    <li><a href="#tab-software-sources">Software Sources</a></li>
    {% endif %}
  </ul>

  {% if test_run.packages.count > 0 %}
  <div id="tab-software-packages">
    <table class="demo_jui display" id="software_packages">
      <thead>
        <tr>
          <th>Name</th>
          <th>Version</th>
        </tr>
      </thead>
      <tbody>
        {% for software_package in test_run.packages.all %}
        <tr>
          <td><a href="{{software_package.link_to_packages_ubuntu_com}}">{{software_package.name}}</a></td>
          <td>{{software_package.version}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}

  {% if test_run.sources.count > 0 %}
  <div id="tab-software-sources">
    <table class="demo_jui display" id="software_sources">
      <thead>
        <tr>
          <th>Project</th>
          <th><abbr title="Version Control System">VCS</abbr></th>
          <th>Branch</th>
          <th>Tag or revision</th>
        </tr>
      </thead>
      <tbody>
        {% for software_source in test_run.sources.all %}
        <tr>
          {% if software_source.is_hosted_on_launchpad %}
          <td><a href="{{ software_source.link_to_project }}">{{ software_source.project_name }}</a></td>
          <td>{{software_source.branch_vcs}}</td>
          <td><a href="{{ software_source.link_to_branch }}">{{ software_source.branch_url }}</a></td>
          {% if software_source.is_tag_revision %}
          <td>{{ software_source.branch_tag }}</td>
          {% else %}
          <td>{{ software_source.branch_revision }}</td>
          {% endif %}
          {% else %}
          <td>{{software_source.project_name}}</td>
          <td>{{software_source.branch_vcs}}</td>
          <td>{{software_source.branch_url}}</td>
          <td>{{software_source.branch_revision}}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>

<script type="text/javascript" charset="utf-8"> 
  $(document).ready(function() {
    $("#tabs").tabs({
      cache: true,
      show: function(event, ui) {
        var oTable = $('div.dataTables_scrollBody>table.display', ui.panel).dataTable();
        if ( oTable.length > 0 ) {
          oTable.fnAdjustColumnSizing();
        }
      }
    });
    $('#software_packages').dataTable({
      bJQueryUI: true,
      bPaginate: false,
      sScrollY: 200,
    });
    $('#software_sources').dataTable({
      bJQueryUI: true
    });
  });
</script> 
{% endblock %}
