{% extends "dashboard_app/_content.html" %}
{% load i18n %}


{% block content %}
<table class="demo_jui display" id="hardware_devices">
  <thead>
    <tr>
      <th>Description</th>
      <th>Device Type</th>
      <th>Attributes</th>
    </tr>
  </thead>
  <tbody>
    {% for hardware_device in test_run.devices.all %} 
    <tr>
      <td>{{ hardware_device.description }}</td>
      <td>{{ hardware_device.get_device_type_display }}</td>
      <td>
        <dl class="dl-horizontal">
          {% for attribute in hardware_device.attributes.all %}
          <dt>{{ attribute.name }}</dt>
          <dd>{{ attribute.value }}</dd>
          {% endfor %}
        </dl>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
