{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "LAVA Scheduler" %}
{% endblock %}

{% block content %}
<p>
  {% if job_list.count %}
  <table class="data">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Device</th>
      <th>Status</th>
    </tr>
    {% for test_job in job_list %}
    <tr>
      <td>{{ test_job.id }}</td>
      <td>{{ test_job.description }}</td>
      <td>{{ test_job.target }}</td>
      <td>{{ test_job.status }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
No test jobs are available.
{% endif %}
</p>
{% endblock %}
