Tests: testsuite
Depends: lava-server, lava-common, lava-dispatcher, @builddeps@,
 python3-testscenarios, pep8, git, telnet, qemu-system-x86,
 nfs-kernel-server, u-boot-tools, iproute2, tftpd-hpa,
 schroot, lxc, lava-server, python3-django-testscenarios, python3-tz,
 tftpd-hpa, git, qemu-system-x86, nfs-kernel-server, u-boot-tools
Restrictions: allow-stderr, needs-root
