Tests: testsuite
Depends: lava-server, lava-common, lava-dispatcher, @builddeps@,
 pep8, git, telnet, qemu-system-x86, dh-python,
 python3-sphinx (>= 1.4), python3-setuptools (>= 3), python3-yaml,
 nfs-kernel-server, u-boot-tools, iproute2, tftpd-hpa, python3-pytest,
 python3-pytest-django,
 schroot, lxc, lava-server, python3-tz,
 tftpd-hpa, git, qemu-system-x86, nfs-kernel-server, u-boot-tools
Restrictions: allow-stderr, needs-root

Test-Command: python3 -c 'from lava_common import *'
Depends: lava-common
Features: test-name=lava-common
Restrictions: allow-stderr, superficial

Tests: lava-dispatcher-host
Depends: lava-dispatcher-host

Tests: lava-coordinator
Depends: lava-coordinator
