Tests: management
Depends: postgresql, apache2, lava-dispatcher, lava-server
Restrictions: allow-stderr, needs-root, isolation-container

Tests: testsuite
Depends: dh-python,
         git,
         lava-coordinator,
         lava-dispatcher,
         lava-dispatcher-host,
         lava-server,
         lxc,
         nfs-kernel-server,
         postgresql,
         python3-pymongo,
         python3-pytest,
         python3-pytest-django,
         python3-pytest-mock,
         python3-setuptools (>= 3),
         python3-sphinx (>= 1.4),
         python3-tz,
         python3-yaml,
         qemu-system-arm,
         qemu-system-x86,
         schroot,
         telnet,
         tftpd-hpa,
         u-boot-tools,
         @builddeps@
Restrictions: allow-stderr, needs-root

Test-Command: python3 -c 'from lava_common import *'
Depends: lava-common
Features: test-name=lava-common
Restrictions: allow-stderr, superficial

Tests: lava-dispatcher-host
Depends: lava-dispatcher-host
Restrictions: skippable

Tests: lava-coordinator
Depends: lava-coordinator
Restrictions: isolation-container
