{% extends "layouts/content_with_sidebar.html" %}
{% load i18n %}


{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lava/css/default.css"/>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
{% endblock %}


{% block header %}
  <div id="account_info">
    {% if user.is_authenticated %}
      {% blocktrans %}Signed in as {{user}}{% endblocktrans %}
      <a class="sign_out" href="{% url django.contrib.auth.views.logout %}">{% trans "Sign out" %}</a>
      {% if user.is_staff %}
      {% trans " or visit " %}<a class="admin_site" href="{% url admin:index %}"
        >{% trans "admin interface" %}</a>
      {% endif %}
    {% else %}
      {% trans "You are not signed in" %}
      <a class="sign_in" href="{% url django.contrib.auth.views.login %}">{% trans "Sign in" %}</a>
    {% endif %}
  </div>
  <h1><a href="{% url lava.home %}">LAVA</a></h1>
  <div class="version">
    {% trans "Server Version:" %} {{ lava.version }} | <a href="{% url lava.version_details %}">{% trans "details..." %}</a>
  </div>
{% endblock %}


{% block navigation %}
<ul class="menu">
  <li><a href="{% url lava.home %}">{% trans "Home" %}</a></li>
  {% for extension in lava.extensions %}
  <li><a href="{{ extension.get_main_url }}">{{ extension.name }}</a></li>
  {% endfor %}
</ul>
{% endblock %}


{% block breadcrumbs_outer %}
<div class="header">{% trans "You are here: " %}</div>
<ul>
  <li><a href="{% url lava.home %}">{% trans "Home" %}</a></li>
  {% block breadcrumbs %}{% endblock %}
</ul>
{% endblock %}


{% block footer %} 
<p id="copyright">
{% blocktrans %}
LAVA Server is free software developed by <a
  href="http://linaro.org">Linaro</a>. It is distributed under the terms of
the <a href="http://www.gnu.org/licenses/agpl-3.0.html"
  >GNU Affero General Public License version 3</a>. You have the right to
obtain source code of any server side installations of this software that you
interact with.
{% endblocktrans %}
</p>
<p>
{% blocktrans %}
This website should contain only valid XHTML markup, you can <a
  href="http://validator.w3.org/check?uri=referer">validate it</a>
if you wish
{% endblocktrans %}
</p>
{% endblock %}
