{% extends "layouts/content_with_sidebar.html" %}
{% load i18n %}


{% block sidebar %}
<h3>{% trans "Actions" %}</h3>
<ul>
  {% for action in actions %}
    <li><a href="{{ action.0 }}">{{ action.1 }}</a></li>
  {% endfor %}
</ul>
{% endblock %}


{% block content %}
<h2>Hi {% firstof user.first_name user.username %}</h2>
<h3>Current email address: {% firstof user.email %} </h3>
<p>This is where more interesting things about your actions will show up,
eventually</p>

<p>You are member of the following LAVA groups:</p>
<ul>
  {% for g in user.groups.all %}
      {% if g.user_set.all|length > 1 %}
      <li><b>{{ g.name }}</b> group:
      <ul>
          {% for u in g.user_set.all %}
              {% if u != user %}
                <li>{{ u.username }}</li>
              {% endif %}
          {% endfor %}
      </ul>
      {% else %}
      <li><b>{{ g.name }}</b> group.</li>
      {% endif %}
      {% empty %}
      <li>(none)</li>
    </li>
  {% endfor %}
</ul>

<h3>Personal reports</h3>
<p><a href="{% url lava.scheduler.myjobs %}">All jobs submitted by {{ user.username }}</a></p>
<p><a href="{% url dashboard_app.views.mybundlestreams %}">All bundle streams owned by {{ user.username }}</a></p>
<p><a href="{% url lava.scheduler.mydevice_list %}">All devices owned by {{ user.username }}</a></p>

{% endblock %}
