{% extends "layouts/content_with_sidebar.html" %}
{% load i18n %}


{% block sidebar %}
<h3>{% trans "Actions" %}</h3>
<ul>
  <li><a href="{% url django.contrib.auth.views.logout %}"
    >{% trans "Sign out" %}</a></li>
  <li><a href="{% url django.contrib.auth.views.password_change %}"
    >{% trans "Change your password" %}</a></li>
  <li><a href="{% url dashboard_app.views.notification %}"
    >{% trans "Notification Type Definition" %}</a></li>
</ul>
{% endblock %}


{% block content %}
<h2>Hi {% firstof user.first_name user.username %}</h2>
<p>This is where more interesting things about your actions will show up,
eventually</p>
{% endblock %}
