{% extends "base.html" %}


{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url lava.version_details %}">LAVA Server version details</a></li>
{% endblock %}


{% block content %}
<h2>LAVA Server</h2>
<p>You are using LAVA Server version {{ lava.version }}</p>
<h2>Extensions</h2>
{% with lava.extensions as extension_list %}
{% if extension_list %}
<ul>
  {% for extension in extension_list %}
  <li>Extension <q>{{ extension.name }}</q> version {{ extension.version }}</li>
  {% endfor %}
</ul>
{% else %}
<p>No server extension have been installed yet</p>
{% endif %}
{% endwith %}
{% endblock %}
