{% extends "layouts/base.html" %}
{% load i18n %}


{% block title %}
{% trans "Launch Control" %}
{% endblock %}


{% block body %}
<table id="master_container">
  <tr>
    <td colspan="2" id="header">
      {% block header %}{% endblock %}
    </td>
  </tr>
  <tr id="navigation">
    <td colspan="2">
      {% block navigation %}{% endblock %}
      <div id="breadcrumbs">
        {% block breadcrumbs_outer %}{% endblock %}
      </div>
      <div style="clear: both;"></div>
    </td>
  </tr>
  <tr>
    <td id="content">
      {% block content %}{% endblock %}
    </td>
    <td id="sidebar">
      {% block sidebar %}{% endblock %}
    </td>
  </tr>
  <tr>
    <td id="content_footer"></td>
    <td id="sidebar_footer"></td>
  </tr>
</table>
<div id="footer">
  {% block footer %}{% endblock %}
</div>
{% endblock %}
