# Instance name
LAVA_INSTANCE='default'

# retrieve from however your distro configures a database connection.
# PostgreSQL configuration
LAVA_DB_NAME='$LAVA_DB_NAME'
LAVA_DB_USER='$LAVA_DB_USER'
LAVA_DB_PORT='$LAVA_DB_PORT'
LAVA_DB_PASSWORD='$LAVA_DB_PASSWORD'
#LAVA_DB_SERVER='127.0.0.1'
