[Unit]
Description=LAVA logs handler
After=network.target remote-fs.target

[Service]
Type=simple
Environment=LOGLEVEL=DEBUG
EnvironmentFile=-/etc/default/lava-logs
EnvironmentFile=-/etc/lava-server/lava-logs
ExecStart=/usr/bin/lava-server manage lava-logs --level $LOGLEVEL $SOCKET $MASTER_SOCKET $IPV6 $ENCRYPT $MASTER_CERT $SLAVES_CERTS
TimeoutStopSec=20
Restart=always

[Install]
WantedBy=multi-user.target
