[Unit]
Description=LAVA coordinator
After=network.target remote-fs.target

[Service]
Type=simple
Environment=LOGLEVEL=DEBUG
EnvironmentFile=-/etc/default/lava-coordinator
EnvironmentFile=-/etc/lava-coordinator/lava-coordinator
ExecStart=/usr/bin/lava-coordinator --loglevel $LOGLEVEL
Restart=always

[Install]
WantedBy=multi-user.target
