[Unit]
Description=Pipeline lava-server manage lava-master
After=remote-fs.target

[Service]
ExecStart=/usr/bin/lava-server manage lava-master
Type=simple

[Install]
WantedBy=network.target
