[Unit]
Description=LAVA master
After=network.target remote-fs.target

[Service]
Type=simple
Environment=LOGLEVEL=DEBUG
EnvironmentFile=-/etc/default/lava-master
EnvironmentFile=-/etc/lava-server/lava-master
ExecStart=/usr/bin/lava-server manage lava-master --level $LOGLEVEL $MASTER_SOCKET $IPV6 $ENCRYPT $MASTER_CERT $SLAVES_CERTS
Restart=always

[Install]
WantedBy=multi-user.target
