{% extends "base.html" %}
{% load databrowse_media_url_fix %}
{% load i18n %}


{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% get_media_url %}assets/login.css"/>
{% endblock %}


{% block title %} | {% trans "Password reset" %}{% endblock %}


{% block content %}
<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
<form action="" method="post">
  <fieldset>
    <h2>{% trans "Password reset" %}</h2>
    <table>
      <tr>
        <th>{{ form.email.label_tag }}</th>
        <td>{{ form.email }}</td>
      </tr>
      {% if form.errors %}
      <tr class="error">
        <td colspan="2">
          {{form.email.errors }}
        </td>
      </tr>
      {% endif %}
      <tr>
        <td class="submit" colspan="2">
          <input type="submit" value="{% trans 'Reset my password' %}" />
        </td>
      </tr>
    </table>
  </fieldset>
  {% csrf_token %}
</form>

{% endblock %}
