{% extends "base.html" %}
{% load databrowse_media_url_fix %}
{% load i18n %}


{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% get_media_url %}assets/login.css"/>
{% endblock %}


{% block title %} | {% trans 'Password reset' %}{% endblock %}


{% block content %}

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
<form action="" method="post">
  <fieldset>
    <h2>{% trans 'Enter new password' %}</h2>
    <table>
      <tr>
        <th>{{ form.new_password1.label_tag }}</th>
        <td>{{ form.new_password1 }}</td>
      </tr>
      {% if form.new_password1.errors %}
      <tr class="error">
        <td colspan="2">
          {{ form.new_password1.errors }}
        </td>
      </tr>
      {% endif %}
      <tr>
        <th>{{ form.new_password2.label_tag }}</th>
        <td>{{ form.new_password2 }}</td>
      </tr>
      {% if form.new_password2.errors %}
      <tr class="error">
        <td colspan="2">
          {{ form.new_password2.errors }}
        </td>
      </tr>
      {% endif %}
      <tr>
        <td colspan="2" class="submit">
          <input type="submit" value="{% trans 'Change my password' %}" />
        </td>
      </tr>
    </table>
  </fieldset>
  {% csrf_token %}
</form>

{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>
<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
