{% extends "base.html" %}
{% load databrowse_media_url_fix %}
{% load i18n %}


{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% get_media_url %}assets/login.css"/>
{% endblock %}


{% block title %} | {% trans 'Password change' %}{% endblock %}


{% block content %}

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
<form action="" method="post">
  <fieldset>
    <h2>{% trans 'Password change' %}</h2>
    <table>
      <tr>
        <th>{{ form.old_password.label_tag }}</th>
        <td>{{ form.old_password }}</td>
      </tr>
      {% if form.old_password.errors %}
      <tr class="error">
        <td colspan="2">
          {{ form.old_password.errors }}
        </td>
      </tr>
      {% endif %}
      <tr>
        <th>{{ form.new_password1.label_tag }}</th>
        <td>{{ form.new_password1 }}</td>
      </tr>
      {% if form.new_password1.errors %}
      <tr class="error">
        <td colspan="2">
          {{ form.new_password1.errors }}
        </td>
      </tr>
      {% endif %}
      <tr>
        <th>{{ form.new_password2.label_tag }}</th>
        <td>{{ form.new_password2 }}</td>
      </tr>
      {% if form.new_password2.errors %}
      <tr class="error">
        <td colspan="2">
          {{ form.new_password2.errors }}
        </td>
      </tr>
      {% endif %}
      <tr>
        <td class="submit" colspan="2">
          <input type="submit" value="{% trans 'Change my password' %}" />
        </td>
      </tr>
    </table>
  </fieldset>
  {% csrf_token %}
</form>

{% endblock %}
