{% extends "registration/base.html" %}
{% load i18n %}


{% block title %}
{{ block.super }}
| {% trans "Password reset" %}
{% endblock %}


{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
  $(function () {
      $("#id_email").watermark("{% trans "Your e-mail address" %}");
      });
</script>
{% endblock %}


{% block big_message %}{% trans "Lost password?" %}{% endblock %}


{% block content %}
<form action="" method="POST">
  {% csrf_token %} 
  <table>
    <tr>
      <td>
        {% blocktrans %}
        <p>Please enter the e-mail address associated with your account. We will
        send you instructions on how to reset your password.</p>
        {% endblocktrans %}
        {{ form.email }}
        {{ form.email.errors }}
      </td>
    </tr>
    <tr>
      <th>
        <input id="id_submit" type="submit" value="{% trans "Continue" %}"/>
      </th>
    </tr>
  </table>
</form>
{% endblock %}
