{% extends "layouts/content.html" %}
{% load django_tables2 %}

{% block content %}

{% if device.device_type.owners_only %}
<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong><i>{{ device.device_type.name }}</i> is a hidden device type:</strong> Only owners of one or more devices of that type can see this page.
</div>
{% endif %}

{% if can_admin and template_mismatch %}
  <div class="alert alert-warning">
    <strong>Configuration Error: template-mismatch.</strong>
  <p>The '{{ device.device_type }}' device type has no matching jinja2 template.
      Pipeline (V2) jobs requesting this device type will not be able to start until
     a template is available on the master.
  </p>
  </div>
{% endif %}

{% block device_heading %}{% endblock %}

<div class="row">
  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>Hostname</dt>
      <dd>{{ device.hostname }}
          <a href="{% url 'lava.scheduler.device_report' device.pk %}"><span class="glyphicon glyphicon-stats"></span></a>
      </dd>
      <dt>Device-type</dt>
      <dd><a href="{{ device.device_type.get_absolute_url }}">{{ device.device_type.name }}</a> <a href="{% url 'lava.scheduler.device_type_report' device.device_type.pk %}"><span class="glyphicon glyphicon-stats"></span></a></dd>
      <dt><abbr title="If specified, submissions are restricted to this user or group">Owner</abbr></dt>
      <dd>
      {% if device.user %}
      <a href="mailto:{{ device.user.email }}">{{ device.user.get_full_name|default:user.username }}</a>
      {% elif device.group %}
      Group <em>{{ device.group }}</em>
      {% else %}
      ...
      {% endif %}
      </dd>
      <dt>Restriction</dt>
      <dd><span class="label label-{{ device.is_public|yesno:"success,warning" }}">{{ device.is_public|yesno:"Public,Private" }}</span></dd>
      <dt>Tags</dt>
      {% if device.tags.all %}
      <dd>
      {% for tag in device.tags.all %}
        {% if tag.description %}
        <abbr title="{{ tag.description }}">{{ tag.name }}</abbr>{% if not forloop.last %},{% endif %}
        {% else %}
        {{ tag.name }}{% if not forloop.last %},{% endif %}
        {% endif %}
      {% endfor %}
      </dd>
      {% else %}
      <dd>...</dd>
      {% endif %}
    </dl>
  </div>
  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>State</dt>
      <dd>{{ device.get_state_display }}</dd>
      <dt>Health</dt>
      <dd>
        {% if can_admin %}
        <div class="dropdown">
        {% endif %}
        {% if device.health == device.HEALTH_GOOD %}
        <span class="label label-success">
        {% elif device.health == device.HEALTH_UNKNOWN or device.health == device.HEALTH_LOOPING %}
        <span class="label label-warning">
        {% else %}
        <span class="label label-danger">
        {% endif %}
          {{ device.get_health_display }}
        </span>
        {% if can_admin %}
          &nbsp;<span class="glyphicon glyphicon-pencil" id="device_health_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
          <ul class="dropdown-menu" aria-labelledby="device_health_menu">
            {% if device.health != device.HEALTH_GOOD %}<li><a href="{% url 'lava.scheduler.device.good' device.pk %}">Good</a></li>{% endif %}
            {% if device.health != device.HEALTH_UNKNOWN %}<li><a href="{% url 'lava.scheduler.device.unknown' device.pk %}">Unknown</a></li>{% endif %}
            {% if device.health != device.HEALTH_LOOPING %}<li><a href="{% url 'lava.scheduler.device.looping' device.pk %}">Looping</a></li>{% endif %}
            <li role="separator" class="divider"></li>
            {% if device.health != device.HEALTH_MAINTENANCE %}<li><a href="{% url 'lava.scheduler.device.maintenance' device.pk %}">Maintenance</a></li>{% endif %}
            {% if device.health != device.HEALTH_RETIRED %}<li><a href="{% url 'lava.scheduler.device.retired' device.pk %}">Retired</a></li>{% endif %}
          </ul>
        </div>
        {% endif %}
      </dd>
      <dt>Worker</dt>
      <dd><a href="{{ device.worker_host.get_absolute_url }}">{{ device.worker_host.hostname }}</a></dd>
      <dt>Device dictionary</dt>
      <dd><a href="{% url 'lava.scheduler.device.dictionary' device.pk %}"><span class="glyphicon glyphicon-eye-open"></span></a></dd>
    </dl>
  </div>
  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt><abbr title="This is the user or group with physical access to the device">Physical access</abbr></dt>
      <dd>
      {% if device.physical_owner %}
      <a href="mailto:{{ device.physical_owner.email }}">{{ device.physical_owner.get_full_name|default:device.physical_owner.username }}</a>
      {% elif device.physical_group %}
      Group <em>{{ device.physical_group }}</em>
      {% else %}
      ...
      {% endif %}
      </dd>
      <dt>Description</dt>
      <dd>{{ device.get_description|default:"..."|truncatewords_html:200|wordwrap:80|linebreaksbr }}</dd>
      <dt>Version</dt>
      <dd>{{ device.device_version|default:"..." }}</dd>
    </dl>
  </div>
</div>

{% block content_columns %}
{% endblock %}

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}lava_scheduler_app/js/tables.min.js"></script>
{% endblock %}
