{% extends "django_tables2/table.html" %}

{% block table.thead %}
<thead>
  <tr>
    {% for column in table.columns %}
    <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
    {% endfor %}
  </tr>
</thead>
{% endblock table.thead %}
{% comment %}
{% block table.tbody %}
<tbody>
</tbody>
{% endblock table.tbody %}
{% endcomment %}

{% block table %}
{{ block.super }}
<script type="text/javascript">
$("#{{ table.attrs.id }}").dataTable({
      bJQueryUI: true,
      bServerSide: true,
      bProcessing: true,
      sAjaxSource: "{{ table.source }}",
      aaSorting: [[0, 'desc']],
      aoColumnDefs: [
    {% for column in table.columns %}
        {
          aTargets: ["{{ column.name }}"],
          bSortable: {{ column.sortable|lower }},
          mDataProp: "{{ column.name }}"
        }
        {% if not forloop.last %}, {% endif %}
    {% endfor %}
      ]
  });
</script>
{% endblock %}
