{% extends "layouts/content.html" %}
{% load django_tables2 %}
{% load static %}

{% block content %}

<h2>All Devices</h2>

<ul class="nav nav-tabs">
    <li role="presentation" class="active">
		<a href="{% url 'lava.scheduler.alldevices' %}"><span class="glyphicon glyphicon-move" aria-hidden="true"></span> All Devices</a></li>
    <li role="presentation">
        <a href="{% url 'lava.scheduler.active_devices' %}"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Active Devices</a></li>
    <li role="presentation">
        <a href="{% url 'lava.scheduler.online_devices' %}"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Online Devices</a></li>
    <li role="presentation">
		<a href="{% url 'lava.scheduler.maintenance_devices' %}"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Maintenance Devices</a></li>
</ul>

{% render_table devices_table %}

{% endblock %}

{% block scripts %}
<script src="{% static "lava_scheduler_app/js/tables.js" %}"></script>
{% endblock %}
