{% extends "lava_scheduler_app/_device_base.html" %}
{% load django_tables2 %}
{% load i18n %}
{% load utils %}

{% block device_heading %}
<ul class="pager">
  <li class="previous{% if not previous_device %} disabled{% endif %}">
    <a href="{% if previous_device %}{% url 'lava.scheduler.device.detail' previous_device %}{% else %}#{% endif %}"><span
            class="glyphicon glyphicon-backward"></span> {% trans "Previous device" %}</a>
  </li>
  <li class="next{% if not next_device %} disabled{% endif %}">
    <a href="{% if next_device %}{% url 'lava.scheduler.device.detail' next_device %}{% else %}#{% endif %}">{% trans "Next Device" %} <span class="glyphicon glyphicon-forward"></span></a>
  </li>
</ul>

{% if user.is_staff and device.device_type.name != 'dynamic-vm' and device.get_health_check == '' %}
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>The device has no
    {% if not 'HIDE_V2_DOCS'|get_settings %}
      <a href="{{ STATIC_URL }}docs/v2/glossary.html#term-health-check">health check job</a></strong>
    Consider adding a <a href="{{ STATIC_URL }}docs/v2/healthchecks.html#health-checks">health check definition</a>.
    {% else %}
      <a href="{{ STATIC_URL }}docs/v1/glossary.html#term-health-check">health check job</a></strong>
    Consider adding a <a href="{{ STATIC_URL }}docs/v1/healthchecks.html#health-checks">health check definition</a>.
    {% endif %}
  </div>
{% endif %}
{% endblock %}

{% block content_columns %}
<hr/>
<h3>Recent jobs on {{ device.hostname }}</h3>
<div id="recent_job">
  {% render_table recent_job_table %}
</div>
{% endblock %}
