{% extends "layouts/content-bootstrap.html" %}
{% load django_tables2 %}
{% load utils %}
{% block content %}

{% if device_type.owners_only %}
<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong><i>{{ device_type.name }}</i> is a hidden device type.</strong></p>
  Only owners of one or more devices of type <i>{{ device_type }}</i> can see this information.
</div>
{% endif %}

{% if is_admin and device_type.name != 'dynamic-vm' and device_type.health_check_job == '' %}
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>The '{{ device_type }}' device type has no
      <a href="{{ STATIC_URL }}docs/glossary.html#term-health-check">health check job</a> in the
      <a href="{{ STATIC_URL }}../admin/lava_scheduler_app/devicetype/{{ device_type.hostname }}">admin interface</a>.</strong>
    Consider adding a <a href="{{ STATIC_URL }}docs/healthchecks.html#health-checks">health check definition</a>.
  </div>
{% endif %}
<div>
  {% if user.is_authenticated and user.is_superuser %}
    <a href="{% url 'admin:lava_scheduler_app_devicetype_change' device_type %}" class="btn btn-xs btn-danger" title="Admin this device type - {{ device_type.name }}">
      <span class="glyphicon glyphicon-wrench"></span> Admin this type
    </a>
  {% endif %}
</div>
<ul class="nav nav-tabs">
  <li><a href="#information" data-toggle="tab">Information</a></li>
  <li><a href="#status" data-toggle="tab">Status</a></li>
{% if device_type|deploy_methods:'deploy' %}
  <li><a href="#support" data-toggle="tab">Support</a></li>
{% endif %}
</ul>
<div class="tab-content">
  <div class="tab-pane" id="information">
      <h2><i>{{ device_type }}</i> information
  </h2>
    <div class="row">
    <h4 class="modal-header">Metadata</h4>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>Architecture version</dt>
            <dd>{{ arch_version|default:'.' }}</dd>
            <dt>Processor Family</dt>
            <dd>{{ processor|default:'.' }}</dd>
            <dt>CPU model</dt>
            <dd>{{ cpu_model|default:'.' }}</dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>Bit width</dt>
            <dd>{{ arch_bits|default:'.' }}</dd>
            <dt>Cores</dt>
            <dd>{{ cores|default:'.' }}</dd>
            <dt>Description</dt>
            <dd>{{ description|default:'.' }}</dd>
        </dl>
    </div>
    </div>
    </div>
  <div class="tab-pane active" id="status">
<h2><i>{{device_type}}</i> status</h2>

<div class="row">
    <h4 class="modal-header">Current state</h4>
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>Running jobs</dt>
      <dd>{{ running_jobs_num }}</dd>
      <dt>Queued jobs</dt>
      <dd>{{ queued_jobs_num }}</dd>
{% if device_type.name != 'dynamic-vm' %}
      <dt>Checks/failures</dt>
      <dd><a href="{% url 'lava.scheduler.device_type_report' device_type %}">Graphical reports</a></dd>
{% endif %}
      <dt>Health Checks</dt>
     <dd>{{ health_freq }}</dd>
    </dl>
  </div>
  <div class="col-md-6">
  <dl class="dl-horizontal">
      <dt>Active devices</dt>
      <dd>{{ active_num }}</dd>
      <dt>Idle</dt>
      <dd>{{ idle_num }}</dd>
      <dt>Offline</dt>
      <dd>{{ offline_num }}</dd>
{% if device_type.name != 'dynamic-vm' %}
      <dt>Retired</dt>
      <dd>{{ retired_num }}</dd>
{% endif %}
  </dl>
  </div>
</div>
</div>

{% if device_type|deploy_methods:'deploy' %}
<div class="tab-pane" id="support">
<h2><i>{{ device_type }}</i> pipeline template
    <a
        class="btn btn-xs btn-info" href="{% url 'lava_scheduler_download_device_type_yaml' device_type %}"
        title="Download template as YAML file"><span class="glyphicon glyphicon-download"></span> download</a>
</h2>
<p>The device-type template needs to be overridden by the device dictionary of each device of this type
    and is <b>not</b> a valid template for an individual device of this type.</p>
<div class="row">
    <div class="col-md-6">
    <h4 class="modal-header"><i>{{ device_type }}</i> methods</h4>
        <p>Not all methods may be available on all devices.</p>
        <dl class="dl-horizontal">
            <dt>Deployment</dt>
            <dd>{{ device_type|deploy_methods:'deploy'|join:", " }}</dd>
            <dt>Boot</dt>
            <dd>{{ device_type|deploy_methods:'boot'|join:", " }}</dd>
        </dl>
    </div>
    <div class="col-md-6">
    <h4 class="modal-header">Default <i>{{ device_type }}</i> timeouts</h4>
    <p>Classes named in the default timeouts can be part of the pipeline
        description which is available from a test job definition, depending
        on the deployment or boot methods used by that job. </p>
        {% device_type_timeouts device_type as timeout_data %}
          <ul>
              {% for timeout_type, action_data in timeout_data.items %}
              <li><b>{{ timeout_type }}</b>
              {% for key, value in action_data.items %}
                  <ul><li>{{ key }}: {{ value.seconds }} seconds</li></ul>
              {% endfor %}
              </li>
              {% endfor %}
          </ul>
    </div>
</div>
</div>
{% endif %}
</div>

<h4 class="modal-header">Devices list</h4>
{% render_table devices_table_no_dt %}

{% if device_type.name != 'dynamic-vm' and device_type.health_check_job != '' %}
<h4 class="modal-header">Health Job Summary</h4>
{% render_table health_job_summary_table %}
{% endif %}

<h4 class="modal-header">Jobs for devices of type {{ device_type }}</h4>
{% render_table device_type_jobs_table %}

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}lava_scheduler_app/js/tables.min.js"></script>
{% endblock %}
