{% extends "lava_scheduler_app/device_base.html" %}

{% block extrahead %}
{{ block.super }}
{% block extrastyle %}
<style>
  details, summary { display: block; padding: 0.2em; }
  summary { cursor: pointer; }
  summary:hover, summary:focus { background: #ddd; }
  .no-details details > * { display: none; }
  .no-details details.open > * { display: block; }
  .no-details details summary:before { float: left; width: 20px; content: '► '; }
  .no-details details.open summary:before { content: '▼ '; }
  .no-details details summary { display: block; }
</style>
<script type="text/javascript" src="{{ STATIC_URL }}lava_scheduler_app/js/jquery.details.min.js"></script> 
{% endblock %}
{% endblock %}

{% block content %}
{% block content_title %}
<h2>Device {{ device }}</h2>
{% endblock %}

{% block button %}
{{ block.super }}
{% endblock %}

{% block content_columns %}
<div id="columns">
  <div class="column">
    <dt>Hostname:</dt>
    <dd>{{ device.hostname }}</dd>

    <dt>Device type:</dt>
    <dd>{{ device.device_type }}</dd>

    <dt>Device Tags</dt>
    {% for tag in device.tags.all %}
    <dd>{{ tag.name }}</dd>
    {% empty %}
    <dd><i>None</i></dd>
    {% endfor %}
  </div>
  <div class="column">
    <dt>Status:</dt>
    <dd>
      {{ device.get_status_display }}
      {% if transition %}
      (reason: <i>{{ transition }}</i>)
      {% endif %}
    </dd>
    <dt>Health Status:</dt>
    <dd>
      {{ device.get_health_status_display }}
    </dd>
    {% if device.current_job %}
    <dt>Currently running:</dt>
    <dd><a href="{{ device.current_job.get_absolute_url }}"
      >Job {{ device.current_job }}</a></dd>
    {% endif %}
  </div>
  <div style="clear: both"></div>
</div>
{% endblock %}

{% block content_jobs %}
{{ block.super }}
{% endblock %}

{% block extracontent %}
<details>
  <summary>See status transitions</summary>
  <table class="transitions display">
    <thead>
      <tr>
        <th>When</th>
        <th>Transition</th>
        <th>By</th>
        <th>Reason</th>
      </tr>
    </thead>
    <tbody>
      {% for tr in transition_list %}
      <tr>
        <td>
          {{ tr.0|date:"Y-m-d H:i" }}
          {% if tr.1 %}
            (after {{ tr.1|timesince:tr.0 }})
          {% endif %}
        </td>
        <td>{{ tr.2 }} &rarr; {{ tr.3 }}</td>
        <td>{{ tr.4 }}</td>
        <td>
          {% if tr.5 %}
          {{ tr.5 }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</details>
{% endblock %}

{% block script %}
{{ block.super }}
{% endblock %}

{% endblock %}
