{% extends "layouts/content.html" %}
{% load utils %}
{% block content %}

{% if device.device_type.owners_only %}
<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong><i>{{  device.device_type.name }}</i> is a hidden device type.</strong></p>
  Only owners of one or more devices of type <i>{{ device.device_type }}</i> can see this information.
</div>
{% endif %}

<h2>Device Dictionary for {{ device.hostname }}

  <a class="btn btn-xs btn-info"
     href="{% url 'lava.scheduler.device.dictionary.plain' device.hostname %}"
     title="Download full device configuration (YAML).
i.e., its equivalent to get-pipeline-device-config in lava-tool.">
    <span class="glyphicon glyphicon-download">
    </span>
    download
  </a>
</h2>

<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>Hostname</dt>
      <dd><a href="{{ device.get_absolute_url }}">{{ device.hostname }}</a>
          {% if user.is_superuser %}<a
          href="{% url 'admin:lava_scheduler_app_device_change' device.hostname %}" title="admin this device"><span
          class="glyphicon glyphicon-wrench"></span></a>
          {% endif %}
          <a href="{% url 'lava.scheduler.device_report' device.pk %}"><span class="glyphicon glyphicon-stats"></span></a>
      </dd>
      <dt>Device type</dt>
      <dd><a href="{{ device.device_type.get_absolute_url }}">{{ device.device_type.name }}</a> <a href="{% url 'lava.scheduler.device_type_report' device.device_type.pk %}"><span class="glyphicon glyphicon-stats"></span></a></dd>
    </dl>
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>Extends</dt>
      <dd>{{ device.get_extends }}</dd>
    </dl>
  </div>
</div>


<div class="container-fluid">
{% if dictionary %}
<div class="row">
    <h4 class="modal-header">Commands</h4>
    <dl class="dl-horizontal">
    {% for key, value in dictionary.items %}
        <dt>{{ key }}</dt>
{% if value|is_list_type %}
        <dd>
{% for line in value %}
        <pre>{{ line }}</pre>
{% endfor %}
        </dd>
{% else %}
        <dd><pre>{{ value }}</pre></dd>
{% endif %}
    {% endfor %}
    </dl>
</div>
{% endif %}

{% if connections %}
<div class="row">
    <h4 class="modal-header">Connections</h4>
    <dl class="dl-horizontal">
    {% for key, value in connections.items %}
        <dt>{{ key }}</dt>
        <dd><pre>{{ value }}</pre></dd>
    {% endfor %}
    </dl>
</div>
{% endif %}

{% if extra %}
<div class="row">
    <h4 class="modal-header">Other parameters</h4>
    <dl class="dl-horizontal">
    {% for key, value in extra.items %}
        <dt>{{ key }}</dt>
        <dd><pre>{{ value }}</pre></dd>
    {% endfor %}
    </dl>
</div>
{% endif %}

{% if vland %}
<div class="row">
    <h4 class="modal-header">Networking parameters</h4>
    <dl class="dl-horizontal">
    {% for key, value in vland.items %}
        <dt>{{ key }}</dt>
        <dd><pre>{{ value }}</pre></dd>
    {% endfor %}
    </dl>
</div>
{% endif %}
</div>
{% endblock %}
