{% extends "layouts/content-bootstrap.html" %}
{% load django_tables2 %}

{% block content %}

{% if device_type.owners_only %}
<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong><i>{{ device_type.name }}</i> is a hidden device type.</strong></p>
  Only owners of one or more devices of type <i>{{ device_type }}</i> can see this information.
</div>
{% endif %}

<h2><i>{{device_type}}</i> status</h2>

<div class="row">
  <div class="col-md-6">
    <h4 class="modal-header">Capabilities{% if capabilities_date %} <small>({{ capabilities_date }})</small>{% endif %}</h4>
    <dl class="dl-horizontal">
      <dt>Processor</dt>
      <dd>{{ processor|default:"<i>unknown</i>" }}</dd>
      <dt>Model</dt>
      <dd>{{ models|default:"<i>unknown</i>" }}</dd>
      <dt>Flags</dt>
      <dd>{{ flags|default:"<i>unknown</i>" }}</dd>
      <dt>Emulated</dt>
      <dd>{{ emulated|default:"<i>unknown</i>" }}</dd>
      <dt>Cores</dt>
      <dd>{{ cores|default:"<i>unknown</i>" }}</dd>
    </dl>
  </div>
  <div class="col-md-6">
    <h4 class="modal-header">Current state</h4>
    <dl class="dl-horizontal">
      <dt>Running jobs</dt>
      <dd>{{ running_jobs_num }}</dd>
      <dt>Queued jobs</dt>
      <dd>{{ queued_jobs_num }}</dd>
      <dt>Checks/failures</dt>
      <dd><a href="{% url 'lava.scheduler.device_type_report' device_type %}">Graphical reports</a></dt>
    </dl>
  </div>
</div>

<h4 class="modal-header">Devices list</h4>
{% render_table devices_table_no_dt %}

<h4 class="modal-header">Health Job Summary</h4>
{% render_table health_job_summary_table %}

<h4 class="modal-header">Jobs for devices of type {{ device_type }}</h4>
{% render_table device_type_jobs_table %}

{% endblock %}
