{% extends "lava_scheduler_app/_content.html" %}

{% block extrahead %}
{{ block.super }}
<style type="text/css">
.column {
    position: relative;
    float: left;
    padding-right: 2em;
    padding-bottom: 1em;
}
#tab-output pre {
    margin: 0;
}
</style>
{% endblock %}

{% block content %}
<h2>Job {{ job.pk }}</h2>

<div id="columns">
  <div class="column">
    <dt>Submitted by:</dt>
    <dd>{{ job.submitter }}</dd>

    <dt>Targeted to:</dt>
    <dd>{{ job.target }}</dd>

    <dt>Requested type:</dt>
    <dd>{{ job.device_type }}</dd>
  </div>

  <div class="column">
    <dt>Status:</dt>
    <dd><b>{{ job.get_status_display }}</b></dd>
  </div>

  <div class="column">
    <dt>Submitted at:</dt>
    <dd>{{ job.submit_time }}</dd>

    <dt>Started at:</dt>
    <dd>{{ job.start_time|default:"not started" }}</dd>

    <dt>Finished at:</dt>
    <dd>{{ job.end_time|default:"not finished" }}</dd>
  </div>
  <div style="clear: both"></div>
</div>

<div id="tabs">
  <ul>
    <li><a href="#tab-definition">Job Definition</a></li>
{% if log_file_present %}
    <li><a href="#tab-output">Output</a></li>
{% endif %}
  </ul>
  <div id="tab-definition">
    <pre>
{{ job.definition }}
    </pre>
  </div>
{% if log_file_present %}
  <div id="tab-output">
    <div style="max-height: 400px; overflow: auto;">
      <img src="{{ STATIC_URL }}lava-server/images/ajax-progress.gif"/>
    </div>
  </div>
{% endif %}
</div>

<script>
var pollTimer = null, logLenth = 0, finished = false;

function poll (start) {
  pollTimer = null;
  $.ajax({
    url: '{{ job.id }}/output?start=' + logLenth.toString(),
    dataType: 'json',
    success: function (data) {
      var node = $("<pre></pre>");
      node.text(data.content);
      node.insertBefore('#tab-output img');
      logLenth = data.size;
      if (data.is_finished) {
        $('#tab-output img').css('display', 'none');
        finished = true;
      } else {
        pollTimer = setTimeout(poll, 1000);
      }
    }
  });
}

$(document).ready(
  function() {
    $("#tabs").tabs(
      {
        select: function (event, ui) {
          if (ui.index == 1) {
            if (!finished) poll();
          } else if (pollTimer !== null) {
            clearTimeout(pollTimer);
          }
        }
      }
    );
  }
);
</script>

{% endblock %}
