{% extends "layouts/content_with_sidebar.html" %}
{% load utils %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lava-server/css/demo_table_jui.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lava_scheduler_app/css/scheduler.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}lava-server/js/jquery.dataTables.min.js"></script>
{% endblock %}


{% block sidebar %}
<h2>Job information</h2>
<dl>
    <dt>Submitted by:</dt>
    <dd>{{ job.submitter }}</dd>

    {% if job.requested_device %}
    <dt>Device type:</dt>
    <dd>
      <a href="{{ job.requested_device.device_type.get_absolute_url }}">{{ job.requested_device.device_type }}</a>
    </dd>
    {% endif %}

    {% if job.requested_device_type %}
    <dt>Requested type:</dt>
    <dd><a href="{{ job.requested_device_type.get_absolute_url }}">{{ job.requested_device_type }}</a></dd>
    {% endif %}

    {% for tag in job.tags.all %}
    {% if forloop.first %}
    {% if forloop.revcounter > 1 %}
    <dt>Required Device Tags</dt>
    {% else %}
    <dt>Required Device Tag</dt>
    {% endif %}
    {% endif %}
    <dd>{{ tag.name }}<abbr title="{{ tag.description }}">(?)</abbr></dd>
    {% endfor %}

    {% if job.description %}
    <dt>Description:</dt>
    <dd>{{ job.description }}</dd>
    {% endif %}
     <dt>Status:</dt>
    <dd>{{ job.get_status_display }}</dd>

    <dt>Priority:</dt>
    <dd>{{ job.get_priority_display }}</dd>

    {% if job.actual_device %}
    <dt>On device:</dt>
    <dd>
      <a href="{{ job.actual_device.get_absolute_url }}">{{ job.actual_device.hostname }}</a>
    </dd>
    <dt>Device Owner:
        <abbr title="If specified, submissions to {{ device.hostname }} are restricted to this user or group.">(?)</abbr>
    </dt>
    <dd>
        {% if job.actual_device.user %}
        <a href="mailto:{{ job.actual_device.user.email }}">{{ job.actual_device.user.email }}</a>
        {% elif job.actual_device.group %}
        All users in the {{ job.actual_device.group }} group.
        {% else %}
        Unrestricted
        {% endif %}
    </dd>
    <dt>User(s) with physical access:
        <abbr title="If known, this is the user or group of users with physical access to {{ job.actual_device.hostname }}.">(?)</abbr>
    </dt>
    <dd>
        {% if job.actual_device.physical_owner %}
        <a href="mailto:{{ job.actual_device.physical_owner.email }}">{{ job.actual_device.physical_owner.email }}</a>
        {% elif job.actual_device.physical_group %}
            {{ job.actual_device.physical_group }} group.
        {% else %}
        Unknown
        {% endif %}
    {% endif %}
     <dt>Submitted at:</dt>
    <dd>{{ job.submit_time }}</dd>

    <dt>Started at:</dt>
    <dd>{{ job.start_time|default:"not started" }}</dd>

    <dt>Finished at:</dt>
    <dd>{{ job.end_time|default:"not finished" }}</dd>

    {% if job.is_multinode or job.is_vmgroup %}
    <dt>Sub Jobs:</dt>
    {% for subjob in job.sub_jobs_list %}
    <dd>
      <a href="{% url lava.scheduler.job.detail subjob.sub_id %}">
        {{ subjob.sub_id }}</a>
    </dd>
    {% if subjob.actual_device.hostname %}
    <dd>on:
      <a href="{{ subjob.actual_device.get_absolute_url }}">{{ subjob.actual_device.hostname }}</a>
    </dd>
    <dd>as: {{ subjob.device_role }}</dd>
    {% else %}
    <dd>No device assigned as {{ subjob.device_role }}.</dd>
    {% endif %}
    {% endfor %}
    {% endif %}

</dl>
<h2>Views</h2>
<ul>
    <li>
        <a href="{% url lava.scheduler.job.detail job.pk %}">Summary</a>
    </li>
{% if job_file_present %}
    <li>
        <a href="{% url lava.scheduler.job.log_file job.pk %}">Complete log</a>
    </li>
{% endif %}
    <li>
        <a href="{% url lava.scheduler.job.definition job.pk %}">Definition</a>
    </li>
    {% if job.is_multinode %}
    <li>
        <a href="{% url lava.scheduler.job.multinode_definition job.pk %}"> Multinode Definition</a>
    </li>
    {% endif %}
    {% if job.is_vmgroup %}
    <li>
        <a href="{% url lava.scheduler.job.vmgroup_definition job.pk %}"> VM Group Definition</a>
    </li>
    {% endif %}
    {% if job.results_link %}
    <li>
        <a href="{{ job.results_link }}">Results Bundle</a>
    </li>
    {% endif %}

    <li><b>Device reports</b>
    <ul>
    {% if job.actual_device %}
    <li>Name:&nbsp;<a href="{% url lava.scheduler.device_report job.actual_device.pk %}">{{ job.actual_device.hostname }}</a></li>
    {% endif %}
    {% if job.requested_device %}
    <li>Type:&nbsp;<a href="{% url lava.scheduler.device_type_report job.requested_device.device_type %}">
        {{ job.requested_device.device_type }}</a></li>

    {% elif job.requested_device_type %}
    <li>Type:&nbsp;<a href="{% url lava.scheduler.device_type_report job.requested_device_type %}">
        {{ job.requested_device_type }}</a></li>
    {% endif %}
    </ul></li>

</ul>
{% if show_cancel or show_failure or change_priority or show_resubmit %}
<h2>Job Actions</h2>
{% if show_cancel %}
<form method="POST"
      action="{% url lava.scheduler.job.cancel job.pk %}">
  {% csrf_token %}
  <button id="cancel-button">Cancel</button>
</form>
{% endif %}
{% if show_resubmit %}
<form method="POST"
      action="{% url lava.scheduler.job.resubmit job.pk %}">
  {% csrf_token %}
  <button>Re-submit</button>
</form>
{% endif %}
{% if show_failure %}
<form method="GET"
      action="{% url lava.scheduler.job.annotate_failure job.pk %}">
  <button>Comment on failure</button>
</form>
{% endif %}

{% if change_priority %}
<h3>Job priority: <abbr
title="Priority affects the order in which submitted jobs are scheduled.
Default is to schedule by submission time with health checks
always running before submitted jobs. Running jobs are never affected.">(?)</abbr>
</h3>
<form method="POST"
      action="{% url lava.scheduler.job.priority job.pk %}"
      id="priority-choice">
  {% csrf_token %}
  {{ job.priority|get_priority_select }}
  <button id="priority-button">Set priority</button>
</form>
{% endif %}
{% endif %}

{% endblock %}
