{% extends "layouts/content-bootstrap.html" %}
{% load utils %}

{% block styles %}
  <style>
    code {
      margin: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      border: 0px;
      color: black;

      display: block;
      font-size: 13px;
      background-color: rgb(245, 245, 245);
    }
    code.console {
      color: blue;
    }
    code.traceback {
      color: red;
    }
  </style>
{% endblock %}

{% block content %}
{% load linenumbers %}

<div class="row">
  <div class="col-md-4">
    <h4 class="modal-header">Job information</h4>
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd>{{job.description|default:"<i>not set</i>" }}</dd>
      <dt>Status<dt>
      <dd>{{ job.get_status_display }}</dd>
      <dt>Priority</dt>
      <dd>{{ job.get_priority_display }}</dd>
      <dt>Submitter</dt>
      <dd>{{ job.submitter }}</dd>
    </dl>
  </div>
  <div class="col-md-4">
    <h4 class="modal-header">Device</h4>
    <dl class="dl-horizontal">
    {% if job.actual_device %}
      <dt>Name</dt>
      <dd><a href="{{ job.actual_device.get_absolute_url }}">{{ job.actual_device.hostname }}</a> <a href="{% url 'lava.scheduler.device_report' job.actual_device.pk %}">(reports)</a></dd>
    {% endif %}

    {% if job.requested_device %}
      <dt>Type</dt>
      <dd><a href="{{ job.requested_device.device_type.get_absolute_url }}">{{ job.requested_device.device_type }}</a> <a href="{% url 'lava.scheduler.device_type_report' job.requested_device.device_type %}">(reports)</a></dd>
    {% elif job.requested_device_type %}
      <dt>Requested type</dt>
      <dd><a href="{{ job.requested_device_type.get_absolute_url }}">{{ job.requested_device_type }}</a> <a href="{% url 'lava.scheduler.device_type_report' job.requested_device_type %}">(reports)</a></dd>
    {% endif %}

    {% for tag in job.tags.all %}
      {% if forloop.first %}
      {% if forloop.revcounter > 1 %}
      <dt>Required Tags</dt>
      {% else %}
      <dt>Required Tag</dt>
      {% endif %}
      {% endif %}
      <dd>{{ tag.name }}<abbr title="{{ tag.description }}">(?)</abbr></dd>
    {% endfor %}

    {% if job.actual_device %}
      <dt>Owner</dt>
      <dd>
      {% if job.actual_device.user %}
        <a href="mailto:{{ job.actual_device.user.email }}">{{ job.actual_device.user.email }}</a>
      {% elif job.actual_device.group %}
        All users in the {{ job.actual_device.group }} group.
      {% else %}
        <i>Unrestricted</i>
      {% endif %}
      </dd>
      <dt>Physical access</dt>
      <dd>
      {% if job.actual_device.physical_owner %}
        <a href="mailto:{{ job.actual_device.physical_owner.email }}">{{ job.actual_device.physical_owner.email }}</a>
      {% elif job.actual_device.physical_group %}
        {{ job.actual_device.physical_group }} group.
      {% else %}
        <i>Unknown</i>
      {% endif %}
      </dd>
    {% endif %}
    </dl>
  </div>
  <div class="col-md-4">
    <h4 class="modal-header">Timing</h4>
    <dl class="dl-horizontal">
      <dt>Submitted</dt>
      <dd title="{{ job.submit_time }}">{{ job.submit_time|timesince }}</dd>
      <dt>Started</dt>
      <dd title="{{ job.start_time|default:"not started" }}">{% if job.start_time %}{{ job.start_time|timesince }}{% else %}<i>not started</i>{% endif %}</dd>
      <dt>Finished</dt>
      <dd title="{{ job.end_time|default:"not finished" }}">{% if job.end_time %}{{ job.end_time|timesince }}{% else %}<i>not finished</i>{% endif %}</dd>
    </dl>
  </div>
  {% if job.is_multinode %}
  <div class="col-md-4">
    <h4 class="modal-header">Sub jobs</h4>
    <dl class="dl-horizontal">
    {% for subjob in job.sub_jobs_list %}
      <dt><a href="{% url 'lava.scheduler.job.detail' subjob.sub_id %}">{{ subjob.sub_id }}</a></dt>
    {% if subjob.actual_device.hostname %}
      <dd>on: <a href="{{ subjob.actual_device.get_absolute_url }}">{{ subjob.actual_device.hostname }}</a></dd>
      <dd>as: {{ subjob.multinode_role }}</dd>
    {% else %}
      <dd>No device assigned as {{ subjob.multinode_role }}.</dd>
    {% endif %}
    {% endfor %}
    </dl>
  </div>
  {% endif %}
</div>
<div class="row">
  <div class="col-md-6">
    <h4 class="modal-header">Logs</h4>
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{% url 'lava.scheduler.job.definition' job.pk %}" class="btn btn-default">Definition</a></li>
        {% if job.is_multinode %}
          <li><a href="{% url 'lava.scheduler.job.multinode_definition' job.pk %}" class="btn btn-default">Multinode Definition</a></li>
        {% endif %}
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked">
        {% if job_file_present %}
          <li><a href="{% url 'lava.scheduler.job.log_file' job.pk %}" class="btn btn-default">Complete log</a></li>
        {% endif %}
        {% if job.results_link %}
          <li><a href="{{ job.results_link }}" class="btn btn-default">Results Bundle</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4 class="modal-header">Actions</h4>
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked">
        {% if show_cancel %}
          <li><a href="{% url 'lava.scheduler.job.cancel' job.pk %}" class="btn btn-warning">Cancel</a></li>
        {% endif %}
        {% if show_resubmit %}
          <li><a href="{% url 'lava.scheduler.job.resubmit' job.pk %}" class="btn btn-success">Resubmit</a></li>
        {% endif %}
        </ul>
      </div>
      <div class="col-md-6">
        {% if show_failure %}
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{% url 'lava.scheduler.job.annotate_failure' job.pk %}" class="btn btn-default">Comment</a></li>
        </ul>
        {% endif %}
        {% if change_priority %}
        <form method="POST" action="{% url 'lava.scheduler.job.priority' job.pk %}" id="priority-choice">
          {% csrf_token %}
          <button id="priority-button" class="btn btn-default">Set priority</button><br />
          {{ job.priority|get_priority_select }}
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>



<h4 class="modal-header" id="top">Dispatcher Log messages (file size = {{ job_file_size|filesizeformat }}) <a class="btn btn-xs btn-info" href="{% url 'lava.scheduler.job.log_file.plain' job.pk %}" title="Download as text file"><span class="glyphicon glyphicon-download"></span> download</a></h4>
<a href="#bottom">Go to end of log file</a>


<div id="logfile_content">
{% for section in sections %}
  <a href="#L_{{ forloop.counter0 }}" id="L_{{ forloop.counter0 }}">Section {{ forloop.counter0 }}</a>
  {% if section.0 == 'console' and section.1 > 20 and not forloop.last %}
    <a href="#entry{{ forloop.counter }}">skip {{ section.1 }} lines to next log entry &rarr;</a>
  {% endif %}
  {% linenumbers section.2 forloop.counter0 section.0 %}
{% endfor %}

{% if job.status == job.RUNNING %}
<img id="progress" src="{{ STATIC_URL }}lava_scheduler_app/images/ajax-progress.gif"/>
{% endif %}
</div>

{% if job.status == job.RUNNING %}
<script type="text/javascript">
var pollTimer = null, logLenth = '{{ job_file_size }}';

function poll (start) {
  $.ajax({
    url: '{% url 'lava_scheduler_app.views.job_full_log_incremental' pk=job.pk %}?start=' + logLenth,
    dataType: 'json',
    global: false,
    success: function (data, success, xhr) {
      var progressNode = $('#progress');
      for (var i = 0; i < data.length; i++) {
          var d = data[i];
          var cls = 'log_' + d[0];
          var last_pre = $("#logfile_content pre:last");
          var s = $("html"), w = $(window);
          var atBottom = w.attr('innerHeight') + w.scrollTop() >= s.attr('scrollHeight')
                      && w.attr('innerHeight') > progressNode.attr('offsetHeight');
          if (last_pre.attr('class') == cls) {
              append_to_section(last_pre, d);
          } else {
              var newNode = create_new_section_node(d);
              newNode.insertBefore(progressNode);
          }
          if (atBottom) {
            w.scrollTop(s.attr('scrollHeight'))
          }
      }
      logLenth = xhr.getResponseHeader('X-Current-Size');
      if (xhr.getResponseHeader('X-Is-Finished')) {
        progressNode.css('display', 'none');
      } else {
        pollTimer = setTimeout(poll, 1000);
      }
    }
  });
}

append_to_section = function (element, data) {

    current_table = $("#logfile_content table:last");
    data_arr = data[2].replace(/\r\n/, "\n").split("\n");
    line_number = get_current_section_number()[1];

    if (data_arr[data_arr.length-1] == "") {
        data_arr.pop();
    }

    for (var i in data_arr) {
        line_number++;
        name = "L_" + section_number + "_" + line_number;
        display = section_number + "." + line_number;

        link_node = $("<a>", {
            href: "#" + name,
            html: display
        });

        section_line = $("<div>", {
            class: "line",
        }).append($("<a>", {
            name: name,
        })).append(link_node);

        $(current_table).find("td:first").append(section_line);

        line_node = $("<div>", {
            id: name,
            class: "line"
        }).html("&nbsp;" + data_arr[i]);
        element.append(line_node);
    }
}

create_new_section_node = function(data) {

    section_number++;
    data_arr = data[2].split("\n");
    if (data_arr[data_arr.length-1] == "") {
        data_arr.pop();
    }

    section_node = $("<td>");
    for (var i in data_arr) {
        name = "L_" + section_number + "_" + i;
        if (i == 0) {
            display = "Section " + section_number;
        } else {
            display = section_number + "." + i;
        }

        link_node = $("<a>", {
            href: "#" + name,
            html: display
        });

        section_node.append($("<div>", {
            class: "line",
        }).append($("<a>", {
            name: name,
        })).append(link_node));
    }

    text_element = $("<pre>", {
                  class: "log_" + data[0],
              });
    for (var i in data_arr) {
        var id = "L_" + section_number + "_" + i;
        text_element.append($("<div>", {
            id: id,
            class: "line"

        }).html("&nbsp;" + data_arr[i]));
    }

    var text_node = $("<td>", {
                      class: "code",
                  }).append($("<div>",{
                      class: "container",
                  }).append(text_element));

    var node = $("<table>")
                .append($("<tr>")
                .append(section_node)
                .append(text_node)
               );

    return node;
}

get_current_section_number = function() {

    last_div = $("#logfile_content div:last");

    if ($(last_div).attr("id")) {
        div_id_arr = $(last_div).attr("id").split('_');
        return [div_id_arr[1], div_id_arr[2]];
    }

    return [-1, -1];
}

var section_line_number = get_current_section_number();
var section_number = section_line_number[0];

$(document).ready(function () {
  pollTimer = setTimeout(poll, 1000);
});
</script>
{% endif %}
<a id="bottom" href="#top">Go to start of log file</a>
{% endblock %}
