{% load utils %}

<div class="text-nowrap">
  <a class="btn btn-xs btn-success {% if not record.results_link %}disabled{% endif %}"
     title="{% if record.results_link %}View job results{% elif not record.results_link %}Disabled for V1 jobs{% endif %}"
     {% if not record.results_link %}
     onclick="javascript:void(0)" style="pointer-events: auto;"
     {% else %}
     href="{{ record.results_link }}"
     {% endif %}>
    <span class="glyphicon glyphicon-signal"></span>
  </a>
    <a class="btn btn-xs btn-info" title="View job details"
     href="{{ record.get_absolute_url }}">
    <span class="glyphicon glyphicon-eye-open"></span>
  </a>
    <a class="btn btn-xs btn-primary" title="End of log"
     href="{{ record.get_absolute_url }}#bottom">
    <span class="glyphicon glyphicon-fast-forward"></span>
  </a>
</div>

