{% extends "layouts/content-bootstrap.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lava-server/css/jquery.steps.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lava_scheduler_app/css/job-wizard.css"/>
{% endblock %}

{% block content %}

<h2>Job Submission Wizard</h2>

{% if is_authorized %}

<form id="job_wizard" action="{% url 'lava.scheduler.job.submit' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="wizard" value="true" />
 <h1>Basic details</h1>

 <fieldset>
   <legend>Basic job details</legend>

   <div class="media col-xs-4" style="clear: both;">
     <label for="job_name" class="control-label">Job name *</label>
     <input id="job_name" name="job_name" required type="text" class="required form-control">
   </div>

   <div class="media col-xs-4" style="clear: both;">
     <label for="timeout" class="control-label">Timeout *</label>
     <input id="timeout" name="timeout" required type="text" class="required form-control" value="18000">
   </div>

   <div class="media col-xs-4" style="clear: both;">
     <label for="notify" class="control-label">Notify on incomplete</label>
     <input id="notify" name="notify" type="text" class="form-control">
   </div>

 </fieldset>

 <h1>Boot image</h1>
 <fieldset>
   <legend style="margin-bottom: 0;">Select boot image parameter options</legend>

   <div class="col-xs-4" style="clear: both;">
     <label for="boot_type" class="control-label">Image type</label> (Only options which are required or optional for each image type are supported.)
     <select id="boot_type" name="boot_type" class="form-control">
       <option value="linaro_image">Linaro Image</option>
       <option value="linaro_hwpack">Linaro hwpack+rootfs</option>
       <option value="linaro_kernel">Linaro kernel</option>
       <option value="android_image">Linaro Android Image</option>
     </select>
   </div>

   <div id="image_url_container" class="media col-xs-6" style="clear: both;">
     <label for="image_url" class="control-label">Image URL *</label> (Required for Linaro Image)
     <input id="image_url" name="image_url" required type="text" class="required form-control source_url">
   </div>

   <div id="hwpack_container" class="media col-xs-6" style="clear: both;">
     <label for="hwpack_url" class="control-label">Hwpack URL *</label> (Required for Linaro hwpack+rootfs)
     <input id="hwpack_url" name="hwpack_url" required type="text" class="required form-control source_url">
   </div>

   <div id="rootfs_container" class="media col-xs-6" style="clear: both;">
     <label for="rootfs_url" class="control-label">Rootfs URL *</label> (Required for Linaro hwpack+rootfs, optional for Linaro kernel)
     <input id="rootfs_url" name="rootfs_url" required type="text" class="required form-control source_url">
   </div>

   <div id="android_boot_container" class="media col-xs-6" style="clear: both;">
     <label for="android_boot" class="control-label">Boot URL *</label> (Required for Linaro Android Image)
     <input id="android_boot" name="android_boot" required type="text" class="required form-control source_url">
   </div>

   <div id="android_data_container" class="media col-xs-6" style="clear: both;">
     <label for="android_data" class="control-label">Data URL *</label> (Required for Linaro Android Image)
     <input id="android_data" name="android_data" required type="text" class="required form-control source_url">
   </div>

   <div id="android_system_container" class="media col-xs-6" style="clear: both;">
     <label for="android_system" class="control-label">System URL *</label> (Required for Linaro Android Image)
     <input id="android_system" name="android_system" required type="text" class="required form-control source_url">
   </div>

   <div id="kernel_container" class="media col-xs-6" style="clear: both;">
     <label for="kernel" class="control-label">Kernel URL *</label> (Required for Linaro kernel)
     <input id="kernel" name="kernel" required type="text" class="required form-control source_url">
   </div>

   <div id="ramdisk_container" class="media col-xs-6" style="clear: both;">
     <label for="ramdisk" class="control-label">Ramdisk URL</label> (Optional for Linaro kernel)
     <input id="ramdisk" name="ramdisk" type="text" class="form-control source_url">
   </div>

   <div id="dtb_container" class="media col-xs-6" style="clear: both;">
     <label for="dtb" class="control-label">Device tree blob</label> (Optional for Linaro kernel)
     <input id="dtb" name="dtb" type="text" class="form-control source_url">
   </div>

   <div id="kernel_rootfs_container" class="media col-xs-6" style="clear: both;">
     <label for="kernel_rootfs" class="control-label">Rootfs URL *</label> (Required for Linaro hwpack+rootfs, optional for Linaro kernel)
     <input id="kernel_rootfs" name="kernel_rootfs" type="text" class="form-control source_url">
   </div>

   <div class="media col-xs-6" style="clear: both;">
     <label for="boot_options" class="control-label">Custom boot commands</label>
     <textarea id="boot_options" name="boot_options" class="form-control"></textarea>
   </div>

 </fieldset>

 <h1>Device and tests</h1>

 <fieldset>
   <legend style="margin-bottom: 0;">Device and tests</legend>

   <div class="media col-xs-3">
     <label for="device_type" class="control-label">Device Type</label>
     <select id="device_type" name="device_type" class="form-control">
       {% for type in device_types %}
       <option value="{{ type }}">{{ type }}</option>
       {% endfor%}
     </select>
   </div>

   <div class="media col-xs-6" style="clear: both;">
     <label for="device_tags" class="control-label">Device Tags</label>
     <input id="device_tags" name="device_tags" type="text" class="form-control">
   </div>


   <div id="testdef_type_container" class="media col-xs-3" style="clear: both;">
     <label for="testdef_type" class="control-label">Test definition type</label>
     <select id="testdef_type" name="testdef_type" class="form-control">
       <option value="repo">Repository</option>
       <option value="url">URL</option>
     </select>
   </div>

   <div id="repo_container" class="media col-xs-6" style="clear: both;">
     <label for="repo" class="control-label">Test definition repo</label>
     <input id="repo" name="repo" type="text" class="form-control repo_url">
   </div>

   <div id="testdef_container" class="media col-xs-6" style="clear: both;">
     <label for="testdef" class="control-label">Test definition path</label>
     <input id="testdef" name="testdef" type="text" class="form-control">
   </div>

   <div id="testdef_url_container" class="media col-xs-6" style="clear: both;">
     <label for="testdef_url" class="control-label">Test definition URL</label>
     <input id="testdef_url" name="testdef_url" type="text" class="form-control url">
   </div>

   <div id="test_name_container" class="media col-xs-6" style="clear: both;">
     <label for="test_name" class="control-label">Test name</label>
     <input id="test_name" name="test_name" type="text" class="form-control">
   </div>

   <div class="media col-xs-3">
     <label for="skip_install" class="control-label">Skip install step</label>
     <select id="skip_install" name="skip_install" class="form-control">
       <option value="none">none</option>
       <option value="deps">deps</option>
       <option value="repos">repos</option>
       <option value="steps">steps</option>
       <option value="all">all</option>
     </select>
   </div>

 </fieldset>

 <h1>Submit results</h1>

 <fieldset>
   <legend>Submit results</legend>

   <div class="media col-xs-6" style="clear: both;">
     <label for="submit_stream" class="control-label">Bundle stream</label>
     <input id="submit_stream" name="submit_stream" type="text" class="form-control">
   </div>

   <div class="media col-xs-6" style="clear: both;">
     <label for="create_stream" class="control-label">Create bundle stream</label>
     <input id="create_stream" name="create_stream" type="checkbox" class="form-inline">
   </div>

 </fieldset>

</form>

{% else %}

<h3>Error:</h3>
<p>Permission denied. You not have the required permissions to submit new jobs.</p>
<p>Please contact the administrators.</p>

{% endif %}

{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}lava-server/js/jquery.validate.min.js"></script>
<script src="{{ STATIC_URL }}lava-server/js/jquery.steps.js"></script>
<script src="{{ STATIC_URL }}lava_scheduler_app/js/job-wizard.js"></script>
{% endblock %}
