{% extends "layouts/content-bootstrap.html" %}
{% load utils %}

{% block styles %}
  <link href="{{ STATIC_URL }}lava_scheduler_app/css/logfile.css" rel="stylesheet" type="text/css" />
  <style>
    code {
      margin: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      border: 0px;
      color: black;

      display: block;
      font-size: 13px;
      background-color: rgb(245, 245, 245);
    }
    code.console {
      color: blue;
    }
    code.traceback {
      color: red;
    }
  </style>
{% endblock %}

{% block content %}
{% load linenumbers %}
{% if job.status >= job.RUNNING %}
<a class="btn btn-sm btn-default" href="#bottom">End of log file <span class="glyphicon glyphicon-fast-forward"></span></a><br/><br/>
{% endif %}

<div class="row">
  <div class="col-md-4">
    <h4 class="modal-header">Job information</h4>
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd>{{job.description|default:"<i>not set</i>" }}</dd>
      <dt>Status<dt>
      <dd>{{ job.get_status_display }}</dd>
      <dt>Priority</dt>
      <dd>{{ job.get_priority_display }}</dd>
      <dt>Submitter</dt>
      <dd>{{ job.submitter }}</dd>
    </dl>
  </div>
  <div class="col-md-4">
    <h4 class="modal-header">Device</h4>
    <dl class="dl-horizontal">
    {% if job.actual_device %}
      <dt>Name</dt>
      <dd><a href="{{ job.actual_device.get_absolute_url }}">{{ job.actual_device.hostname }}</a>{% if not job.is_vmgroup %} <a
      href="{% url 'lava.scheduler.device_report' job.actual_device.pk %}">(reports)</a>{% endif %}</dd>
    {% endif %}

    {% if job.requested_device %}
      <dt>Type</dt>
      <dd><a href="{{ job.requested_device.device_type.get_absolute_url }}">{{ job.requested_device.device_type }}</a>{% if not job.is_vmgroup %} <a
      href="{% url 'lava.scheduler.device_type_report' job.requested_device.device_type %}">(reports)</a>{% endif %}</dd>
    {% elif job.requested_device_type %}
      <dt>Requested type</dt>
      <dd><a href="{{ job.requested_device_type.get_absolute_url }}">{{ job.requested_device_type }}</a> <a href="{% url 'lava.scheduler.device_type_report' job.requested_device_type %}">(reports)</a></dd>
    {% endif %}

    {% for tag in job.tags.all %}
      {% if forloop.first %}
      {% if forloop.revcounter > 1 %}
      <dt>Required Tags</dt>
      {% else %}
      <dt>Required Tag</dt>
      {% endif %}
      {% endif %}
      <dd>{{ tag.name }}<abbr title="{{ tag.description }}">(?)</abbr></dd>
    {% endfor %}

    {% if job.actual_device %}
      <dt>Owner</dt>
      <dd>
      {% if job.actual_device.user %}
        <a href="mailto:{{ job.actual_device.user.email }}">{{ job.actual_device.user.email }}</a>
      {% elif job.actual_device.group %}
        Group <em>{{ job.actual_device.group }}</em>
      {% else %}
        <i>Unrestricted</i>
      {% endif %}
      </dd>
      <dt>Physical access</dt>
      <dd>
      {% if job.actual_device.physical_owner %}
        <a href="mailto:{{ job.actual_device.physical_owner.email }}">{{ job.actual_device.physical_owner.email }}</a>
      {% elif job.actual_device.physical_group %}
        Group <em>{{ job.actual_device.physical_group }}</em>
      {% else %}
        <i>Unknown</i>
      {% endif %}
      </dd>
    {% endif %}
    </dl>
  </div>
  <div class="col-md-4">
    <h4 class="modal-header">Timing</h4>
    <dl class="dl-horizontal">
      <dt>Submitted</dt>
      <dd title="{{ job.submit_time }}">{{ job.submit_time|timesince }}</dd>
      <dt>Started</dt>
      <dd title="{{ job.start_time|default:"not started" }}">{% if job.start_time %}{{ job.start_time|timesince }}{% else %}<i>not started</i>{% endif %}</dd>
      <dt>Finished</dt>
      <dd title="{{ job.end_time|default:"not finished" }}">{% if job.end_time %}{{ job.end_time|timesince }}{% else %}<i>not finished</i>{% endif %}</dd>
      {% if job.start_time and job.end_time %}
      <dt>Duration</dt>
      <dd>{{ job.end_time|timeuntil:job.start_time }}</dd>
      {% endif %}
    </dl>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4 class="modal-header">Logs</h4>
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{% url 'lava.scheduler.job.definition' job.pk %}" class="btn btn-info">Definition</a></li>
        {% if job.is_multinode %}
          <li><a href="{% url 'lava.scheduler.job.multinode_definition' job.pk %}" class="btn btn-info">Multinode Definition</a></li>
        {% elif job.is_vmgroup %}
           <li><a href="{% url 'lava.scheduler.job.vmgroup_definition' job.pk %}" class="btn btn-info">VMGroup Definition</a></li>
        {% endif %}
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked">
        {% if job_file_present and not job.archived_job_file %}
          <li><a href="{{ job.get_absolute_url }}" class="btn btn-primary">Summary</a></li>
        {% endif %}
        {% if job.results_link and not job.archived_bundle %}
            {% if job.is_pipeline %}
          <li><a href="{{ job.results_link }}" class="btn btn-success">Results</a></li>
            {% else %}
          <li><a href="{{ job.results_link }}" class="btn btn-success">Results Bundle</a></li>
            {% endif %}
        {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4 class="modal-header">Actions</h4>
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked">
        {% if show_cancel %}
          <li><a href="{% url 'lava.scheduler.job.cancel' job.pk %}" class="btn btn-warning">Cancel</a></li>
        {% endif %}
        {% if show_resubmit %}
          <li><a href="{% url 'lava.scheduler.job.resubmit' job.pk %}" class="btn btn-default">Resubmit</a></li>
        {% endif %}
        </ul>
      </div>
      <div class="col-md-6">
        {% if show_failure %}
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{% url 'lava.scheduler.job.annotate_failure' job.pk %}" class="btn btn-default">Comment</a></li>
        </ul>
        {% endif %}
        {% if change_priority %}
        <form method="POST" action="{% url 'lava.scheduler.job.priority' job.pk %}" id="priority-choice">
          {% csrf_token %}
          <button id="priority-button" class="btn btn-default">Set priority</button><br />
          {{ job.priority|get_priority_select }}
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% if job.is_multinode or job.is_vmgroup %}
<div class="row">
  <div class="col-md-6">
    <h4 class="modal-header">Sub jobs</h4>
    <dl class="dl-horizontal">
    {% for subjob in job.sub_jobs_list %}
      <dt><a href="{% url 'lava.scheduler.job.detail' subjob.sub_id %}">{{ subjob.sub_id }}</a>
        {% if '0' in subjob.sub_id and '0' not in job.sub_id %}
            <abbr title="view job {{ subjob.sub_id }} to see the result bundle, if any.">(?)</abbr>
        {% endif %}
      </dt>
        <dd>
    {% if subjob.actual_device.hostname %}
      on: <a href="{{ subjob.actual_device.get_absolute_url }}">{{ subjob.actual_device.hostname }}</a>
      as: {{ subjob.device_role }}
      </dd>
    {% else %}
      No device assigned as {{ subjob.device_role }}.</dd>
    {% endif %}
    {% endfor %}
    </dl>
  </div>
</div>
{% endif %}

{% if size_warning %}
<div class="alert alert-warning" id="size-warning">
<p><strong>This log file is too large to view</strong>, (over {{ size_warning|filesizeformat }} bytes).
    It can only be downloaded.</p>
</div>
{% endif %}

{% if job.archived_job_file %}
<div class="alert alert-warning" id="archive-warning">
<p><strong>Job log file archived.</strong>
Please contact the administrator for job log file.</p>
</div>
{% endif %}

{% if not job.archived_job_file %}
<h4 class="modal-header" id="top">Dispatcher Log messages (file size = {{ job_file_size|filesizeformat }}) <a class="btn btn-xs btn-info" href="{% url 'lava.scheduler.job.log_file.plain' job.pk %}" title="Download as text file"><span class="glyphicon glyphicon-download"></span> download</a></h4>
<a class="btn btn-sm btn-default" href="#bottom">End of log file <span class="glyphicon glyphicon-fast-forward"></span></a>


<div id="logfile_content">
{% for section in sections %}
  <a href="#L_{{ forloop.counter0 }}" id="L_{{ forloop.counter0 }}">Section {{ forloop.counter0 }}</a>
  {% if section.0 == 'console' and section.1 > 20 and not forloop.last %}
    <a href="#L_{{ forloop.counter }}">skip {{ section.1 }} lines to next log entry &rarr;</a>
  {% endif %}
  {% linenumbers section.2 forloop.counter0 section.0 %}
{% endfor %}

  {% if job.status == job.RUNNING %}
  <img id="progress" src="{{ STATIC_URL }}lava_scheduler_app/images/ajax-progress.gif"/>
  {% endif %}
</div>

<a class="btn btn-sm btn-default" href="#top" id="bottom"><span class="glyphicon glyphicon-fast-backward"></span> Start of log file</a><br/><br/>
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{% url 'lava.scheduler.job.definition' job.pk %}" class="btn btn-info">Definition</a></li>
        {% if job.is_multinode %}
          <li><a href="{% url 'lava.scheduler.job.multinode_definition' job.pk %}" class="btn btn-info">Multinode Definition</a></li>
        {% elif job.is_vmgroup %}
           <li><a href="{% url 'lava.scheduler.job.vmgroup_definition' job.pk %}" class="btn btn-info">VMGroup Definition</a></li>
        {% endif %}
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked">
        {% if job_file_present %}
          <li><a href="{{ job.get_absolute_url }}#bottom" class="btn btn-primary">Summary</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endif %}
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked">
        {% if job.results_link and not job.archived_bundle %}
            {% if job.is_pipeline %}
          <li><a href="{{ job.results_link }}" class="btn btn-success">Results</a></li>
            {% else %}
          <li><a href="{{ job.results_link }}" class="btn btn-success">Results Bundle</a></li>
            {% endif %}
        {% else %}
        {% if show_cancel %}
          <li><a href="{% url 'lava.scheduler.job.cancel' job.pk %}" class="btn btn-warning">Cancel</a></li>
        {% endif %}
        {% endif %}
        {% if show_resubmit and not job.archived_job_file %}
          <li><a href="{% url 'lava.scheduler.job.resubmit' job.pk %}" class="btn btn-default">Resubmit</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% if job.status == job.RUNNING %}
<div class="row">
  <div class="col-md-6">
    <h4 class="modal-header">Job information</h4>
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd>{{job.description|default:"<i>not set</i>" }}</dd>
      <dt>Submitter</dt>
      <dd>{{ job.submitter }}</dd>
    </dl>
  </div>
{% if job.actual_device %}
  <div class="col-md-6">
    <h4 class="modal-header">Device</h4>
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><a href="{{ job.actual_device.get_absolute_url }}">{{ job.actual_device.hostname }}</a>
          {% if not job.is_vmgroup %} <a href="{% url 'lava.scheduler.device_report' job.actual_device.pk %}">(reports)</a>{% endif %}</dd>
    {% if job.requested_device %}
      <dt>Type</dt>
      <dd><a href="{{ job.requested_device.device_type.get_absolute_url }}">{{ job.requested_device.device_type }}</a>{% if not job.is_vmgroup %} <a
      href="{% url 'lava.scheduler.device_type_report' job.requested_device.device_type %}">(reports)</a>{% endif %}</dd>
    {% elif job.requested_device_type %}
      <dt>Requested type</dt>
      <dd><a href="{{ job.requested_device_type.get_absolute_url }}">{{ job.requested_device_type }}</a> <a href="{% url 'lava.scheduler.device_type_report' job.requested_device_type %}">(reports)</a></dd>
    {% endif %}
    </dl>
  </div>
</div>
{% endif %}
{% endif %}

{% endblock %}

{% block scripts %}

{% if job.status == job.RUNNING %}
<script type="text/javascript">
var pollTimer = null, logLenth = '{{ job_file_size }}';
var section_number = -1;
var line_number = -1;

function poll (start) {
  $.ajax({
    url: '{% url 'lava_scheduler_app.views.job_full_log_incremental' pk=job.pk %}?start=' + logLenth,
    dataType: 'json',
    global: false,
    success: function (data, success, xhr) {
      var progressNode = $('#progress');
      // Do we have to scroll down ?
      var scroll_down = false;
      if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
        scroll_down = true;
      }
      for (var i = 0; i < data.length; i++) {
        var d = data[i];
        var cls = 'line ' + d[0];
        var last_code = $("#logfile_content > div:last > code:last");
        if (last_code.attr('class') == cls) {
          append_to_section(last_code, d);
        } else {
          var newNode = create_new_section_node(d);
          newNode.insertBefore(progressNode);
        }

        // Scroll if needed
        if (scroll_down) {
          document.getElementById('bottom').scrollIntoView();
        }
      }
      logLenth = xhr.getResponseHeader('X-Current-Size');
      if (xhr.getResponseHeader('X-Is-Finished')) {
        progressNode.css('display', 'none');
      } else {
        pollTimer = setTimeout(poll, 1000);
      }
    }
  });
}

function append_to_section (element, data) {
  // Spit at end of line
  var data_arr = data[2].replace(/\r\n/, "\n").split("\n");

  // Remove trailing empty line
  if (data_arr[data_arr.length-1] == "") {
      data_arr.pop();
  }

  var old_node = element;
  // Add new lines, one by one
  for (var i in data_arr) {
    var name = 'L_' + section_number + '_' + line_number;
    var node = $('<code id="' + name + '" class="line ' + data[0] + '"><a href="#' + name + '">' + section_number + '.' + line_number + '</a> &nbsp;' + data_arr[i] + '</code>');
    node.insertAfter(old_node);
    old_node = node;
    line_number++;
  }
}

function create_new_section_node (data) {
  section_number++;
  line_number = 0;
  // Spit at end of line
  var data_arr = data[2].replace(/\r\n/, "\n").split("\n");
  if (data_arr[data_arr.length-1] == "") {
    data_arr.pop();
  }

  var node = '<a href="#L_' + section_number + '" id="L_' + section_number + '">Section ' + section_number + '</a>\n<div>\n';

  for (var i in data_arr) {
    var name = 'L_' + section_number + '_' + i;
    var code_node = '<code id="' + name + '" class="line ' + data[0] + '"><a href="#' + name + '">' + section_number + '.' + line_number + '</a> &nbsp;' + data_arr[i] + '</code>';
    node = node + code_node;
    line_number++;
  }
  return $(node);
}

function get_current_section_number () {

    last_code = $("#logfile_content > div:last > code:last");

    if ($(last_code).attr("id")) {
        code_id_arr = $(last_code).attr("id").split('_');
        return [code_id_arr[1], code_id_arr[2]];
    }

    return [-1, -1];
}

$(function () {
  var initial_numbers = get_current_section_number();
  section_number = initial_numbers[0];
  line_number = initial_numbers[1];

  pollTimer = setTimeout(poll, 1000);
});
</script>
{% endif %}
{% endblock scripts %}
