{% extends "lava_scheduler_app/_content.html" %}


{% block content %}
<h2>Lab Health</h2>

<table class="data display">
  <thead>
    <tr>
      <th class="device">Hostname</th>
      <th>Health Status</th>
      <th>Last Report Job</th>
    </tr>
  </thead>
  <tbody>
    {% for device_health in device_health_list %}
    <tr>
      <td><a href="{{ device_health.get_absolute_url }}">{{ device_health }} </a></td>
      <td>{{ device_health.get_health_status_display }}</td>
      <td><a href="{{ device_health.last_health_report_job.get_absolute_url }}">{{ device_health.last_health_report_job.id }}_</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
$(document).ready(
  function() {
    $("table.data").dataTable({
      "bJQueryUI": true,
      "aoColumnDefs": [
        { "sType": "num-html", "aTargets": [ "device" ] }
      ],
      "aaSorting": [[0, "desc"]],
      "iDisplayLength": 25
    });
  }
);
</script>

{% endblock %}
