{% extends "layouts/content.html" %}
{% load django_tables2 %}
{% load static %}

{% block content %}
<h2>Error Jobs submitted by {{ user.username }}</h2>

<ul class="nav nav-tabs">
    <li role="presentation">
        <a href="{% url 'lava.scheduler.myjobs' %}"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> All Jobs</a></li>
    <li role="presentation">
        <a href="{% url 'lava.scheduler.myjobs.active' %}">Active Jobs</a></li>
    <li role="presentation">
        <a href="{% url 'lava.scheduler.myjobs.queued' %}"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span> Queued Jobs</a></li>
    <li role="presentation" class="active">
        <a href="{% url 'lava.scheduler.myjobs.error' %}"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Job Errors</a></li>
</ul>

{% render_table myjobs_error_table %}

{% endblock %}

{% block scripts %}
<script src="{% static "lava_scheduler_app/js/tables.js" %}"></script>
{% endblock %}
