{% extends "layouts/content-bootstrap.html" %}
{% load utils %}
{% load django_tables2 %}

{% block content %}
<div class="row" id="top">
  <div class="col-md-4">
    <h4 class="modal-header">Job information</h4>
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd>{{job.description|default:"<i>not set</i>" }}</dd>
      <dt>Status<dt>
      <dd id="jobstatusdef">{{ job.get_status_display }}</dd>
      <dt>Priority</dt>
      <dd>{{ job.get_priority_display }}</dd>
      <dt>Submitter</dt>
      <dd>{{ job.submitter }}</dd>
      <dt>Visibility</dt>
      <dd>{{ job.get_visibility_display }}</dd>
      {% if job.visibility == 2 %}
      <dt>Visibility groups</dt>
      <dd>
	{% for group in job.viewing_groups.all %}
	{{ group }}&nbsp;
	{% endfor %}
      </dd>
      {% endif %}
    </dl>
  </div>
  <div class="col-md-4">
    <h4 class="modal-header">Device</h4>
    <div id="statusblock">
{% include 'lava_scheduler_app/_device_refresh.html' %}
    </div>
  </div>
  <div class="col-md-4" id="jobtiming">
{% include 'lava_scheduler_app/_job_timing.html' %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4 class="modal-header">Logs</h4>
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked">
        <li><a class="btn btn-sm btn-default" href="#bottom">End of log file <span
        class="glyphicon glyphicon-fast-forward"></span></a></li>
          <li><a href="{% url 'lava.scheduler.job.definition' job.pk %}" class="btn btn-info">Definition</a></li>
        {% if job.is_multinode %}
          <li><a href="{% url 'lava.scheduler.job.multinode_definition' job.pk %}"
                 class="btn btn-info">Multinode Definition</a></li>
        {% endif %}
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ job.get_absolute_url }}" class="btn btn-primary">Summary</a></li>
          <li><a href="{{ job.results_link }}" class="btn btn-success">Results</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4 class="modal-header">Actions</h4>
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked">
        {% if show_cancel %}
          <li id="showcancel"><a href="{% url 'lava.scheduler.job.cancel' job.pk %}" class="btn btn-warning">Cancel</a></li>
        {% endif %}
        {% if show_resubmit %}
          <li><a href="{% url 'lava.scheduler.job.resubmit' job.pk %}" class="btn btn-default">Resubmit</a></li>
        {% endif %}
        </ul>
      </div>
      <div class="col-md-6">
        {% if show_failure %}
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{% url 'lava.scheduler.job.annotate_failure' job.pk %}" class="btn btn-default">Comment</a></li>
        </ul>
        {% endif %}
        {% if change_priority and job.status == job.SUBMITTED and not job.is_multinode %}
        <form method="POST" action="{% url 'lava.scheduler.job.priority' job.pk %}" id="priority-choice">
          {% csrf_token %}
          <button id="priority-button" class="btn btn-default">Set priority</button><br />
          {{ job.priority|get_priority_select }}
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% if job.is_multinode %}
<div class="row">
  <div class="col-md-6">
    <h4 class="modal-header">Sub jobs</h4>
    <div class="row">
    <dl class="dl-horizontal">
    {% for subjob in job.sub_jobs_list %}
      <dt><a href="{% url 'lava.scheduler.job.detail' subjob.sub_id %}">{{ subjob.sub_id }}</a>
        {% if '0' in subjob.sub_id and '0' not in job.sub_id %}
            <abbr title="view job {{ subjob.sub_id }} to see the result bundle, if any.">(?)</abbr>
        {% endif %}
      </dt>
        <dd>
    {% if subjob.actual_device.hostname %}
      on: <a href="{{ subjob.actual_device.get_absolute_url }}">{{ subjob.actual_device.hostname }}</a>
      as: {{ subjob.device_role }}
    {% else %}
      No device assigned as {{ subjob.device_role }}.
    {% endif %}
        </dd>
    {% endfor %}
    </dl>
    </div>
  </div>
</div>
{% endif %}

{% if job.failure_comment %}
<div id="failure_block" style="display: none">
<h4 class="modal-header">Job failure comment</h4>
<div class="alert alert-danger" id="failure_comment">{{ job.failure_comment }}</div>
</div>
{% endif %}


<div class="row" id="sectionlogs">
{% spaceless %}
  {% get_pipeline_sections pipeline_data as sections %}
      <div class="col-md-6">
      <h4>Sections</h4>
        <ul class="nav nav-pills">
  {% for item in sections %}
      {% if 'section' in request.GET %}
          {% for section, level in item.items %}
              {% if section in request.GET.section %}
          <li><a href="{% querystring "section"=section %}" class="btn btn-primary">{{ section }}</a></li>
              {% else %}
          <li><a href="{% querystring "section"=section %}" class="btn btn-info">{{ section }}</a></li>
              {% endif %}
          {% endfor %}
      {% else %}
          {% for section, level in item.items %}
              {% if section == default_section %}
          <li><a href="{% querystring "section"=section %}" class="btn btn-primary">{{ section }}</a></li>
              {% else %}
          <li><a href="{% querystring "section"=section %}" class="btn btn-info">{{ section }}</a></li>
              {% endif %}
          {% endfor %}
      {% endif %}
  {% endfor %}
        </ul>
      </div>
    <div class="col-md-6">
    <h4>Logging levels</h4>
      <ul class="nav nav-pills">
      <li>&nbsp;</li>
    {% if 'off' in request.GET.warning %}
      <li><a href="{% querystring "warning"="" %}" class="btn btn-info">Warning</a></li>
    {% else %}
      <li><a href="{% querystring "warning"="off" %}" class="btn btn-warning">Warning</a></li>
    {% endif %}
    {% if 'off' in request.GET.info %}
      <li><a href="{% querystring "info"="" %}" class="btn btn-info">Info</a></li>
    {% else %}
      <li><a href="{% querystring "info"="off" %}" class="btn btn-primary">Info</a></li>
    {% endif %}
    {% if 'on' in request.GET.debug %}
      <li><a href="{% querystring "debug"="" %}" class="btn btn-primary">Debug</a></li>
    {% else %}
      <li><a href="{% querystring "debug"="on" %}" class="btn btn-info">Debug</a></li>
    {% endif %}
        </ul>
    <hr/>
      </div>
{% endspaceless %}
    </div>
<div id="log-messages">
<div class="row">
    <div class="col-md-1">
        <p class="lead">Line</p>
    </div>
    <div class="col-md-2">
        <p class="lead">Action Timing</p>
    </div>
    <div class="col-md-8">
        <p class="lead">Action Summary</p>
    </div>
</div>
<hr/>
<p>Each action is displayed relative to the timeline of the job,
according to the logging level of the message from that action.
Dispatcher messages are in <span class="text-primary">blue</span>,
result messages are in <span class="text-success">green</span>.
Target messages are indented and shown in <samp>monospace</samp>.
There is often a lag between the dispatcher message describing
an operation and the message from the target processing that
operation.</p>
<p>Line numbers are not necessarily sequential to avoid adding
extra blank lines to the output.</p>
<div id="log_data">
{% include 'lava_scheduler_app/_structured_logdata.html' %}
</div>
  <div class="row" id="log_progress">
  <div class="col-md-8 col-md-offset-2">
  {% if job.status != job.COMPLETE and job.status != job.INCOMPLETE and job.status != job.CANCELED %}
    <img src="{{ STATIC_URL }}lava_scheduler_app/images/ajax-progress.gif"/>
  {% endif %}
  </div>
  </div>
</div> {% comment %}log messages{% endcomment %}
<hr/>
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
        <li><a class="btn btn-sm btn-default" href="#top" id="bottom"><span
        class="glyphicon glyphicon-fast-backward"></span> Start of log file</a></li>
        </ul>
      </div>
    <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{% url 'lava.scheduler.job.definition' job.pk %}" class="btn btn-info">Definition</a></li>
        {% if job.is_multinode %}
          <li><a href="{% url 'lava.scheduler.job.multinode_definition' job.pk %}" class="btn btn-info">Multinode Definition</a></li>
        {% endif %}
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ job.get_absolute_url }}#bottom" class="btn btn-primary">Summary</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ job.results_link }}" class="btn btn-success">Results</a></li>
        </ul>
      </div>
    <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked">
        {% if show_cancel %}
          <li id="showcancelend"><a href="{% url 'lava.scheduler.job.cancel' job.pk %}" class="btn btn-warning">Cancel</a></li>
        {% endif %}
        {% if show_resubmit and not job.archived_job_file %}
          <li><a href="{% url 'lava.scheduler.job.resubmit' job.pk %}" class="btn btn-default">Resubmit</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% if job.status == job.RUNNING %}
<div class="row">
  <div class="col-md-6">
    <h4 class="modal-header">Job information</h4>
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd>{{job.description|default:"<i>not set</i>" }}</dd>
      <dt>Submitter</dt>
      <dd>{{ job.submitter }}</dd>
    </dl>
  </div>
{% if job.actual_device %}
  <div class="col-md-6">
    <h4 class="modal-header">Device</h4>
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><a href="{{ job.actual_device.get_absolute_url }}">{{ job.actual_device.hostname }}</a>
          <a href="{% url 'lava.scheduler.device_report' job.actual_device.pk %}">(reports)</a></dd>
    {% if job.requested_device %}
      <dt>Type</dt>
      <dd><a href="{{ job.requested_device.device_type.get_absolute_url }}">{{ job.requested_device.device_type }}</a> <a
      href="{% url 'lava.scheduler.device_type_report' job.requested_device.device_type %}">(reports)</a></dd>
    {% elif job.requested_device_type %}
      <dt>Requested type</dt>
      <dd><a href="{{ job.requested_device_type.get_absolute_url }}">{{ job.requested_device_type }}</a>
          <a href="{% url 'lava.scheduler.device_type_report' job.requested_device_type %}">(reports)</a></dd>
    {% endif %}
    </dl>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock %}  {% comment %} content block {% endcomment %}

{% block scripts %}
{% if job.status == job.SUBMITTED or job.status == job.RUNNING or job.status == job.CANCELING %}
<script type="text/javascript">
    var job_status_url = '{% url 'lava.scheduler.job_status' pk=job.pk %}';
    var logs_url = '{% url 'lava.scheduler.job_pipeline_incremental' pk=job.pk %}{% querystring 'summary'=0 %}';
    var section_url = '{% url 'lava.scheduler.job_pipeline_sections' pk=job.pk %}';
</script>
<script type="text/javascript" src="{{ STATIC_URL }}lava_scheduler_app/js/lava-job-polling.min.js"></script>
{% endif %}
{% endblock scripts %}
