{% extends "layouts/content-bootstrap.html" %}
{% load django_tables2 %}

{% block styles %}
  <style>
    details, summary { display: block; padding: 0.2em; }
    summary { cursor: pointer; }
    summary:hover, summary:focus { background: #ddd; }
    .no-details details > * { display: none; }
    .no-details details.open > * { display: block; }
    .no-details details summary:before { width: 20px; content: '► '; }
    .no-details details.open summary:before { content: '▼ '; }
    .no-details details summary { display: block; }
  </style>
{% endblock %}

{% block content %}
<h2>Worker: {{ worker }}
</h2>

<div class="row">
  <div class="col-md-6">
    <h4 class="modal-header">LAVA details</h4>
    <dl class="dl-horizontal">
      <dt>Is Master</dt>
      <dd>{{ worker.is_master }}</dd>
      <dt>Description</dt>
      {% if can_admin %}
      <form method="POST" action="{% url 'lava.scheduler.edit_worker_desc' %}">
        <dd>
          {% csrf_token %}
          <div class="edit_desc" id="{{ worker.pk }}">{{ worker.get_description }}</div>
        </dd>
      </form>
      {% else %}
      <dd>{{ worker.get_description|default:"<i>empty</i>" }}</dd>
      {% endif %}
    </dl>
  </div>
</div>

<h3 class="modal-header">Devices Attached</h3>
{% block content_columns %}
{% render_table worker_device_table %}

<p><span class="glyphicon glyphicon-thumbs-up text-success"></span>
indicates the device is <b>online</b>.</p>
<p><span class="glyphicon glyphicon-thumbs-down text-danger"></span>
indicates the device is <b>offline or retired</b>.</p>
{% endblock %}

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}lava_scheduler_app/js/jquery.details.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lava_scheduler_app/js/jquery.jeditable.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lava_scheduler_app/js/tables.min.js"></script>
<script>
$(document).ready(
  function() {
    $("#hwinfo-modal").click(function (e) {
        $("#hwinfo-content").html({{ worker.get_hardware_info }});
    });
    $("#swinfo-modal").click(function (e) {
        $("#swinfo-content").html({{ worker.get_software_info }});
    });
    $('.edit_desc').editable('{% url 'lava.scheduler.edit_worker_desc' %}',
    {
        indicator  : 'Saving ...',
        tooltip    : 'Click to edit ...',
        submit     : 'OK',
        submitdata : {"csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()}
    });
});
</script>
{% endblock %}
