{# device_type = 'dell-latitude-3445-7520c-skyrim' #}
{% extends 'base-depthcharge.jinja2' %}

{% set start_message = start_message | default('Starting depthcharge on Winterhold...') %}
{% set bootloader_prompt = bootloader_prompt | default('winterhold:') %}
{% set boot_message = boot_message | default('Starting kernel ...') %}
{% set console_device = console_device | default('ttyS0') %}
