{# device_type = 'dell-latitude-5400-4305U-sarien' #}
{% extends 'base-depthcharge.jinja2' %}

{% set start_message = start_message | default('Starting depthcharge on sarien...') %}
{% set bootloader_prompt = bootloader_prompt | default('sarien:') %}
{% set console_device = console_device | default('ttyS0') %}
{% set base_kernel_args = base_kernel_args | default('earlyprintk=uart8250,mmio32,0xde000000,115200n8') %}
