{# device_type = 'dragonboard-820c' #}
{% extends 'base-fastboot.jinja2' %}

{% set fastboot_sequence = ['no-flash-boot'] %}
{% set flash_cmds_order = flash_cmds_order|default(['update', 'ptable', 'partition', 'partition:0',
'partition:1', 'partition:2', 'partition:3', 'partition:4', 'partition:5',
'hyp', 'modem', 'rpm', 'sbl1', 'sbl2', 'sec', 'tz', 'aboot', 'boot', 'rootfs',
'vendor', 'system', 'cache', 'userdata']) %}
