{# device_type: frdm-k64f #}
{% extends 'base.jinja2' %}
{% set usb_vendor_id = '0d28' %}
{% set usb_product_id = '0204' %}
{% set device_info = device_info|default([{'board_id': board_id, 'usb_vendor_id': usb_vendor_id, 'usb_product_id': usb_product_id}]) %}
{% block body %}
board_id: '{{ board_id|default('0000000000') }}'
usb_vendor_id: '{{ usb_vendor_id }}'
usb_product_id: '{{ usb_product_id }}'
usb_sleep: {{ usb_sleep|default(0) }}

actions:
  deploy:
    connections:
      lxc:
    methods:
      lxc:
      image:
        parameters:

  boot:
    connections:
      serial:
      lxc:
      ssh:
    methods:
      lxc:
      pyocd:
        parameters:
          command:
            pyocd-flashtool
          options:
          - -d {{ debug|default('debug') }}
          - -t k64f
          - -f 3000000
      cmsis-dap:
        parameters:
          usb_mass_device: '{{ usb_mass_device|default('/notset') }}'
          resets_after_flash: {{ resets_after_flash|default(True) }}
          {# Allow to set any cmsis-dap parameters in a device dict. #}
          {% filter indent(width=10) -%}
          {% block cmsis_dap_params %}{% endblock cmsis_dap_params %}
          {% endfilter %}
          {# Next empty line is mandatory (jinja matters). #}

      jlink:
        parameters:
          command:
            JLinkExe
          address:
            0x00000000
          options:
          - '-device MK64FN1M0xxx12'
          - '-if SWD'
          - '-speed 4000'
{% endblock body -%}
