{# device_type: fvp #}
{% extends 'base.jinja2' %}

{% block body %}

actions:
  deploy:
    connections:
      serial:
    methods:
      docker:
      fvp:
      ssh:
        options:
{{ ssh_options }}
        # primary connections get this from the device dictionary.
        # secondary connections get this from the lava-multinode protocol support.
        host: "{{ ssh_host|default('') }}"
        port: {{ ssh_port|default(22) }}
        user: "{{ ssh_user|default('root') }}"
        identity_file: "{{ ssh_identity_file }}"

  boot:
    connections:
      serial:
    methods:
      docker:
        options:
          cpus: {{ docker_cpus|default(0.0) }}
          memory: {{ docker_memory|default(0) }}
          privileged: {{ docker_privileged|default(False) }}
{% if docker_devices|default([]) %}
          devices:
{% for device in docker_devices %}
            - {{ device }}
{% endfor %}
{% else %}
          devices: []
{% endif %}
{% if docker_volumes|default([]) %}
          volumes:
{% for volume in docker_volumes %}
            - {{ volume }}
{% endfor %}
{% else %}
          volumes: []
{% endif %}
      ssh:
      fvp:
{% endblock body %}
