{# device_type: fvp #}
{% extends 'base.jinja2' %}

{% set test_character_delay = '50' %}

{% block body %}

actions:
  deploy:
    connections:
      serial:
    methods:
      fvp:
  boot:
    connections:
      serial:
    methods:
      fvp:
        options:
          cpus: {{ docker_cpus|default(0.0) }}
          memory: {{ docker_memory|default(0) }}
          privileged: {{ docker_privileged|default(False) }}
{% if docker_devices|default([]) %}
          devices:
{% for device in docker_devices %}
            - {{ device }}
{% endfor %}
{% else %}
          devices: []
{% endif %}
{% if docker_volumes|default([]) %}
          volumes:
{% for volume in docker_volumes %}
            - {{ volume }}
{% endfor %}
{% else %}
          volumes: []
{% endif %}
{% endblock body %}
