{% extends 'base-uboot.jinja2' %}

{% set booti_dtb_addr     = '0x43000000' %}
{% set booti_kernel_addr  = '0x40480000' %}
{% set booti_ramdisk_addr = '0x43800000' %}

{% set bootz_kernel_addr = booti_kernel_addr %}
{% set bootz_ramdisk_addr = booti_ramdisk_addr %}
{% set bootz_dtb_addr = booti_dtb_addr %}

{% set bootm_kernel_addr = bootz_kernel_addr %}
{% set bootm_ramdisk_addr = bootz_ramdisk_addr %}
{% set bootm_dtb_addr = bootz_dtb_addr %}

{% set console_device = 'ttymxc1,115200 earlycon=ec_imx6q,0x30890000' %}
{% set uboot_mkimage_arch = 'arm64' %}
