{% extends 'imx8m-common.jinja2' %}
{% set root_device = '/dev/ttymxc1' %}
{% set console_device = 'ttymxc1,115200 earlycon=ec_imx6q,0x30890000' %}
{% set bcu_board_name = bcu_board_name|default('imx8mpddr4') %}
