{% extends 'imx9-common.jinja2' %}
{% set bcu_board_name = bcu_board_name|default('imx95evk19') %}
{% set additional_bcu_cleanup_commands = additional_bcu_cleanup_commands | default(["set_gpio ft_fta_sel 0"]) %}
