{# device_type = "lenovo-hr330a-7x33cto1ww-emag" #}
{% extends 'base-grub.jinja2' %}

{% set action_timeout_bootloader_interrupt = 300 %}
{% set action_timeout_power_off = 15 %}

{% block ramdisk_commands %}
          - 'linux (tftp,{SERVER_IP})/{KERNEL} root=/dev/ram0 {{ base_ip_args }} {{ base_kernel_args }}'
          - initrd (tftp,{SERVER_IP})/{RAMDISK}
          - boot
{% endblock ramdisk_commands %}

{% block nfs_commands %}
          - 'linux (tftp,{SERVER_IP})/{KERNEL} root=/dev/nfs rw {{ base_nfsroot_args }} {{ base_ip_args }} {{ base_kernel_args }}'
          - initrd (tftp,{SERVER_IP})/{RAMDISK}
          - boot
{% endblock nfs_commands %}
