{% extends 'meson-g12-common.jinja2' %}

{% set interrupt_prompt = interrupt_prompt|default('stop autoboot') %}
{% set interrupt_ctrl_list = ['c'] %}

{% set bootloader_prompt = bootloader_prompt|default('kvim3#') %}
