{% extends 'base-nxp-mcu.jinja2' %}
{% set usb_vendor_id = '1366' %}
{% set usb_product_id = '1024' %}
{% set device_name = 'MIMXRT1189XXX8_M33' %}
{% set device_info = device_info|default([{'board_id': board_id, 'usb_vendor_id': usb_vendor_id, 'usb_product_id': usb_product_id}]) %}
{% block jlink_options %}
- '-device {{device_name}}'
- '-if {{target_interface|default("SWD")}}'
- '-speed {{ speed_ti|default(4000)}}'
{% endblock jlink_options %}