{# device_type: 'mps' #}
{% extends 'base.jinja2' %}
{% block body %}
usb_filesystem_label: '{{ usb_filesystem_label|default('V2M_MPS') }}'

actions:
  deploy:
    methods:
      lxc:
      mps:
        parameters:
          hard-reboot: {{ mps_hard_reboot|default(false) }}
          reboot-string: "{{ mps_reboot_string|default("hsyxhj") }}"
  boot:
    connections:
      lxc:
      serial:
    methods:
      lxc:
      minimal:
{% endblock body -%}
