{# device_type = 'mt8173-elm-hana' #}
{% extends 'base-depthcharge.jinja2' %}

{% set mkimage_fit_arch = 'arm64' %}
{% set start_message = start_message | default('Starting depthcharge on hana...') %}
{% set bootloader_prompt = bootloader_prompt | default('hana:') %}
{% set depthcharge_final_message = depthcharge_final_message | default('jumping to kernel') %}
{% set console_device = console_device | default('ttyS0') %}
{% set base_kernel_args = base_kernel_args | default('earlyprintk=ttyS0,115200n8 console=tty1') %}
