{# device_type: overdrive #}

{% extends 'base-grub.jinja2' %}

{% set console_device = console_device | default('ttyAMA0') %}
{% set baud_rate = baud_rate | default(115200) %}

{% set extra_ramdisk_args = " rdinit=/init" %}
{% set extra_kernel_args = kernel_args | default('acpi=force r8169.use_dac=1 crashkernel=256M@32M') %}

{% set modules = ["net", "efinet", "tftp", "gzio", "part_gpt", "efi_gop"] %}
{% set has_dtb = true %}

{% block timeouts %}
timeouts:
  actions:
    grub-main:
      seconds: 5400
    bootloader-action:
      seconds: 5400
    bootloader-interrupt:
      seconds: 300
    bootloader-commands:
      seconds: 600
    auto-login:
      seconds: 600
    auto-login-action:
      seconds: 600
    pdu-reboot:
      seconds: 3000
  connections:
    pdu-reboot:
      seconds: 3000
    grub-main:
       seconds: 5400
    bootloader-action:
       seconds: 5400
    bootloader-retry:
      seconds: 3000
    bootloader-interrupt:
      seconds: 300
    bootloader-commands:
      seconds: 600
{% endblock timeouts %}
