{# device_type = 'qcs5439-rb3gen2-lite' #}
{% extends 'base-qdl.jinja2' %}

{% set boot_character_delay = boot_character_delay|default(10) %}
{% set test_character_delay = test_character_delay|default(10) %}
