{% extends 'rzg1-common.jinja2' %}

{% set device_type = "r8a7742-iwg21d-q7" %}
{% set console_device = 'ttySC2' %}
{% set bootloader_prompt = bootloader_prompt|default('iWave-G21M >') %}
{% set dtb_file = dtb_file|default('r8a7742-iwg21m.dtb') %}
