{% extends 'rzg1-common.jinja2' %}

{% set device_type = "r8a77470-iwg23s-sbc" %}
{% set console_device = 'ttySC1' %}
{% set bootloader_prompt = bootloader_prompt|default('iWave-G23S>') %}
{% set dtb_file = dtb_file|default('r8a77470-iwg23s-sbc.dtb') %}
