{% extends 'rzg1-common.jinja2' %}

{% set device_type = "r8a7745-iwg22d-sodimm" %}
{% set console_device = 'ttySC3' %}
{% set bootloader_prompt = bootloader_prompt|default('iWave-G22M>') %}
{% set dtb_file = dtb_file|default('r8a7745-iwg22d-sodimm.dtb') %}
