{# set device_type = "rk3588-rock-5b" #}

{% extends 'base-uboot.jinja2' %}

{% set baud_rate = '1500000' %}
{% set boot_character_delay = boot_character_delay|default('10') %}
{% set test_character_delay = test_character_delay|default('10') %}

{% set booti_kernel_addr = '0x0400000' %}
{% set booti_ramdisk_addr = '0xa200000' %}
{% set booti_dtb_addr = '0xa100000' %}

{% set bootm_kernel_addr = '0x0400000' %}
{% set bootm_ramdisk_addr = '0xa200000' %}
{% set bootm_dtb_addr = '0xa100000' %}

{% set uboot_mkimage_arch = 'arm64' %}

{% set bootloader_prompt = bootloader_prompt|default('=>') %}
{% set console_device = console_device|default('ttyS2') %}
