{% extends 'base-uboot.jinja2' %}

{% set uboot_fdt_high = '0xffffffffffffffff' %}
{% set uboot_initrd_high = '0xffffffffffffffff' %}

{% set baud_rate = '1500000' %}
{% set boot_character_delay = boot_character_delay|default('10') %}

{% set booti_kernel_addr = '0x40400000' %}
{% set booti_ramdisk_addr = '0x4a200000' %}
{% set booti_dtb_addr = '0x48300000' %}

{% set bootm_kernel_addr = '0x40400000' %}
{% set bootm_ramdisk_addr = '0x4a200000' %}
{% set bootm_dtb_addr = '0x48300000' %}

{% set uboot_mkimage_arch = 'arm64' %}

{% set bootloader_prompt = bootloader_prompt|default('=>') %}
{% set console_device = console_device|default('ttyS0') %}
