{% extends "base-uboot.jinja2" %}

{% block body %}

board_id: '{{ board_id|default('LCES2-0x0000000000000000') }}'
usb_vendor_id: '045b'
usb_product_id: '0239'

{{ super() }}
{% endblock body %}

{% set console_device = console_device|default("ttyS0") %}
{% set baud_rate = baud_rate|default(115200) %}

{% set base_high_limits = False %}
{% if extra_kernel_args %}
{% set extra_kernel_args = "rootwait coherent_pool=2M " + extra_kernel_args %}
{% else %}
{% set extra_kernel_args = "rootwait coherent_pool=2M" %}
{% endif %}

{% set deploy_dfu_commands = deploy_dfu_commands|default(["nand erase.part fs1", "dfu"]) %}

{% set bootloader_prompt = bootloader_prompt|default("=>") %}
{% set extra_nfsroot_args = ",vers=3" + extra_nfsroot_args|default('') %}

{% set bootm_kernel_addr = "0x84000000" %}
{% set bootm_ramdisk_addr = "-" %}
{% set bootm_dtb_addr = "0x80f00000" %}

{% set bootz_kernel_addr = "0x84000000" %}
{% set bootz_ramdisk_addr = "-" %}
{% set bootz_dtb_addr = "0x80f00000" %}

{% set uboot_method_fit = true %}
{% set bootm_device_tree_config = "1" %}

{% set uboot_mkimage_arch = "arm" %}
