{# device_type = 'sc7180-trogdor-kingoftown' #}
{% extends 'base-depthcharge.jinja2' %}

{% set mkimage_fit_arch = 'arm64' %}
{% set start_message = start_message | default('Starting depthcharge on Kingoftown...') %}
{% set bootloader_prompt = bootloader_prompt | default('trogdor:') %}
{% set depthcharge_final_message = depthcharge_final_message | default('jumping to kernel') %}
{% set console_device = console_device | default('ttyMSM0') %}
