{% extends 'base-barebox.jinja2' %}

{% set bootloader_prompt = bootloader_prompt|default('Linux Automation Test Automation Controller \(TAC\) Gen 1:/') %}
{% set console_device = console_device | default('ttymxc0') %}
