Package: lava
Source: lava-server
Version: 0.0.0
Architecture: all
Maintainer: Neil Williams <codehelp@debian.org>
Installed-Size: 26
Depends: lava-server, dbconfig-common, postgresql, postgresql-9.1, lava-tool, linaro-image-tools
Recommends: lava-server-doc
Section: net
Priority: optional
Homepage: http://www.linaro.org/engineering/validation
Description: Linaro Automated Validation Architecture metapackage
 Metapackage to bring in all LAVA components on a single
 machine.
