{% extends "databrowse/base_site.html" %}


{% block title %}{{ model.verbose_name_plural|capfirst }} with {{ field.verbose_name }} in {{ year }}{% endblock %}


{% block breadcrumbs %}
<li><a href="{{ root_url }}">Data Browser</a></li>
<li><a href="{{ model.url }}">{{ model.verbose_name_plural|capfirst }}</a></li>
<li><a href="../../">Calendars</a></li>
<li><a href="../">By {{ field.verbose_name }}</a></li>
<li>{{ year }}</li>
{% endblock %}


{% block content %}
<h1>{{ model.verbose_name_plural|capfirst }} with {{ field.verbose_name }} in {{ year }}</h1>
<ul class="objectlist">
{% for month in date_list %}
<li class="{% cycle 'odd' 'even' %}"><a href="{{ month|date:"M"|lower }}/">{{ month|date:"F" }}</a></li>
{% endfor %}
</ul>
{% endblock %}
