{% extends "databrowse/base_site.html" %}


{% block title %}{{ model.verbose_name_plural|capfirst }} with {{ field.verbose_name }} in {{ month|date:"F Y" }}{% endblock %}


{% block breadcrumbs %}
<li><a href="{{ root_url }}">Data Browser</a></li>
<li><a href="{{ model.url }}">{{ model.verbose_name_plural|capfirst }}</a></li>
<li><a href="../../../">Calendars</a></li>
<li><a href="../../">By {{ field.verbose_name }}</a></li>
<li><a href="../">{{ month|date:"Y" }}</a></li>
<li>{{ month|date:"F" }}</li>
{% endblock %}


{% block content %}
<h1>{{ object_list.count }} {% if object_list.count|pluralize %}{{ model.verbose_name_plural }}{% else %}{{ model.verbose_name }}{% endif %} with {{ field.verbose_name }} on {{ month|date:"F Y" }}</h1>
<ul class="objectlist">
{% for object in object_list %}
<li class="{% cycle 'odd' 'even' %}"><a href="{{ object.url }}">{{ object }}</a></li>
{% endfor %}
</ul>
{% endblock %}
