{% extends "databrowse/base_site.html" %}


{% block title %}{{ model.verbose_name_plural|capfirst }} by {{ field.field.verbose_name }}{% endblock %}


{% block breadcrumbs %}
<li><a href="{{ root_url }}">Data Browser</a></li>
<li><a href="{{ model.url }}">{{ model.verbose_name_plural|capfirst }}</a></li>
<li><a href="../">Fields</a></li>
<li>By {{ field.field.verbose_name }}</li>
{% endblock %}


{% block content %}
<h1>{{ model.verbose_name_plural|capfirst }} by {{ field.field.verbose_name }}</h1>
<ul class="objectlist">
{% for object in object_list %}
<li class="{% cycle 'odd' 'even' %}"><a href="{{ object|iriencode }}/">{{ object }}</a></li>
{% endfor %}
</ul>
{% endblock %}
