Package: lava-server-doc
Source: lava-server
Version: 0.0.0
Architecture: all
Maintainer: Neil Williams <codehelp@debian.org>
Installed-Size: 86
Depends: libjs-sphinxdoc (>= 1.0)
Section: doc
Priority: optional
Homepage: http://www.linaro.org/engineering/validation
Description: documentation for lava-server
 This package contains an offline copy of the lava-server
 documentation which is also available at readthedocs.org
