body, p, input, th, td {
  font-family: Ubuntu, Helvetica Neue, Verdana, sans-serif;
  font-size: 9pt;
}

code {
  font-family: UbuntuBeta Mono, Lucida Console, Consolas, monospace;
  font-size: 9pt;
}

body {
  background-color: white;
  color: black;
  margin: 1em auto;
  padding: 0;
  width: 80%;
  min-width: 800px;
  overflow-y: scroll;
}

/* Header */

#lava-server-header {
}

/* Home link */

#lava-server-home {
  margin-bottom: 1ex;
}

/* User box */

#lava-server-user-box {
  float: right;
}

#lava-server-user-box span.username {
  font-weight: bold;
}

#lava-server-user-box .ui-button-text {
  padding: 2px;
  font-size: inherit;
}

/* Main and sub toolbars */

.lava-server-toolbar {
  margin: 1ex 0;
  padding: 3pt;
}

.lava-server-sub-toolbar {
  font-size: smaller !important;
}

.lava-server-sub-toolbar .ui-button-text {
  padding: 2px;
  font-size: inherit;
}

#lava-server-navigation ul,
#lava-server-extension-navigation ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

#lava-server-navigation ul li,
#lava-server-extension-navigation ul li {
  list-style: none;
  display: inline-block;
}

#lava-server-navigation,
#lava-server-extension-navigation {
  margin-bottom: 3pt;
}

/* Breadcrumbs */

#lava-server-breadcrumbs {
  font-size: 8pt;
  margin: 1ex;
}

#lava-server-breadcrumbs ul {
  display: inline-block;
  margin: 0 3pt;
  padding: 0;
}

#lava-server-breadcrumbs ul li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#lava-server-breadcrumbs ul li a {
  text-decoration: underline;
}

#lava-server-breadcrumbs ul li:before {
  content: "»";
  margin: 0 1ex;
}

#lava-server-breadcrumbs ul li:first-child:before {
  content: "";
  margin: 0;
}

/* Content table */

#lava-server-content {
}

#lava-server-sidebar {
  margin: 1em 0;
}

/* Footer */

#lava-server-footer {
  clear: both;
  color: gray;
  font-size: smaller;
  margin-top: 2em;
  text-align: center;
}

#lava-server-footer a {
  color: inherit !important;
}

/* Text listings */

ol.file_listing {
  font-family: monospace;
}

ol.file_listing li:target {
  outline: 1px solid red;
}

ol.file_listing li a:hover {
  text-decoration: underline;
}

ol.file_listing li a {
  text-decoration: none;
  color: inherit;
}


/* Ajax notification bar */

#ajax_notification {
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  color: black;
  display: hidden;
  font-size: 12pt;
  font-weight: bold;
  height: 30px;
  top: -1000px;
  left: 0;
  padding: 5pt;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#ajax_notification img {
  vertical-align: baseline;
  position: relative;
  top: 3px;
}
