body, input, th, td {
  font-family: Ubuntu, Helvetica Neue, Verdana, sans-serif;
  font-size: 10pt;
}

code {
  font-family: UbuntuBeta Mono, Lucida Console, Consolas, monospace;
  font-size: 10pt;
}

body {
  color: 333;
  background-color: #f5f6f7;
  padding: 0;
  margin: 0;
}

a {
  color: #08C;
}


/* Selection style */

::selection { 
  color: white !important;
  background-color: #222 !important;
}

::-moz-selection {
  color: white !important;
  background-color: #222 !important;
}

::-webkit-selection {
  color: white !important;
  background-color: #222 !important;
}

/* The master container of all things, similar to body */

#lava-container {
}

/* Header */

#lava-server-header {
  background: #706f6f url(../images/dark-noise.png);
  color: #f1efef;
  font-family: "Ubuntu Light", Helvetica Neue, Verdana, sans-serif;
  font-size: 12pt;
  box-shadow: 0 3px 3px rgba(127, 127, 127, 0.5);
  text-shadow: 1px 1px 0px #333, 0 0 3px #000;
  padding: 0.9ex 2ex;
}

#lava-server-header a {
  color: inherit;
}

/* User Box (part of header) */

#lava-server-user-box {
  font-size: 9pt;
  /* Don't inherit font family, we're moved around and header uses ubuntu light */
  font-family: "Ubuntu", Helvetica Neue, Verdana, sans-serif !important;
}

#lava-server-user-box span.username {
  font-weight: bold;
}

#lava-server-header #lava-server-user-box {
  /* Float right only when in the user box.
   * When relocated to the sidebar it will 
   * Vnot be floating anymore */
  position: absolute;
  right: 0;
  top: 0;
  padding: 2pt 2pt 5pt 5pt;
}

#lava-server-sidebar #lava-server-user-box {
  text-align: right;
  text-shadow: none;
}


/* Navigation (part of header) */ 

#lava-server-navigation ul,
#lava-server-extension-navigation ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

#lava-server-navigation ul li,
#lava-server-extension-navigation ul li {
  margin: 0 1ex 0 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

#lava-server-navigation ul li a,
#lava-server-extension-navigation ul li a {
  font-family: Ubuntu Condensed, Helvetica Neue, Verdana, sans-serif;
  text-decoration: none;
}

/* Breadcrumbs */

#lava-server-breadcrumbs {
  font-size: 10pt;
  margin: 1ex 1em;
  padding: 0;
}

#lava-server-breadcrumbs ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#lava-server-breadcrumbs ul li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

#lava-server-breadcrumbs ul li a {
  text-decoration: underline;
  color: inherit;
}

#lava-server-breadcrumbs ul li:before {
  content: "» ";
}

#lava-server-breadcrumbs ul li:first-child:before {
  content: "";
}

/* Sidebar */

#lava-server-sidebar {
}

#lava-server-sidebar.classic {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #999;
  color: #444;
  font-family: Ubuntu, Helvetica Neue, Verdana, sans-serif;
  font-size: 10pt;
  margin: 1ex;
  padding: 1ex;
}

#lava-server-sidebar .lava-sidebar-controls {
  margin-top: 1em;
}

#lava-server-sidebar.lava-sidebar {
  color: black;
  height: 100%;
  padding: 2pt 2pt 5pt 5pt;
  border: none;
  border-radius: 0;
  z-index: 1000; /* otherwise data-tables seem to override this */
  border-left: 1px solid gray;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  top: 0;
}

/* Hidden sidebar should be opaque. Removing the border and keeping the shadow
 * adds a nice dramatic effect. */
#lava-server-sidebar.lava-sidebar-hidden {
  opacity: 0.5;
}

/* Hidden sidebar that users hover should be highlighted nicely */ 
#lava-server-sidebar.lava-sidebar-hidden:hover {
  opacity: 1;
  background: rgba(0, 136, 204, 0.5);
  text-shadow: 1px 1px 1px #000;
  color: white !important;
}

#lava-server-sidebar.lava-sidebar-hidden:hover h1,
#lava-server-sidebar.lava-sidebar-hidden:hover h2,
#lava-server-sidebar.lava-sidebar-hidden:hover h3,
#lava-server-sidebar.lava-sidebar-hidden:hover h4,
#lava-server-sidebar.lava-sidebar-hidden:hover a {
  color: inherit !important;
  border-color: inherit !important;
}


/* Content */

#lava-server-content {
  color: #444;
  padding: 1ex;
  border: 1px solid #999;
  border-radius: 3px;
  margin: 1ex;
  background-color: white;
}


h1 {
  color: #222;
  border-bottom: 3pt solid #444;
}

h2 {
  color: #222;
  border-bottom: 2pt solid #444;
}

h3 {
  color: #111;
}

/* Footer */

#lava-server-footer {
  clear: both;
  margin: 1ex;
  color: #999;
}

#lava-server-topics {
  text-align: justify;
  font-family: Ubuntu Condensed, Helvetica Neue, Verdana, sans-serif;
  font-size: 11pt;
  border-left: 1px solid #08C;
}

#lava-server-topics a {
  color: inherit !important;
}

#lava-server-topics dt {
  border-radius: 0 6pt 6pt 0;
  cursor: pointer;
  padding: 2pt 5pt;
  margin: 1ex 0 0 0;
}

#lava-server-topics dt:hover {
  color: white;
  background-color: #08C;
}

#lava-server-topics dd {
  padding: 0;
  margin: 1em auto;
  font-family: Ubuntu, Helvetica Neue, Verdana, sans-serif;
  position: relative;
  width: 50%;
  color: #333;
}

/* Text listings */

ol.file_listing {
  font-family: monospace;
}

ol.file_listing li:target {
  outline: 1px solid red;
}

ol.file_listing li a:hover {
  text-decoration: underline;
}

ol.file_listing li a {
  text-decoration: none;
  color: inherit;
}


/* Ajax notification bar */

#lava-server-working {
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  color: #555;
  border-bottom: 1px solid #777;
  display: hidden;
  font-size: 12pt;
  font-weight: bold;
  height: 30px;
  top: -1000px;
  left: 0;
  padding: 5pt;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#lava-server-working img {
  vertical-align: baseline;
  position: relative;
  top: 3px;
}
