body {
  color: #F5F4E1;
  font-size: 10pt;
  margin: 0;
  padding: 0;
  min-height: 500px;
  min-width: 650px;
}

body, p, input, th, td {
  font-family: Ubuntu, Helvetica Neue, Verdana, sans-serif;
}

#master_container {
  margin: auto;
  padding: 25pt 15pt 2em 15pt;
}

#header h1 {
  color: #6C9D10 ;
  font-size: 32pt;
  margin: 0.2em;
  padding: 5pt;
  text-align: center;
}

#header h1.long {
  font-size: 24pt;
}

#content {
  -moz-border-radius: 7pt;
  -moz-box-shadow: 0 2pt 15pt #111;
  -webkit-border-radius: 7pt;
  -webkit-box-shadow: 0 2pt 15pt #111;
  background-color: #393939; /* For browsers that don't support transparent backgrounds */
  background-color: rgba(255, 255, 255, 0.1);
  _background-color: #393939; /* For IE6, it somehow understands the rgba line
  above enough to discard the previous "fallback" value but not enough to
  actually use it. */
  border-radius: 7pt;
  box-shadow: 0 2pt 15pt #111;
  color: #F5F4E1;
  padding: 10pt;
}

#content {
  color: #222;
}

#content p.error {
  text-align: center;
  font-weight: bold;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
}

ul.errorlist li {
  font-weight: bold;
}

#content a {
  color: #888a85;
}

#content a:hover {
  color: #6C9D10;
}

/* Main layout table */

table {
  width: 100%;
}

table th#lp_net_column {
  font-size: 12pt;
  width: 45%;
}

table th#or_column {
  font-size: 23pt;
  padding: 10pt;
  width: 10%;
}

table td {
  vertical-align: top;
}

table th#local_account_column {
  font-size: 12pt;
  width: 45%;
}

/* Form input fields */

input[type=text], input[type=password] {
  -moz-border-radius: 3pt;
  -webkit-border-radius: 3pt;
  background-color: #515151;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2pt solid #292929;
  color: #888a85;
  display: block;
  margin: auto;
  padding: 3pt;
  width: 90%;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #F5F4E1;
  border: 2pt solid #6C9D10;
}

input[type=password] {
  font-family: monospace;
}


a.button, input[type=submit], input[type=button], .button {
  white-space: pre;
  -moz-border-radius: 5pt;
  -moz-box-shadow: 0 2pt 4pt #222;
  -webkit-border-radius: 5pt;
  -webkit-box-shadow: 0 2pt 4pt #222;
  background-color: #D44917;
  background: -moz-linear-gradient(center bottom, #6C9D10 6%, #98c13d 75%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.06, rgb(212, 52, 16)), color-stop(0.75, rgb(212, 74, 23)));
  border-radius: 5pt;
  border: none;
  box-shadow: 0 2pt 4pt #222;
  color: #F5F4E1 !important;
  font-size: 11pt;
  font-weight: bold;
  margin: 1em auto;
  padding: 5pt;
  text-decoration: none;
}

input.watermark {
  color: #BBB; 
  font-style: italic;
}

/* IE6 CSS for the entire account management parts */
#id_password, #id_new_password1, #id_new_password2 {
  _font-family: monospace;
}

#id_username, #id_password, #id_email, #id_new_password1, #id_new_password2 {
  _background-color: #515151;
  _border: 2pt solid #292929;
  _color: white;
  _display: block;
  _margin: auto;
  _padding: 3pt;
  _width: 90%;
}

#id_username:focus, #id_password:focus, #id_email:focus, #id_new_password1:focus, #id_new_password2:focus {
  _background-color: #0c0c0c;
  _border: 2pt solid rgb(212, 74, 23);
}

.button, #id_submit {
  _white-space: pre;
  _background-color: #D44917;
  _border: none;
  _color: #F5F4E1 !important;
  _font-size: 11pt;
  _font-weight: bold;
  _line-height: 2em;
  _height: 2.5em;
  _margin: 1em auto;
  _padding: 5pt;
  _text-decoration: none;
}


#footer {
  color: #AAA;
  font-size: smaller;
  margin-top: 1em;
  padding: 10pt;
  text-align: justify;
}

#footer a {
  color: #AAA;
}
