
.logfile_content
{
    #background: #aaaaaa;
    margin-left: 5px;
}

.dispatcher_log
{
    color: #a23212;
#    background: #DDDDDD
}

.console_log
{
    margin-left: 10px;
}

.clickable
{
    border-style: solid;
    border-width: medium;
}

