Source: lava-dispatcher
Section: net
Priority: optional
Maintainer: Debian LAVA team <pkg-linaro-lava-devel@lists.alioth.debian.org>
Uploaders: Antonio Terceiro <terceiro@debian.org>,
 Neil Williams <codehelp@debian.org>,
 Fathi Boudra <fabo@debian.org>, Jordi Mallach <jordi@debian.org>
Build-Depends: debhelper (>= 8.0.0),
 python | python-all | python-dev | python-all-dev,
 python-sphinx (>= 1.0.7+dfsg) | python3-sphinx,
 python-setuptools, python-versiontools
X-Python-Version: 2.7
Standards-Version: 3.9.5
Homepage: http://www.linaro.org/engineering/engineering-groups/validation
Vcs-Git: https://alioth.debian.org/anonscm/git/pkg-linaro-lava/lava-dispatcher.git
Vcs-Browser: https://alioth.debian.org/plugins/scmgit/cgi-bin/gitweb.cgi?p=pkg-linaro-lava/lava-dispatcher.git;a=summary

Package: lava-dispatcher
Architecture: any
Depends: python-serial (>= 2.6), parted, kpartx, telnet, ser2net, sshfs,
 ${python:Depends}, ${misc:Depends}
Multi-Arch: foreign
Recommends: ntp, git, tftpd-hpa, openbsd-inetd, 
 qemu-system-x86 [amd64], qemu-system-x86 [i386], unzip
Description: Linaro Automated Validation Architecture dispatcher
 This package provides lava-dispatcher to dispatch
 LAVA jobs to configured devices.
 .
 A range of devices are supported for ARM and
 x86 architectures.
