#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0

# This conf script is capable of backing up
db_capb backup

LAVA_SYS_USER=lava
LAVA_SYS_HOME=/var/lib/lava-server/home/
LAVA_DB_INC=/etc/lava-server/db.inc

ucf -p $LAVA_DB_INC
if [ -f $LAVA_DB_INC ]; then
  rm $LAVA_DB_INC
fi

# source debconf stuff
. /usr/share/debconf/confmodule
# source dbconfig-common stuff
. /usr/share/dbconfig-common/dpkg/config.pgsql

dbc_generate_include=sh:$LAVA_DB_INC
# minimal permissions
dbc_generate_include_owner="root:root"
dbc_generate_include_perms="600"
dbc_go lava-server $@
