#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0

# This conf script is capable of backing up
db_capb backup

LAVA_SYS_USER=lava
LAVA_SYS_HOME=/var/lib/lava-server/home/
LAVA_DB_INC=/etc/lava-server/db.inc

ucf -p $LAVA_DB_INC
if [ -f $LAVA_DB_INC ]; then
  rm $LAVA_DB_INC
fi

# source debconf stuff
. /usr/share/debconf/confmodule
# source dbconfig-common stuff
. /usr/share/dbconfig-common/dpkg/config.pgsql

if [ -f /etc/lava-server/instance.conf ]; then
    . /etc/lava-server/instance.conf
else
    . /usr/share/lava-server/instance.template
fi
. $LAVA_DB_INC

# get the config version somehow
LAVA_DB_NAME="$dbc_dbname"
LAVA_DB_USER="$dbc_dbuser"
LAVA_DB_PORT="$dbc_dbport"
LAVA_DB_PASSWORD="$dbc_dbpass"

write_config() {
    cat <<INSTANCE_CONF
# Config version
LAVA_CONFIG_VERSION="$LAVA_CONFIG_VERSION"
# Installation prefix
LAVA_PREFIX="$LAVA_PREFIX"
# Instance name
LAVA_INSTANCE="$LAVA_INSTANCE"
# The lava-server branch used by upgrade
LAVA_MANIFEST_BRANCH="$LAVA_MANIFEST_BRANCH"
LAVA_BUILDOUT_CFG="$LAVA_BUILDOUT_CFG"
# System configuration (Unix-level)
LAVA_SYS_USER="$LAVA_SYS_USER"
LAVA_INSTANCE_OWNS_USER="$LAVA_INSTANCE_OWNS_USER"
# Apache configuration
LAVA_APACHE_VHOST="$LAVA_APACHE_VHOST"
LAVA_DEV_MODE="$LAVA_DEV_MODE"
# PostgreSQL configuration
LAVA_DB_NAME="$LAVA_DB_NAME"
LAVA_DB_USER="$LAVA_DB_USER"
LAVA_DB_PORT="$LAVA_DB_PORT"
LAVA_DB_PASSWORD="$LAVA_DB_PASSWORD"
# Scheduler configuration
LAVA_SCHEDULER_ENABLED="$LAVA_SCHEDULER_ENABLED"
LAVA_SERVER_IP="$LAVA_SERVER_IP"
LAVA_PROXY="$LAVA_PROXY"
INSTANCE_CONF
}

write_config >/etc/lava-server/instance.conf
