#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0

# This conf script is capable of backing up
db_capb backup

# now do our config
STATE=1
while [ "$STATE" != 0 -a "$STATE" != 3 ]; do
	case "$STATE" in
	1)
		db_input high lava-server/instance-name || true
	;;
	2)
		# Check their answer.
		db_get lava-server/instance-name
		if [ "$RET" = "" ]; then
			db_set lava-server/instance-name default
			db_input high lava-server/missingname || true
			db_go
		fi
	;;
	esac
	if db_go; then
		STATE=$(($STATE + 1))
	else
		STATE=$(($STATE - 1))
	fi
done
