{% extends "lava_projects/_project_form.html" %}


{% block form_header %}
<h1>Update {{ project }}</h1>
{% endblock %}


{% block form_field %}
{{ block.super }}
{% if field.name == "name" %}
<tr>
  <th>Identifier<br/><small>(read only)</small></th>
  <td>
    <input type="text" disabled="disabled" value="{{ project.identifier }}"></input>
    <p class='help_text'>
    <a href="{% url lava.project.rename project.identifier %}">Rename this project</a> if you wish to change the identifier</p>
  </td>
</tr>
{% endif %}
{% endblock %}


{% block form_footer %}
<h2>Continue</h2>
<input type="submit" value="Save"/> or <a href="{{ project.get_absolute_url }}">cancel</a>
<script type="text/javascript">
  mySettings.previewParserPath = "{% url lava.markitup.markdown %}";
  $(document).ready(function() {
    $("#id_description").markItUp(mySettings);
  });
</script>
{% endblock %}
