{% extends "lava_projects/_project_form.html" %}


{% block form_header %}
<h1>Rename {{ project }}</h1>
<p>Renaming a project is always possible but should be done carefully.
Each historic identifier is stored to ensure old URLs continue to work. They
are also reserved to prevent new projects from using them.</p>
{% endblock %}


{% block form_field %}
{% if field.name == "identifier" %}
<tr>
  <th>Old identifier</th>
  <td>
    <input type="text" disabled="disabled" value="{{ project.identifier }}"></input>
    <p class='help_text'>This is your current project identifier</p>
  </td>
</tr>
{% endif %}
{{ block.super }}
{% endblock %}


{% block form_footer %}
<h2>Continue</h2>
<input type="submit" value="Save"/> or <a href="{{ project.get_absolute_url }}">cancel</a>
<script type="text/javascript">
  $(document).ready(function() {
    // Remove existing value, enable slugify helper
    $("#id_identifier").val("").slugify($("#id_name"));
  });
</script>
{% endblock %}
