{% extends "layouts/content_with_sidebar.html" %}
{% load markup %}


{% block sidebar %}
{% include "lava_projects/_project_actions.html" %}
{% if belongs_to_user %}
<h3>Project administration</h3>
<ul>
  <li><a href="{% url lava.project.update project.identifier %}">Update this project</a></li>
</ul>
{% endif %}
{% endblock %}


{% block content %}
<h1>{{ project }}</h1>
<p>
{% if project.user == project.registered_by %}
Owned and registered by {{ project.owner }} on {{ project.registered_on|date }}
{% else %}
Owned by {{ project.owner }}
{% if project.group and belongs_to_user %}
<em>(You are a member of this group)</em>
{% endif %}
, registered by {{ project.registered_by }} on {{ project.registered_on|date }}
{% endif %}
</p>
<div class="project-description">
  {{ project.description|markdown }}
</div>
{% endblock %}
