{% extends 'base-uboot.jinja2' %}

{% set console_device = console_device|default('ttyMSM0') %}
{% set baud_rate = baud_rate|default(115200) %}
{% set device_type = "apq8016-sbc" %}

{% set extra_kernel_args = "debug loglevel=7" %}
{% set interrupt_prompt = 'Qualcomm-DragonBoard 410C' %}
{% set bootloader_prompt = '=>' %}
{% set action_timeout_u_boot_commands = 90 %}
{% set booti_kernel_addr = '0x80080000' %}
{% set booti_ramdisk_addr = '0x82000000' %}
{% set booti_dtb_addr = '0x81e00000' %}
{% set bootm_kernel_addr = booti_kernel_addr %}
{% set bootm_ramdisk_addr = booti_ramdisk_addr %}
{% set bootm_dtb_addr = booti_dtb_addr %}
{% set uboot_initrd_high = '0xffffffffffffffff' %}
{% set uboot_fdt_high = '0xffffffffffffffff' %}
{% set uboot_needs_usb = true %}
{% set uboot_mkimage_arch = 'arm64' %}