{% extends 'base-uboot.jinja2' %}
{% set console_device = console_device|default('ttyMV0') %}
{% set baud_rate = baud_rate|default(115200) %}
{% set device_type = "armada-370-espressobin" %}
{% set bootloader_prompt = bootloader_prompt|default('Marvell>>') %}
{% set booti_kernel_addr = '0x01100000' %}
{% set booti_ramdisk_addr = '0x02000000' %}
{% set booti_dtb_addr = '0x01000000' %}
{% set base_ip_args = 'ip=dhcp' %}
{% set uboot_mkimage_arch = 'arm64' %}
