{% extends 'base-uboot.jinja2' %}
{% set console_device = console_device|default('ttyS0,115200 console=ttyAT0') %}
{% set baud_rate = baud_rate|default(115200) %}
{% set device_type = "at91rm9200ek" %}
{% set bootloader_prompt = bootloader_prompt|default('Uboot>') %}
{% set bootm_kernel_addr = '0x20008000' %}
{% set bootm_ramdisk_addr = '0x21000000' %}
{% set bootm_dtb_addr = '0x24000000' %}
{% set base_ip_args = 'ip=dhcp' %}
{% set uboot_mkimage_arch = 'arm' %}
{% set uboot_tftp_commands = ("          - setenv loadkernel 'tftp {KERNEL_ADDR} {KERNEL}'") -%}
{% set uboot_bootx_cmd = "bootm {KERNEL_ADDR}" %}
{% set append_dtb = true %}
{% set use_xip = true %}

