{% extends 'base.jinja2' %}

{% block vland %}
{# skip the parameters dict at top level #}
{% endblock vland %}

{% set adb_serial_number = adb_serial_number|default("'0000000000'") %}
{% set fastboot_serial_number = fastboot_serial_number|default("'0000000000'") %}
{% set soft_reboot_command = soft_reboot_command|default('adb -s ' + fastboot_serial_number + ' reboot bootloader') %}
{% set device_info = device_info|default([{'board_id': fastboot_serial_number}]) %}

{% block body %}
device_type: {{ device_type|default('fastboot') }}
adb_serial_number: {{ adb_serial_number|default("'0000000000'") }}
fastboot_serial_number: {{ fastboot_serial_number|default("'0000000000'") }}
fastboot_options: {{ fastboot_options|default([]) }}

{% if fastboot_deploy_uboot %}
# This attribute identifies whether a device should get into fastboot mode by
# interrupting uboot and issuing commands at the bootloader prompt.
fastboot_via_uboot: True
{% endif %}

actions:
  deploy:
    methods:
      lxc:
      ssh:
        options:
{{ ssh_options }}
        host: '{{ ssh_host|default('') }}'
        port: {{ ssh_port|default(22) }}
        user: {{ ssh_user|default('root') }}
        identity_file: {{ ssh_identity_file }}
      fastboot:
{{- fastboot_deploy_uboot }}
{{- fastboot_interrupt_params }}
    connections:
      lxc:
      serial:
  boot:
    connections:
      lxc:
    methods:
      lxc:
      ssh:
      fastboot: {{ fastboot_sequence }}
{{- fastboot_boot_uboot }}
{{- fastboot_boot_grub }}
{% endblock body %}
