# Raspberry Pi 3b
{% extends 'base-uboot.jinja2' %}
{% set device_type = "bcm2837-rpi-3-b-32" %}

{% set bootz_kernel_addr = '0x01000000' %}
{% set bootz_ramdisk_addr = '0x04000000' %}
{% set bootz_dtb_addr = '0x03f00000' %}

{% set bootm_kernel_addr = '0x01000000' %}
{% set bootm_ramdisk_addr = '0x04000000' %}
{% set bootm_dtb_addr = '0x03f00000' %}

{% set uboot_mkimage_arch = 'arm' %}

{% set uboot_needs_usb = true %}
{% set bootloader_prompt = bootloader_prompt|default('U-Boot>') %}

{% if extra_kernel_args %}
{% set extra_kernel_args = "earlycon=uart8250,mmio32,0x3f215040 " +  extra_kernel_args %}
{% else %}
{% set extra_kernel_args = "earlycon=uart8250,mmio32,0x3f215040" %}
{% endif %}

{% if custom_kernel_args %}
{% set extra_kernel_args = custom_kernel_args %}
{% endif %}

{% set boot_character_delay = 10 %}
