{% extends 'base.jinja2' %}
{% block body %}
device_type: hi6220-hikey
adb_serial_number: {{ adb_serial_number|default('0000000000') }}
fastboot_serial_number: {{ fastboot_serial_number|default('0000000000') }}

{% block vland %}
{# skip the parameters dict at top level #}
{% endblock %}

actions:
  deploy:
    methods:
      fastboot:
    connections:
      serial:
  boot:
    connections:
      adb:
      serial:
    methods:
      uefi-menu:

timeouts:
  actions:
    apply-overlay-image:
      seconds: 120
    umount-retry:
      seconds: 45
    lava-test-shell:
      seconds: 600
    power_off:
      seconds: 10
{% endblock %}
