{% extends 'base-uboot.jinja2' %}

{% set console_device = 'ttyAMA0' %}
{% set baud_rate = 115200 %}
{% set device_type = "highbank" %}
{% set extra_kernel_args = "nosplash break" %}
{% set interrupt_prompt = 'Press <s>' %}
{% set interrupt_char = 's' %}
{% set boot_delay = 100 %}
{% set action_timeout_u_boot_commands = 3 %}
{% set connection_timeout_u_boot_commands = 3 %}
{% set bootloader_prompt = 'Highbank #' %}
{% set action_timeout_u_boot_commands = 90 %}
{% set bootm_kernel_addr = '0x00800000' %}
{% set bootm_ramdisk_addr = '0x02000000' %}
{% set bootm_dtb_addr = '0x00001000' %}
{% set bootz_kernel_addr = '0x00800000' %}
{% set bootz_ramdisk_addr = '0x02000000' %}
{% set bootz_dtb_addr = '0x00001000' %}
{% set uboot_mkimage_arch = 'arm' %}
{% set uboot_initrd_high = '0xffffffffffffffff' %}
{% set uboot_ftd_high = '0xffffffffffffffff' %}
