{% extends 'base-uboot.jinja2' %}

{% set console_device = console_device | default('ttyAMA0') %}
{% set baud_rate = baud_rate | default('115200') %}
{% set juno_kernel_args = 'ip=dhcp rw rootwait earlycon=pl011,0x7ff80000 debug systemd.log_target=null user_debug=31 androidboot.hardware=juno loglevel=9' %}

{% set uboot_initrd_high = '0xffffffffffffffff' %}
{% set uboot_fdt_high = '0xffffffffffffffff' %}

{% set base_uboot_commands_juno_extras =
"          - setenv bootdelay 1
          - setenv ethact smc911x-0" -%}

{% set base_load_commands = load_commands | default(
"          - setenv loadkernel 'afs load ${kernel_name} {KERNEL_ADDR}'
          - setenv loadfdt 'afs load ${fdtfile} {DTB_ADDR} ; fdt addr {DTB_ADDR}; fdt resize'
          - setenv loadinitrd 'afs load ${initrd_name} {RAMDISK_ADDR}; setenv initrd_param {RAMDISK_ADDR}'") -%}

{% block body %}
device_type: juno

{% block parameters -%}
parameters:
  booti:
    kernel: '{{ booti_kernel_addr|default('0x80080000') }}'
    ramdisk: '{{ booti_ramdisk_addr|default('0x84000000') }}'
    dtb: '{{ booti_dtb_addr|default('0x83000000') }}'
  interfaces:
{% if device_ip or device_mac %}
    target:
      ip: {{ device_ip|default('') }}
      mac: {{ device_mac|default('') }}
{% endif %}
{% if interfaces %}
{% for interface in interfaces %}
    {{ interface }}:
      sysfs: "{{ sysfs.get(interface) }}"
      mac: "{{ mac_addr.get(interface) }}"
{% for switch, port in map.get(interface).items() %}
      switch: "{{ switch }}"
      port: {{ port }}
{% endfor %}
      tags:
{% if tags.get(interface) %}
{% for tag in tags.get(interface) %}
      - {{ tag }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
  media:  # four USB slots.
    usb:
      UUID-required: True
      {{ usb_label|default('SanDisk_Ultra') }}:
        uuid: "{{ usb_uuid }}"
        device_id: {{ usb_device_id|default(0) }}  # the bootloader device id for this media on the 'usb' interface
{% endblock -%}

actions:
  deploy:
    parameters:
      mkimage_arch: arm64
      add_header: u-boot
    # list of deployment methods which this device supports
    methods:
      lxc:
      nfs:
      tftp:
      usb:
      ssh:
        options:
{{ ssh_options }}
{% if ssh_host %}
        host: {{ ssh_host }}
{% endif %}
        user: {{ ssh_user|default(root) }}
        port: {{ ssh_port|default(22) }}
        identity_file: {{ ssh_identity_file }}
    connections:
      adb:
      lxc:
      serial:
  boot:
    # list of connection methods which this device supports
    connections:
      adb:
      lxc:
      serial:
      ssh:
    # list of boot methods which this device supports.
    methods:
      lxc:
      ssh:
      u-boot:
        parameters:
          bootloader_prompt: VExpress64
          boot_message: {{ boot_message|default('Linux version') }}
          send_char: False
          mkimage_arch: arm64
        ramdisk-local:
          commands:
{{ base_uboot_commands }}
{{ base_uboot_commands_juno_extras }}
          - setenv fdtfile board.dtb
          - setenv initrd_name ramdisk.img
          - setenv kernel_name norkern
{{ base_load_commands }}
          - setenv bootargs 'console={{ console_device }},{{ baud_rate }}n8 root=/dev/sda2 {{ juno_kernel_args }}'
{{ base_uboot_bootcmd }}
        nfs-local:
          commands:
{{ base_uboot_commands }}
{{ base_uboot_commands_juno_extras }}
          - setenv fdtfile board.dtb
          - setenv initrd_name ramdisk.img
          - setenv kernel_name norkern
{{ base_load_commands }}
          - setenv bootargs 'console={{ console_device }},{{ baud_rate }}n8 root=/dev/nfs {{ base_nfsroot_args }} {{ juno_kernel_args }}'
{{ base_uboot_nfs_bootcmd }}
        ramdisk-tftp:
          commands:
{{ base_uboot_commands }}
{{ base_uboot_commands_juno_extras }}
{{ base_uboot_addr_commands }}
{{ base_uboot_tftp_commands }}
          - setenv bootargs 'console={{ console_device }},{{ baud_rate }}n8 root=/dev/nfs {{ base_nfsroot_args}} {{ juno_kernel_args }}'
{{ base_uboot_tftp_bootcmd }}
        ramdisk-tftp-usb:
          commands:
{{ base_uboot_commands }}
{{ base_uboot_commands_juno_extras }}
{{ base_uboot_addr_commands }}
{{ base_uboot_tftp_commands }}
          - setenv bootargs 'console={{ console_device }},{{ baud_rate }}n8 root=/dev/sda2 {{ juno_kernel_args }}'
{{ base_uboot_tftp_bootcmd }}
        tftp-local-ramdisk-nfsroot:
          commands:
{{ base_uboot_commands }}
          - setenv initrd_name ramdisk.img
          - setenv loadfdt 'tftp {DTB_ADDR} {DTB}'
          - setenv loadkernel 'tftp {KERNEL_ADDR} {KERNEL}'
          - setenv loadinitrd 'afs load ramdisk.img {RAMDISK_ADDR}; setenv initrd_param {RAMDISK_ADDR}'
          - setenv bootargs 'console={{ console_device }},{{ baud_rate }}n8 root=/dev/nfs {{ base_nfsroot_args }} {{ juno_kernel_args }}'
{{ base_tftp_uboot_bootcmd }}
        usb:
          commands:
          - usb start
          - usb info
{{ base_uboot_commands }}
          - setenv kernel_addr_r '{KERNEL_ADDR}'
          - setenv initrd_addr_r '{RAMDISK_ADDR}'
          - setenv fdt_addr_r '{DTB_ADDR}'
          - setenv loadkernel 'load usb 0:{ROOT_PART} ${kernel_addr_r} {KERNEL}'
          - setenv loadinitrd 'load usb 0:{ROOT_PART} ${initrd_addr_r} {RAMDISK}; setenv initrd_size ${filesize}'
          - setenv loadfdt 'load usb 0:{ROOT_PART} ${fdt_addr_r} {DTB}'
          - setenv bootargs 'console={{ console_device }},{{ baud_rate }}n8 root={ROOT} {{ juno_kernel_args }}'
{{ base_uboot_bootcmd }}
        use-defaults:
          commands:
          - boot
{% endblock -%}
