{% extends 'base.jinja2' %}
{% block body %}
device_type: juno

{% set console_device = console_device | default('ttyAMA0') %}
{% set baud_rate = baud_rate | default('115200') %}
{% set base_kernel_args = extra_kernel_args | default(
           'rw rootwait earlycon=pl011,0x7ff80000 debug systemd.log_target=null user_debug=31 androidboot.hardware=juno loglevel=9') %}

{% set base_uboot_commands = uboot_commands | default(
"          - setenv autoload no
          - setenv initrd_high '0xffffffffffffffff'
          - setenv fdt_high '0xffffffffffffffff'
          - setenv bootdelay 1
          - setenv ethact smc911x-0") -%}

{% set base_load_commands = load_commands | default(
"          - setenv loadkernel 'afs load ${kernel_name} {KERNEL_ADDR}'
          - setenv loadfdt 'afs load ${fdtfile} {DTB_ADDR} ; fdt addr {DTB_ADDR}; fdt resize'
          - setenv loadinitrd 'afs load ${initrd_name} {RAMDISK_ADDR}; setenv initrd_param {RAMDISK_ADDR}'") -%}

{% set base_uboot_bootcmd = uboot_bootcmd | default(
"          - setenv bootcmd 'run loadkernel; run loadfdt; {BOOTX}'
          - boot") -%}

{% set base_tftp_uboot_bootcmd = tftp_uboot_bootcmd | default(
"          - setenv bootcmd 'dhcp; setenv serverip {SERVER_IP}; run loadkernel; run loadfdt; {BOOTX}'
          - boot") -%}

{% set base_nfs_uboot_bootcmd = nfs_uboot_bootcmd | default(base_tftp_uboot_bootcmd) %}

{% block parameters -%}
parameters:
  booti:
    kernel: '{{ booti_kernel_addr|default('0x80080000') }}'
    ramdisk: '{{ booti_ramdisk_addr|default('0x84000000') }}'
    dtb: '{{ booti_dtb_addr|default('0x83000000') }}'
  media:  # four USB slots.
    usb:
      UUID-required: True
      {{ usb_label|default('SanDisk_Ultra') }}:
        uuid: "{{ usb_uuid }}"
        device_id: {{ usb_device_id|default(0) }}  # the bootloader device id for this media on the 'usb' interface
{% endblock -%}

actions:
  deploy:
    # list of deployment methods which this device supports
    methods:
      lxc:
      nfs:
      tftp:
      usb:
    connections:
      adb:
      lxc:
      serial:
  boot:
    # list of connection methods which this device supports
    connections:
      adb:
      lxc:
      serial:
    # list of boot methods which this device supports.
    methods:
      lxc:
      u-boot:
        parameters:
          bootloader_prompt: {{ bootloader_prompt|default('VExpress64') }}
          boot_message: {{ boot_message|default('Linux version') }}
          send_char: False
        ramdisk:
          commands:
{{ base_uboot_commands }}
          - setenv fdtfile board.dtb
          - setenv initrd_name ramdisk.img
          - setenv kernel_name norkern
{{ base_load_commands }}
          - setenv bootargs 'console={{ console_device }},{{ baud_rate }}n8 root=/dev/sda2 {{ base_kernel_args }}'
{{ base_uboot_bootcmd }}
        nfs:
          commands:
{{ base_uboot_commands }}
          - setenv fdtfile board.dtb
          - setenv initrd_name ramdisk.img
          - setenv kernel_name norkern
{{ base_load_commands }}
          - setenv bootargs 'console={{ console_device }},{{ baud_rate }}n8 root=/dev/nfs {{ base_nfsroot_args }} {{ base_kernel_args }} {{ base_ip_args }}'
{{ base_nfs_uboot_bootcmd }}
        ramdisk-tftp:
          commands:
{{ base_uboot_commands }}
{{ base_tftp_commands}}
          - setenv bootargs 'console={{ console_device }},{{ baud_rate }}n8 root=/dev/sda2 {{ base_kernel_args }}'
{{ base_tftp_uboot_bootcmd }}
        tftp:
          commands:
{{ base_uboot_commands }}
          - setenv initrd_name ramdisk.img
          - setenv loadfdt 'tftp {DTB_ADDR} {DTB}'
          - setenv loadkernel 'tftp {KERNEL_ADDR} {KERNEL}'
          - setenv loadinitrd 'afs load ramdisk.img {RAMDISK_ADDR}; setenv initrd_param {RAMDISK_ADDR}'
          - setenv bootargs 'console={{ console_device }},{{ baud_rate }}n8 root=/dev/nfs {{ base_nfsroot_args }} {{ base_kernel_args }}'
{{ base_tftp_uboot_bootcmd }}
        use-defaults:
          commands:
          - boot
{% endblock -%}
