{# device_type = "meson-g12a-sei510" #}
{% extends 'meson-g12-common.jinja2' %}
{% set base_kernel_args = base_kernel_args|default('') %}
{% set uboot_bootx_cmd = 'boot' %}
{% set base_uboot_bootcmd = uboot_bootcmd|default(
 "          - '" + uboot_bootx_cmd|default('{BOOTX}')) + "'" -%}
{% set baud_rate = baud_rate|default('115200') %}
{% set boot_character_delay = boot_character_delay|default(5) %}
{% set usb_uuid = usb_uuid|default('') %}
{% set usb_device_id = usb_device_id|default('') %}
{% set bootloader_prompt = bootloader_prompt|default('=>') %}
{% set interrupt_prompt = interrupt_prompt|default('Hit any key to stop autoboot') %}
{% set interrupt_char = interrupt_char|default(' ') %}
{% set adb_serial_number = adb_serial_number|default("'0000000000'") %}
{% set fastboot_serial_number = fastboot_serial_number|default("0000000000") %}
{% set device_info = device_info|default([{'board_id': fastboot_serial_number}]) %}
{% set fastboot_deploy_uboot_commands = fastboot_deploy_uboot_commands|default(["fastboot 0"]) %}
{% set fastboot_sequence = fastboot_sequence|default(['no-flash-boot']) %}
{% set fastboot_boot_uboot = "
        # method specific stanza
        mmc:
          commands:
          - setenv console ttyUSB0,115200n8
          - " + base_uboot_bootcmd + "
" %}
{% set root_device = root_device | default('/dev/ttyAML0') %}
{% set kernel_args = kernel_args | default("consoleblank=0 earlycon") %}
{% set booti_kernel_addr = booti_kernel_addr | default('0x01080000') %}
{% set booti_ramdisk_addr = booti_ramdisk_addr | default('0x6000000') %}
{% set booti_dtb_addr = booti_dtb_addr | default('0x1000000') %}
{% set bootz_kernel_addr = booti_kernel_addr %}
{% set bootz_ramdisk_addr = booti_ramdisk_addr %}
{% set bootz_dtb_addr = booti_dtb_addr %}
{% set bootm_kernel_addr = bootz_kernel_addr %}
{% set bootm_ramdisk_addr = bootz_ramdisk_addr %}
{% set bootm_dtb_addr = bootz_dtb_addr %}
