# Common Amlogic Meson G12 configuration
{% extends 'base-uboot.jinja2' %}

{% set uboot_mkimage_arch = 'arm64' %}
{% set console_device = console_device|default('ttyAML0') %}
{% set baud_rate = baud_rate|default(115200) %}

{% set bootm_kernel_addr = '0x01080000' %}
{% set bootm_dtb_addr = '0x0107f000' %}
{% set bootm_ramdisk_addr = '0x04000000' %}
