{% extends 'base.jinja2' %}
{% block body %}
device_type: nexus10
serial_number: {{ serial_number|default('0000000000') }}

{% block vland %}
{# skip the parameters dict at top level #}
{% endblock %}

actions:
  deploy:
    methods:
      fastboot:
    connections:
      serial:
      adb:
  boot:
    connections:
      adb:
    methods:
      fastboot:

{% endblock %}
