{% extends 'base.jinja2' %}
{% block body %}
device_type: nrf52-nitrogen
board_id: '{{ board_id|default('0000000000') }}'
actions:
  boot:
    connections:
      serial:
      ssh:
    methods:
      pyocd:
        parameters:
          command:
            pyocd-flashtool
          options:
          - -d {{ debug|default('debug') }}
          - -t {{ target|default('nrf52') }}
          - -f {{ frequency|default('3000000') }}
{% endblock -%}
