{% extends 'base.jinja2' %}
{% block body %}
device_type: nxp-k64f
actions:
  boot:
    connections:
      serial:
      ssh:
    methods:
      pyocd:
        parameters:
          command:
            pyocd-flashtool
          options:
          - -d {{ debug|default('debug') }}
          - -t {{ target|default('k64f') }}
          - -f {{ frequency|default('3000000') }}
{% endblock -%}
