# Hardkernel Odroid XU3
{% extends 'exynos4-5-common.jinja2' %}

{% set device_type = "odroid-xu3" %}

{% set bootloader_prompt = bootloader_prompt|default('ODROID-XU3') %}
{% set console_device = console_device|default('ttySAC2') %}
