# Renesas R-Car Starter Kit Pro
{% extends 'base-uboot.jinja2' %}

{% set device_type = "r8a7796-m3ulcb" %}

{% set console_device = console_device|default('ttySC0') %}

{% set booti_kernel_addr = '0x48080000' %}
{% set booti_ramdisk_addr = '0x49100000' %}
{% set booti_dtb_addr = '0x48000000' %}
{% set uboot_mkimage_arch = 'arm64' %}
