{% extends 'base-uboot.jinja2' %}
{% set console_device = console_device|default('ttyAT0') %}
{% set baud_rate = baud_rate|default(115200) %}
{% set device_type = "sama5d34ek" %}
{% set bootloader_prompt = bootloader_prompt|default('U-Boot>') %}
{% set bootm_kernel_addr = '0x20008000' %}
{% set bootm_ramdisk_addr = '0x21100000' %}
{% set bootm_dtb_addr = '0x21000000' %}
{% set bootz_kernel_addr = '0x20008000' %}
{% set bootz_ramdisk_addr = '0x22000000' %}
{% set bootz_dtb_addr = '0x21f00000' %}
{% set base_ip_args = 'ip=dhcp' %}
{% set uboot_mkimage_arch = 'arm' %}
{% set uboot_ipaddr_cmd = 'setenv ethact gmac0; dhcp' %}
