# snow AKA Samsung arm Chromebook running u-boot (chainloaded by vendor
# u-boot)
{% extends 'exynos4-5-common.jinja2' %}

{% set device_type = "snow" %}

{% set boot_character_delay = 1 %}
{% set bootloader_prompt = bootloader_prompt|default('snow') %}
{% set console_device = console_device|default('ttySAC3') %}
