{% extends 'base.jinja2' %}
{% block body %}
device_type: stm32-carbon
board_id: '{{ board_id|default('0000000000') }}'
usb_vendor_id: '0483'
usb_product_id: 'df11'

actions:
  deploy:
    methods:
      image:
        parameters:

  boot:
    connections:
      serial:
    methods:
      dfu:
        parameters:
          command:
            dfu-util
{% endblock -%}