{# device_type = "sun8i-a83t-allwinner-h8homlet-v2" #}
{% extends 'sunxi-common.jinja2' %}

{% set uboot_mkimage_arch = 'arm' %}
{% set uboot_needs_usb = true %}
{% set uboot_usb_commands = [
    "usb start",
    "setenv ethact 'asix_eth'"]
-%}
