{% extends 'base-fastboot.jinja2' %}
{% set device_type = "x15" %}
{% set fastboot_sequence = [
    'reboot', 'wait-usb-add', 'lxc-add-device',
    'auto-login', 'shell-session', 'export-env'] %}
{% set fastboot_deploy_uboot = "
      u-boot:
        parameters:
          bootloader_prompt: '=>'
          interrupt_prompt: 'Hit any key to stop autoboot: '
          # character needed to interrupt u-boot, single whitespace by default
          interrupt_char: " "
          send_char: False
          # method specific stanza
          fastboot:
            commands:
              - fastboot 1
"%}
{% set fastboot_boot_uboot = "
      u-boot:
        parameters:
          bootloader_prompt: '=>'
          interrupt_prompt: 'Hit any key to stop autoboot: '
          boot_message: Starting kernel
          # character needed to interrupt u-boot, single whitespace by default
          interrupt_char: " "
          send_char: False

" %}
