{% extends 'base-uboot.jinja2' %}
{% set device_type = "x15" %}
{% set bootloader_prompt = bootloader_prompt|default('=>') %}
{% set bootm_kernel_addr = '0x82000000' %}
{% set bootm_ramdisk_addr = '0x88080000' %}
{% set bootm_dtb_addr = '0x88000000' %}
{% set bootz_kernel_addr = bootm_kernel_addr %}
{% set bootz_ramdisk_addr = bootm_ramdisk_addr %}
{% set bootz_dtb_addr = bootm_dtb_addr %}
{% set uboot_mkimage_arch = 'arm' %}
{% set adb_serial_number = adb_serial_number|default("'0000000000'") %}
{% set fastboot_serial_number = fastboot_serial_number|default("'0000000000'") %}
{% set device_info = device_info|default([{'board_id': fastboot_serial_number}]) %}
{% set console_device = console_device|default('ttyS2') %}
{% set baud_rate = baud_rate|default(115200) %}

{% set fastboot_sequence = [
    'reboot', 'auto-login', 'shell-session', 'export-env'] %}
{% set fastboot_deploy_uboot = "
      u-boot:
        parameters:
          bootloader_prompt: '=>'
          interrupt_prompt: 'Hit any key to stop autoboot: '
          # character needed to interrupt u-boot, single whitespace by default
          interrupt_char: " "
          send_char: False
          # method specific stanza
          fastboot:
            commands:
              - fastboot 1
"%}
{% set fastboot_boot_uboot = "
        # method specific stanza
        mmc:
          commands:
          - run findfdt
          - setenv console ttyS2,115200n8
          - setenv mmcdev 1
          - \"setenv bootpart 1:e\"
          - run mmcboot
" %}
