{% extends 'base.jinja2' %}
{% block body %}
device_type: x86

{% set console_device = console_device | default('ttyS0') %}
{% set baud_rate = baud_rate | default(115200) %}

{# allow job context override - use a different variable name, undefined if not in job context #}
{% set base_nfsroot_args = nfsroot_args | default(base_nfsroot_args) -%}
{% set base_kernel_args = extra_kernel_args | default(base_kernel_args) %}

{# adds the parameters: top level block #}
{% block vland %}
{{ super() }}
{% endblock %}

actions:
  deploy:
    methods:
      tftp:
      ssh:
        options:
{{ ssh_options }}
{% if ssh_host %}
        host: {{ ssh_host }}
{% endif %}
        user: {{ ssh_user|default(root) }}
        port: {{ ssh_port|default(22) }}
        identity_file: {{ ssh_identity_file }}
  boot:
    connections:
      serial:
    methods:
      ssh:
      ipxe:
        parameters:
          bootloader_prompt: {{ bootloader_prompt|default('iPXE>') }}
          boot_message: {{ boot_message|default('Linux version') }}
          send_char: True
          use_bootscript: {{ use_bootscript|default(False)}}
          lava_mac: {{ lava_mac_address|default('00:90:05:af:00:7d') }}
        nfs:
          commands:
          - dhcp net0
          - set console console={{ console_device }},{{ baud_rate }}n8 lava_mac={LAVA_MAC}
          - "set extraargs root=/dev/nfs rw {{ base_nfsroot_args }} {{ base_kernel_args }} ip=eth0:dhcp"
          - kernel tftp://{SERVER_IP}/{KERNEL} ${extraargs} ${console}
          - initrd tftp://{SERVER_IP}/{RAMDISK}
          - boot
        ramdisk:
          commands:
          - dhcp net0
          - set console console={{ console_device }},{{ baud_rate }}n8 lava_mac={LAVA_MAC}
          - set extraargs init=/sbin/init {{ base_kernel_args }} {{ base_ip_args }}
          - kernel tftp://{SERVER_IP}/{KERNEL} ${extraargs} ${console}
          - initrd tftp://{SERVER_IP}/{RAMDISK}
          - boot
{% endblock %}

{% block timeouts %}
timeouts:
  actions:
    bootloader-retry:
      seconds: 120
    bootloader-interrupt:
      seconds: 300
    bootloader-commands:
      seconds: 120
  connections:
    bootloader-retry:
      seconds: 120
    bootloader-interrupt:
      seconds: 300
    bootloader-commands:
      seconds: 120
{% endblock %}
