body {
  background-color: #222;
  color: #F5F4E1;
  font-size: 10pt;
  font-family: UbuntuBeta, Ubuntu, Verdana, sans-serif;
  padding: 25pt 15pt 2em 15pt;
  margin: 0;
  min-width: 650px;
}


#header {
  background-color: #D44917;
  background: -moz-linear-gradient(
      center bottom,
      rgb(212,52,16) 6%,
      rgb(212,74,23) 75%
  );
  -moz-border-radius: 7pt 7pt 0 0;
  -webkit-border-radius: 7pt 7pt 0 0;
  color: #F5F4E1;
  margin: 0;
  padding: 3pt 7pt;
}

#header #account_info {
  font-weight: bold;
  padding-top: 5pt;
  text-align: right;
  float: right;
  font-size: 8pt;
  font-weight: bold;
  text-shadow: #541d09 1px 1px;
}

#header #account_info a.change_password,
#header #account_info a.sign_in,
#account_info a.sign_out {
  -moz-border-radius: 5pt;
  -webkit-border-radius: 5pt;
  background-color: #943310;
  color: #F5F4E1;
  padding: 5pt;
}

#header #account_info a {
  text-decoration: none;
  color: inherit;
}

#header #account_info a:hover {
  text-decoration: underline;
}

#header #product_logo a {
  display: block;
  font-size: 25pt;
  font-weight: bold;
  padding: 0.5em 0.5em 0.1em 0.5em;
  text-decoration: none;
  text-shadow: #541d09 2px 2px;
  color: inherit !important;
}

#header #product_logo a span.version{
  display: block;
  font-size: 10pt;
  font-weight: normal;
  left: 1em;
  position: relative;
  text-shadow: #541d09 1px 1px;
  top: -0.5em;
}


#navigation {
  font-size: 9pt;
  background-color: #541D09;
  color: #F5F4E1;
  margin: 0;
  padding: 3pt 7pt;
}

#navigation ul {
  margin: 0;
  padding: 0;
  display: block;
}

#navigation ul li {
  display: inline;
  padding: 0.2em; 
  margin: 0;
}

#navigation ul li a {
  text-decoration: none;
  color: inherit !important;
}

#navigation ul li a:hover {
  text-decoration: underline;
}


#content {
  clear: both;
  color: #202020;
  background-color: #F5F4E1;
  padding: 0 12pt 1em 12pt;
  margin: 0;
  -moz-border-radius: 0 0 7pt 7pt;
  -webkit-border-radius: 0 0 7pt 7pt;
  border-top: 1px solid #F5F4E1;
} 

#footer {
  margin-top: 1em;
}

#content p {
  text-align: justify;
}

#copyright {
  font-size: smaller;
  margin: auto;
  padding: 0 12pt;
  text-align: justify;
}

#footer #copyright a {
  color: inherit !important;
}
