{% extends "registration/base.html" %}
{% load i18n %}


{% block title %}
{{ block.super }}
| {% trans "Password change" %}
{% endblock %}


{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
  $(function () {
      $("#id_old_password").watermark("{% trans "Old password" %}");
      $("#id_new_password1").watermark("{% trans "New password" %}");
      $("#id_new_password2").watermark("{% trans "New password (again)" %}");
      });
</script>
{% endblock %}


{% block big_message %}{% trans "Password change" %}{% endblock %}

{% block content %}
<form action="" method="POST">
  {% csrf_token %} 
  <table>
    <tr>
      <td>
        {% blocktrans %}
        <p>Please enter your old password, for security's sake, and then enter
        your new password twice so we can verify you typed it in correctly.</p>
        {% endblocktrans %}
        <p>{{ form.old_password }}</p>
        {{ form.old_password.errors }}
        <p>{{ form.new_password1 }}</p>
        {{ form.new_password1.errors }}
        <p>{{ form.new_password2 }}</p>
        {{ form.new_password2.errors }}
      </td>
    </tr>
    <tr>
      <th>
        <input id="id_submit" type="submit" value="{% trans 'Change my password' %}" />
      </th>
    </tr>
  </table>
</form>
{% endblock %}
