{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}
{{ block.super }}
| {% trans "Password reset" %}
{% endblock %}


{% block big_message %}
{% if validlink %}
{% trans "Password reset" %}
{% else %}
{% trans "Ooops!" %}
{% endif %}
{% endblock %}


{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
  $(function () {
      $("#id_new_password1").watermark("{% trans "Password" %}");
      $("#id_new_password2").watermark("{% trans "Password (again)" %}");
      });
</script>
{% endblock %}


{% block content %}
{% if validlink %}
<form action="" method="POST">
  {% csrf_token %} 
  <table>
    <tr>
      <td>
        {% blocktrans %}
        <p>Please enter your new password twice so we can verify you typed it
        in correctly.</p>
        {% endblocktrans %}
        <p>{{ form.new_password1 }}</p>
        {{ form.new_password1.errors }}
        <p>{{ form.new_password2 }}</p>
        {{ form.new_password2.errors }}
      </td>
    </tr>
    <tr>
      <th>
        <input id="id_submit" type="submit" value="{% trans 'Change my password' %}" />
      </th>
    </tr>
  </table>
</form>

{% else %}
<table>
  <tr>
    <td>
      {% blocktrans %}
      <p>The password reset link was invalid, possibly because it has already
      been used. Please 
      {% endblocktrans %}
      <a href="{% url 'django.contrib.auth.views.password_reset' %}">{% trans "request a new password reset" %}</a>
      </p>
    </td>
  </tr>
</table>
{% endif %}
{% endblock %}
