<div id="footer">
  <div class="container">
    <p class="text-muted text-center">LAVA {{ lava.instance_version }}<br>
        LAVA is free software developed by <a href="https://www.linaro.org">Linaro</a> and the <a href="https://www.lavasoftware.org">LAVA Software Community Project</a>.
        It is distributed under the terms of the <a href="http://www.gnu.org/licenses/gpl-2.0.html" >GNU General Public License version 2 or later</a>.<br>
        <a href="{{ lava.branding_bug_url }}">Report a bug</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{ STATIC_URL }}docs/v2/support.html">Support</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{ lava.branding_source_url }}">Source code</a>
    </p>
  </div>
</div>

