{% load analytics %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% block scripts_and_styles %}
    <script type="text/javascript" src="{{ STATIC_URL }}lava-server/js/jquery-1.11.0.min.js"></script> 
    <script type="text/javascript" src="{{ STATIC_URL }}lava-server/js/jquery-ui-1.10.4.custom.min.js"></script> 
    <script type="text/javascript" src="{{ STATIC_URL }}lava-server/js/jquery.cookie.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lava-server/css/smoothness/jquery-ui-1.10.4.custom.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lava-server/css/default.css"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Cantarell:400,700" rel="stylesheet" type="text/css"/>
    {% endblock %}
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    {% analytics %}
    {% block body %}
    {% endblock %}
  </body>
</html>
