{% extends "layouts/base.html" %}
{% load i18n %}


{% block body %}
<!-- lava-container -->
<div id="lava-container">

  {% block header %}
  <!-- header -->
  <div id="lava-server-header">

    <!-- home link and user box -->
    <div id="lava-server-user-box">
      {% if user.is_authenticated %}
      {% trans "Signed in as" %} <span class="username">{{user}}</span>,
      <a
        class="sign-out"
        href="{% url django.contrib.auth.views.logout %}"
        >{% trans "sign out" %}</a>
      {% if user.is_staff %}
      {% trans " or visit the " %}<a 
        class="admin-site"
        href="{% url admin:index %}"
        >{% trans "admin interface" %}</a>
      {% endif %}
      {% else %}
      {% trans "Welcome stranger" %},
      <a
        class="sign-in"
        href="{% url django.contrib.auth.views.login %}"
        >{% trans "sign in" %}</a>
      {% endif %}
    </div>
    <!-- !home link and user box -->

    <!-- navigation -->
    {% block navigation %}
    <div id="lava-server-navigation"> 
      <ul>
        <li><a href="{% url lava.home %}">{% trans "LAVA Server" %}</a></li>
        {% for extension in lava.extension_list %}
        <li><a href="{{ extension.get_main_url }}">{{ extension.name }}</a></li>
        {% endfor %}
        <li><a href="{% url lava.api_help %}">{% trans "API" %}</a></li>
      </ul>
    </div>
    {% endblock navigation %}
    <!-- !navigation -->

    <!-- extension navigation -->
    {% block extension_navigation %}{% endblock %}
    <!-- !extension navigation -->

  </div>
  <!-- !header -->

  <!-- breadcrumbs -->
  <div id="lava-server-breadcrumbs">
    <b>{% trans "You are here:" %}</b>
    <ul>
      <li><a href="{% url lava.home %}">{% trans "LAVA" %}</a></li>
      {% block breadcrumbs %}{% endblock %}
    </ul>
  </div>
  <!-- !breadcrumbs -->

  {% endblock header %}

  {% block content-and-sidebar %}
  <div id="lava-server-content-without-sidebar">
    <div id="lava-server-content">
      <!-- sidebar (not in this layout) -->
      <!-- content -->
      {% block content %}{% endblock %}
      <!-- !content -->
    </div>
  </div>

  {% endblock %}
  <!-- footer -->
  <div id="lava-server-footer">
    {% block footer %}
    <!-- topics -->
    <dl id="lava-server-topics">
      <dt>{% trans "Report a bug" %}</dt>
      <dd>If you think the content of this page is incorrect, have encountered
      a server error or otherwise feel like it you may want to <a
        href="https://bugs.launchpad.net/lava/+filebug" >report a bug</a>. If
      you are unsure which LAVA sub-project to select feel free to report a bug
      on any of them and we'll re-assign it to the appropriate place.</dd>
      <dt>{% trans "Documentation" %}</dt>
      <dd>LAVA Documentation is maintained on a per-component basis. You can
      find pointers to each component on the <a
        href="https://wiki.linaro.org/Platform/Validation/LAVA/Documentation"
        >LAVA Documentation wiki</a></dd>
      <dt>{% trans "Source code" %}</dt>
      <dd>The canonical source of LAVA is a collection of Bazaar branches
      hosted on Launchpad. LAVA itself is spread across multiple sub-projects,
      each with a separate source repository. You can find them on the <a
        href="http://launchpad.net/lava/">LAVA project group</a> page</dd>
      <dt>{% trans "Web standards" %}</dt>
      <dd>This website should contain only valid XHTML markup, you can 
      <a href="http://validator.w3.org/check?uri=referer">validate it</a> if
      you wish.</dd>
      <dt>{% trans "Licensing and copyright" %}</dt>
      <dd>LAVA Server is free software developed by <a
        href="http://linaro.org">Linaro</a>. It is distributed under the terms
      of the <a href="http://www.gnu.org/licenses/agpl-3.0.html"
        >GNU Affero General Public License version 3</a>.
      <strong>You have the right to obtain source code of any server side
        installations of this software that you interact with.</strong>.</dd>
    </dl>
    <script type="text/javascript">
      $(function() {
        $("#lava-server-topics dd").hide();
        $("#lava-server-topics dt").click(function (event) {
          $(":parent dd").slideUp("slow");
          $(this).next().slideDown("slow");
        });
      });
    </script>
    <!-- !topics -->
    {% endblock footer %}
  </div>
  <!-- !footer -->
</div>
<!-- !lava-container -->
{% endblock body %}
