{% extends "layouts/base.html" %}
{% load i18n %}


{% block title %}
{{ bread_crumb_trail|join:" | " }}
{% endblock %}


{% block body %}
<!-- lava-container -->
<div id="lava-container">

  {% block header %}
  <!-- header -->
  <div id="lava-panel">

    {% block menu %}
    <!-- menu -->
    {% for menu in lava.menu_list %}
    <div class="lava-panel-element{% if menu.sub_menu %} has-menu{% endif %}">
      <a class="lava-panel-menu-text" href="{{ menu.url }}">{{ menu.label }}{% if menu.sub_menu %} &#x25BE;{% endif %}</a>
    </div>
    {% if menu.sub_menu %}
    <ul class="lava-panel-menu">
    {% for sub_menu in menu.sub_menu %}
      <li><a href="{{ sub_menu.url }}">{{ sub_menu.label }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
    <!-- !menu -->
    {% endblock menu %}

    <!-- empty spacer to separate menu from indicators -->
    <div class="lava-panel-element no-hover" id="lava-panel-spacer"></div>

    <!-- ajax indicator -->
    <div class="lava-panel-element lava-indicator no-hover" id="lava-ajax-indicator">
      <div class="lava-panel-menu-text">
        <img src="{{ STATIC_URL }}lava-server/images/ajax-loader.gif" alt="AJAX progress indicator"/>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ajaxStart(function() {
        $('#lava-ajax-indicator').animate({
          opacity: 1.0
        }, "fast", function() {
        });
      }).ajaxStop(function() {
        $('#lava-ajax-indicator').animate({
          opacity: 0.0
        }, "fast", function() {
          $("#lava-ajax-indicator").css("display", "hidden");
        });
      });
    </script>
    <!-- !ajax indicator -->

    <!-- user indicator -->
    <div class="lava-indicator lava-panel-element {% if user.is_authenticated %}has-menu{% endif %}" id="lava-user-indicator">
      <div class="lava-panel-menu-text">
        <img 
        src="{{ STATIC_URL }}lava-server/images/avatar-default-symbolic.svg"
        width="18" height="18"/>
        {% if user.is_authenticated %}
        <a href="{% url lava.me %}" class="username">{{user.get_full_name|default:user.username}} &#x25BE;</a>
        {% else %}
        <a href="{% url django.contrib.auth.views.login %}" class="username"
          >{% trans "Guest" %}</a>
        <br/>
        <span class="sign-in-hint">Click to sign-in</span>
        {% endif %}
      </div>
    </div>
    {% if user.is_authenticated %}
    <ul class="lava-panel-menu">
      <li><a href="{% url lava.me %}">My profile</a></li>
      {% if user.is_staff %}
      <li><a href="{% url admin:index %}">Administration</a></li>
      {% endif %}
      <li><a href="{% url django.contrib.auth.views.logout %}">Sign out</a></li>
    </ul>
    {% endif %}
    <!-- !user indicator -->

  </div>
  <!-- !panel -->

  <script type="text/javascript">
    $(document).ready(function(){  
      // When true sub-mens should open on hover.
      // This mode is enabled by the first click on a top-level menu.
      var menu_should_open = false;

      var current_menu = null;
      var current_sub_menu = null;

      function close_current_menu() {
        if (current_menu) {
          current_menu.removeClass("active");
          current_menu = null;
        }
        if (current_sub_menu) {
          current_sub_menu.slideUp("fast");
          current_sub_menu = null;
        }
      }

      // Leaving the panel closes all menus and disables "preview" mode where
      // menus open automatically.
      $("#lava-panel").bind('mouseleave', function() {
        menu_should_open = false;
        close_current_menu();
      });

      $('.lava-panel-element')
        .bind('mouseenter', function() {
          if (menu_should_open) {
            close_current_menu();
            if ($(this).hasClass("has-menu")) {
              $(this).click();
            }
          }
        });

      // Clicking on a panel element with a menu does stuff
      $('.lava-panel-element.has-menu')
        .click(function(event) {
          // Enter hover-mode
          menu_should_open = true;
          if ($(this).next(".lava-panel-menu").is(":visible")) {
            // Clicking on a menu with a visible sub-menu just triggers the link
            return;
          }
          // Since our menu headers are links (for compatibility) let's prevent
          // the default link action from firing
          event.preventDefault();

          // Find the sub menu 
          var self = $(this);
          current_menu = self;
          current_sub_menu = self.next(".lava-panel-menu");
          
          // The top absolute position of the menu.
          // Defaults to the bottom border of the panel
          // with the border size (2px) substracted to make
          // both borders overlap and look nicer
          var _top = $("#lava-panel").outerHeight(false) - 2;

          // The left absolute position of the menu.
          // defaults to the offset of the indicator span
          var _left = $(this).offset().left;

          // Same with the right menu, the right margin
          var _width = $(this).width();

          // Adjust the width to consider the border of the pop-up menu.
          var width_adj = current_sub_menu.outerWidth() - current_sub_menu.width();
          _width -= width_adj;

          // Don't set the width if it would make the menu too short.
          if (_width < current_sub_menu.width()) {
            _width = null;
          }

          // Add an 'active' class to the current menu, this showes up as a nice gradient
          current_menu
            .addClass("active");
          // Repositiobn and slide down the sub menu
          current_sub_menu
            .css({
              top: _top,
              left: _left,
              width: _width
            })
            .slideDown("fast")
            .show()
            .bind('mouseleave', function() { close_current_menu(); });
        });
    });
  </script>

  {% endblock header %}

  {% spaceless %}
  <div id="lava-around-content">
    <!-- logo -->
    <a href="{% url lava.home %}"><img 
      id="lava-logo"
      src="{{ STATIC_URL }}lava-server/images/logo.png"
      width="150"
      height="70"
      alt="Linaro logo"/></a>

    {% block breadcrumb_container %}
    <!-- breadcrumbs -->
    <div id="lava-breadcrumbs">
      <b>{% trans "You are here:" %}</b>
      <ul>
        {% block breadcrumbs %}
        {% for bread_crumb in bread_crumb_trail %}
        <li><a 
          href="{{ bread_crumb.get_absolute_url }}"
          >{{ bread_crumb.get_name }}</a></li>
        {% endfor %}
        {% endblock %}
      </ul>
    </div>
    <!-- !breadcrumbs -->
    {% endblock breadcrumb_container %}

    {% block content-and-sidebar %}
    <!-- sidebar (not in this layout) -->
    <div id="lava-content-without-sidebar">
      <div id="lava-content">
        <!-- content -->
        {% block content %}{% endblock %}
        <!-- !content -->
      </div>
    </div>
    {% endblock %}
  </div>
  {% endspaceless %}

  <!-- footer -->
  <div id="lava-footer">
    {% block footer %}
    <ul>
      <li><a href="{% url lava.version_details %}">{% trans "LAVA version" %}</a></li>
      <li><a href="https://bugs.launchpad.net/lava/+filebug" >Report a bug</a></li>
      <li><a href="http://launchpad.net/lava/">Source Code</a></li>
      <li><a href="http://validator.w3.org/check?uri=referer">Validate HTML</a></li>
    </ul>
    <p>LAVA Server is free software developed by <a
      href="http://linaro.org">Linaro</a>. It is distributed under the terms
    of the <a href="http://www.gnu.org/licenses/agpl-3.0.html"
      >GNU Affero General Public License version 3</a>.
    <br/>
    <strong>You have the right to obtain source code of any server side
      installations of this software that you interact with.</strong>.</p>
    {% endblock footer %}
  </div>
  <!-- !footer -->
</div>
<!-- !lava-container -->
{% endblock body %}
