{% extends "layouts/base.html" %}


{% block scripts_and_styles %}
<script type="text/javascript" src="{{ STATIC_URL }}lava-server/js/jquery-1.11.0.min.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}lava-server/js/jquery-ui-1.10.4.custom.min.js"></script> 
{% endblock %}


{% block extrahead %}
<style type="text/css">
  #master_container {
    max-width: 500px;
  }
</style>
{{ block.super }}
{% endblock %}


{% block body %}
<div id="master_container">
  <div id="header">
    {% block header %}{% endblock %}
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="footer">
    {% block footer %}{% endblock %}
  </div>
</div>
{% endblock %}
