{% extends "layouts/content.html" %}


{% block content %}
<form action="" method="POST">
  {% block form_header %}
  {% endblock %}
  {% csrf_token %}
  <table class="form_helper">
    {% for field in form %}
    {% block form_field %}
    <tr>
      <th><label for="{{ field.id_for_label }}">{{ field.label }}</label></th>
      <td>
        {% if field.errors %}
        <div class="ui-state-error">
          {{ field.errors }}
          {{ field }}
        </div>
        {% else %}
        {{ field }}
        {% endif %}
        <p class='help_text'>{{ field.help_text }}</p>
      </td>
    </tr>
    {% endblock %}
    {% endfor %}
  </table>
  {% block form_footer %}
  <h2>Continue</h2>
  <input type="submit" value="Save"/>
  {% endblock %}
</form>
{% endblock %}
