table.select-compare1 td { cursor: pointer; }
table.select-compare1 tr.even td {
    background-color: #ccf;
}
table.select-compare1 tr.even.hover td {
    background-color: #77f;
}
table.select-compare1 tr.odd td {
    background-color: #aaf;
}
table.select-compare1 tr.odd.hover td {
    background-color: #77f;
}

table.select-compare2 td { cursor: pointer; }
table.select-compare2 tr.even td {
    background-color: #fcc;
}
table.select-compare2 tr.odd td {
    background-color: #faa;
}
table.select-compare2 tr.selected-1 td {
    background-color: #77f;
}
table.select-compare2 tr.selected-1.hover td {
    background-color: #77f;
}
table.select-compare2 tr.hover td {
    background-color: #f77;
}
table.select-compare3 tr.selected-1 td {
    background-color: #77f;
}
table.select-compare3 tr.selected-1.hover td {
    background-color: #77f;
}
table.select-compare3 tr.selected-2 td {
    background-color: #f77;
}
table.select-compare3 tr.selected-2.hover td {
    background-color: #f77;
}
table.select-compare3 tr.selected-1 {
    cursor: pointer;
}
table.select-compare3 tr.selected-2 {
    cursor: pointer;
}
#filter-detail-table input {
    margin-top: 0;
    margin-bottom: 0;
}