{% extends "layout.html" %}
{% load databrowse_media_url_fix %}
{% load i18n %}


{% block head %}
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Launch Control {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% get_media_url %}assets/default.css"/>
    {% block extrahead %}{% endblock %}
    {% block style %}{% endblock %}
{% endblock %}


{% block header %}
  <div id="account_info">
    {% if user.is_authenticated %}
      {% blocktrans %}Signed in as {{user}}{% endblocktrans %},
      <a class="change_password" href="{% url django.contrib.auth.views.password_change %}">{% trans "change password" %}</a>
      or <a class="sign_out" href="{% url django.contrib.auth.views.logout %}">{% trans "sign out" %}</a>
      {% if user.is_superuser %}
      {% trans "or visit " %}<a class="admin_site" href="{% url admin:index %}"
        >{% trans "admin interface" %}</a>
      {% endif %}
    {% else %}
      {% trans "You are not signed in" %}
      <a class="sign_in" href="{% url django.contrib.auth.views.login %}">{% trans "Sign In" %}</a>
    {% endif %}
  </div>
  <div id="product_logo">
    <a href="http://launchpad.net/launch-control/">Launch Control<span class="version"> version 0.2</span></a>
  </div>
{% endblock %}


{% block navigation %}
<ul class="menu">
  <li><a href="{% url home %}">Home</a></li>
  <li><a href="{% url dashboard_app.bundle_stream_list %}">Bundle Streams</a></li>
  <li><a href="{% url data-browser '' %}">Data Browser</a></li>
  <li><a href="{% url xml-rpc %}">XML-RPC API</a></li>
</ul>
{% endblock %}


{% block breadcrumbs_outer %}
<ul>
  <li>{% trans "You are here: " %}</li>
  <li><a href="{% url home %}">{% trans "Home" %}</a></li>
  {% block breadcrumbs %}{% endblock %}
</ul>
{% endblock %}


{% block footer %} 
<div id="copyright">
  <p>Launch Control is free software developed by <a
    href="http://linaro.org">Linaro</a>. It is distributed under the terms
  of the <a href="http://www.gnu.org/licenses/agpl-3.0.html" 
    >GNU Affero General Public License version 3</a>. You have the right to
  obtain source code of any server side installations that you interact
  with.</p>
</div>
{% endblock %}
