{% load databrowse_media_url_fix %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <title>Launch Control {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% get_media_url %}default.css"/>
    {% block style %}{% endblock %}
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    {% block header %}
    <div id="header">
      <a id="launch_control_link"
	href="http://launchpad.net/launch-control/">Launch Control</a>
      <p id="launch_control_info">Version 0.1</p>
      <p id="navigation">
      <a href="{% url home %}">Home</a>
      | <a href="{% url data-browser '' %}">Data Browser</a>
      | <a href="{% url xml-rpc %}">XML-RPC API</a>
      | <a href="{% url about %}">About</a>
      </p>
    </div>
    {% endblock %}
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="copyright">
      <p>
      Launch Control is free software developed by <a
	href="http://linaro.org">Linaro</a>. It is distributed under the terms
      of the <a href="http://www.gnu.org/licenses/agpl-3.0.html" 
	>GNU Affero General Public License version 3</a>. You have the right to
      obtain source code of any server side installations that you interact
      with.</p>
    </div>
  </body>
</html>
