{% extends "layouts/content_with_sidebar.html" %}
{% load i18n %}


{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/default.css"/>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
{% endblock %}


{% block header %}
  <div id="account_info">
    {% if user.is_authenticated %}
      {% blocktrans %}Signed in as {{user}}{% endblocktrans %}
      <a class="sign_out" href="{% url django.contrib.auth.views.logout %}">{% trans "Sign out" %}</a>
      {% if user.is_staff %}
      {% trans " or visit " %}<a class="admin_site" href="{% url admin:index %}"
        >{% trans "admin interface" %}</a>
      {% endif %}
    {% else %}
      {% trans "You are not signed in" %}
      <a class="sign_in" href="{% url django.contrib.auth.views.login %}">{% trans "Sign in" %}</a>
    {% endif %}
  </div>
  <div id="product_logo">
    <a href="{% url home %}">Launch Control<span class="version">
        {% trans "Version:" %} {{ project_version }}{% if project_version.vcs %}, {% trans "branch:" %} {{ project_version.vcs.branch_nick }}{% endif %}
    </span></a>
  </div>
{% endblock %}


{% block navigation %}
<ul class="menu">
  <li><a href="{% url home %}">{% trans "Home" %}</a></li>
  <li>
    <a href="{% url django_reports.views.report_list %}">{% trans "Reports" %}</a>
    <span class="bubble">{% trans "new" %}</span>
  </li>
  <li><a href="{% url dashboard_app.bundle_stream_list %}">{% trans "Bundle Streams" %}</a></li>
  <li><a href="{% url xml-rpc %}">{% trans "XML-RPC API" %}</a></li>
</ul>
{% endblock %}


{% block breadcrumbs_outer %}
<ul>
  <li>{% trans "You are here: " %}</li>
  <li><a href="{% url home %}">{% trans "Home" %}</a></li>
  {% block breadcrumbs %}{% endblock %}
</ul>
{% endblock %}


{% block footer %} 
<p id="copyright">
{% blocktrans %}
Launch Control is free software developed by <a
  href="http://linaro.org">Linaro</a>. It is distributed under the terms of
the <a href="http://www.gnu.org/licenses/agpl-3.0.html"
  >GNU Affero General Public License version 3</a>. You have the right to
obtain source code of any server side installations of this software that you
interact with.
{% endblocktrans %}
</p>
<p>
{% blocktrans %}
This website should contain only valid XHTML markup, you can <a
  href="http://validator.w3.org/check?uri=referer">validate it</a>
if you wish
{% endblocktrans %}
</p>
{% endblock %}
