<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="master_container">
      <div id="header">
        {% block header %}{% endblock %}
      </div>
      <div id="navigation">
        {% block navigation %}{% endblock %}
        <div id="breadcrumbs">
          {% block breadcrumbs_outer %}{% endblock %}
        </div>
        <div style="clear: both;"></div>
      </div>
      <div id="sidebar_container">
        <div id="content_container">
          <div id="content">
            {% block content %}{% endblock %}
          </div>
          <div id="sidebar">
            {% block sidebar %}{% endblock %}
          </div>
        </div>
      </div>
      <div id="content_footer"></div>
      <div id="sidebar_footer"></div>
      <div style="clear: both;"></div>
    </div>
    <div id="footer">
      {% block footer %}{% endblock %}
    </div>
  </body>
</html>
