{% extends 'cubietruck.jinja2' %}
{% set interfaces = ['eth0', 'eth1'] %}
{% set sysfs = {'eth0': "/sys/devices/pci0000:00/0000:00:19.0/net/eth0",
   'eth1': "/sys/devices/pci0000:00/0000:00:1c.1/0000:03:00.0/net/eth1"} %}
{% set mac_addr = {'eth0': "f0:de:f1:46:8c:21",'eth1': "00:24:d7:9b:c0:8c"} %}
{% set tags = {'eth0': ['1G', '10G'], 'eth1': ['RJ45', '10M', '100M']} %}
{% set map = {'eth0': {'192.168.0.2': 4}, 'eth1': {'192.168.0.2': 6}} %}

