{% extends 'hi6220-hikey-r2.jinja2' %}
{% set adb_serial_number = '0123456789' %}
{% set fastboot_serial_number = 'usb:2-1.2' %}
{% set connection_list = ['uart0', 'uart1'] %}
{% set connection_commands = {'uart0': 'telnet localhost 4002', 'uart1': 'telnet 192.168.1.200 8001'} %}
{% set connection_tags = {'uart1': ['primary']} %}
{% set hard_reset_command = ['/path/to/reset.sh 0 1 2', 'sleep 5'] %}
{% set soft_reboot_command = 'fastboot -s usb:2-1.2 reboot' %}
{% set power_on_command = '/path/to/power-on.sh 0 1 2' %}
{% set power_off_command = '/path/to/power-off.sh 0 1 2' %}
{% set fastboot_options = ['-S', '256M'] %}
{% set pre_power_command = '/home/neil/lava-lab/shared/lab-scripts/usb_hub_control -u 12 -p 4000 -m sync' %}
{% set pre_os_command = '/home/neil/lava-lab/shared/lab-scripts/usb_hub_control -u 12 -p 4000 -m off' %}
{% set device_info = [{'board_id': '0123456789'}] %}
{% set static_info = [{'board_id': 'S_N0123456'}] %}
